.bgcolor{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #12acce), color-stop(100%, #5e77ba));
	background-image: -webkit-linear-gradient(top, #12acce, #5e77ba);
	background-image: -moz-linear-gradient(top, #12acce, #5e77ba);
	background-image: -ms-linear-gradient(top, #12acce, #5e77ba);
	background-image: -o-linear-gradient(top, #12acce, #5e77ba);
	background-image: linear-gradient(top, #12acce, #5e77ba);
	margin-top:100px;
}
.offset-s4_5{margin-left: 4.5% !important;}
.heading .underline{border-bottom:1px dashed #FFFFFF;}
.heading h5{margin-bottom:50px;font-size:35px;}
.switch {
  height: 33px;
  width: 153px;
  margin: 0px auto;
  background: #FFF;
  border-radius: 50px;
/*   position: absolute;
  top: 227px;
  left: 41%; */
  background-color:#edeff0;
}
 
.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  font-weight: 600!important;
  width: 75px;
  line-height: 32px!important;
  padding:0 2px!important;  
  font-size: 13px;
  color:#acacac;
  text-align: center;
  cursor: pointer;
  top:0px!important;
  
}
.switch-label:active {
  font-weight: bold;
}
 
.switch-label-off {
  padding-left: 2px;
}
 
.switch-label-on {
  padding-right: 2px;
}
 
 
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: 600;
  color: #fff;line-height:28px;padding:0 2px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
  
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  margin-left: 76px;
  /* Note: left: 50%; doesn't transition in WebKit */
  -webkit-transition: .4s;
  transition: .4s;
}
.switch-input:not(:checked) + .switch-label-on ~ .switch-selection {
  margin-left: 0px;
  -webkit-transition: .4s;
  transition: .4s;
}
 
[type="radio"].switch-input:checked + label:before,
[type="radio"].switch-input:not(:checked) + label:before,[type="radio"].switch-input:checked + label:after,
[type="radio"].switch-input:not(:checked) + label:after
 {
    display: none
}
 
 
.switch-selection {
  /* position: absolute; */
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 77px;
  height: 32px;
  border-radius: 50px;
  background-color: #4a9727;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aee64d), color-stop(100%, #4a9727));
  background-image: -webkit-linear-gradient(top, #aee64d, #4a9727);
  background-image: -moz-linear-gradient(top, #aee64d, #4a9727);
  background-image: -ms-linear-gradient(top, #aee64d, #4a9727);
  background-image: -o-linear-gradient(top, #aee64d, #4a9727);
  background-image: linear-gradient(top, #aee64d, #4a9727);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
 
 
.my_progress{
    height: 10px;
   /*  background: #d4d7e6; */
    border-radius: 30px;
    box-shadow: none;
    overflow: visible;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    -webkit-transition: width .3s linear;
    transition: width .3s linear;
}
.normal{
    background-color: #5bc5c5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc5c5), color-stop(100%, #5f7abc));
    background-image: -webkit-linear-gradient(left, #5bc5c5, #5f7abc);
    background-image: -moz-linear-gradient(left, #5bc5c5, #5f7abc);
    background-image: -ms-linear-gradient(left, #5bc5c5, #5f7abc);
    background-image: -o-linear-gradient(left, #5bc5c5, #5f7abc);
    background-image: linear-gradient(left, #5bc5c5, #5f7abc);
}
.ordinary{
    background-color: #ea5b67;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ea5b67), color-stop(100%, #f2b22d));
    background-image: -webkit-linear-gradient(left, #ea5b67, #f2b22d);
    background-image: -moz-linear-gradient(left, #ea5b67, #f2b22d);
    background-image: -ms-linear-gradient(left, #ea5b67, #f2b22d);
    background-image: -o-linear-gradient(left, #ea5b67, #f2b22d);
    background-image: linear-gradient(left, #ea5b67, #f2b22d);
}
.my_progress .progress-bar{
    border-radius: 30px;
    box-shadow: none;
    position: relative;
    animation: animate-positive 2s;
}
.my_progress .progress-bar:before{
    content: "";
    width: 100%;
    height: 50%;
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.my_progress .progress-bar:after{
    content: "";
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    bottom: -7px;
    right: 0;
    z-index: 1;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
}
@keyframes animate-positive{
    0%{ width: 0; }
}
.progress-title {
    margin-top: -6px;
    /*position: absolute;*/
    margin-left: 10px;
    font-weight: 700;
}
.hidden{display:none !important;}


.pf-btn {
	color: #FFFFFF;
	padding: 16px 40px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
	font-size: 16px;
	text-align: center;
	font-weight: 450;
}
.pf-btn-blank {
    background-color: transparent;
    color: #FFFFFF;
    padding: 12px 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}

.marTop{
top:30% !important;
}