.header{box-shadow: 0px 2px 4px rgba(0,0,0,0.2);padding:0px 0px 5px 0px;margin-bottom:30px;position: fixed;width: 100%;background-color: #FFF;z-index: 99;}
.load_more{padding:14px 0 10px 0 !important;box-shadow: 0 -5px 10px -5px rgba(0,0,0,0.5);}
.load_more a{color:#a09b9d;font-weight:600;}
.upload_container{margin:20px 0px  30px 0px;padding:0 !important;}
.upload_container img{width:100%;display: block;}
.bor{border: 1px solid #e6e6e6;padding: 20px;border-radius: 3px;margin-bottom:30px;}
.pan{text-align: center;margin-bottom: 30px;font-size: 16px;}
/* File Upload */
 
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id1, #logo-id2, #logo-id3, #logo-id4, #logo-id5, #logo-id6 {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height:200px;
}
 
.img-preview1,.img-preview2,.img-preview3,.img-preview4,.img-preview5,.img-preview6 {
   max-width:100%;
 height:105px;
    width:165px;
}