.heading .underline{border-bottom:1px dashed #FFFFFF;}
.heading h5{margin-bottom:50px;font-size:35px;}
.offset-s4_5{margin-left: 4.5% !important;}
.header{box-shadow: 0px 2px 4px rgba(0,0,0,0.2);padding:0px 0px 5px 0px;margin-bottom:30px;margin-bottom: 3px;
position: fixed;width: 100%;background-color: #FFF;z-index: 99;}

.hidden{display:none !important;}

/* .hm-btn{
    color:#FFFFFF;
    padding:11px 32px;
    cursor:pointer;
    text-decoration:none;
    font-weight:600;
    border-radius:3px;
    font-size:18px;
    text-align:center;
	cursor:pointer;
	border:none;
} */

.hm-btn{
    background-color:#89c53f;
    color:#FFFFFF;
    padding:13px 50px;
    cursor:pointer;
    text-decoration:none;
    font-weight:bold;
    /* border:1px solid #fff; */
    border-radius:3px;
    font-size:16px;
    text-align:center;
}

.b-b-n{border-bottom:none;}

.m-b-3{margin-bottom:3px !important;}
.m-b-0{margin-bottom:0 !important;}
.text-white{color:#fff !important;}
#canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		background-color:#FFFFFF;
		width:100%;
		height:auto;
		margin:50px 0;
	}



#panel-1{overflow: hidden;
	position:absolute;height: 500px;margin-top: 62px;
	/* background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0740e5), color-stop(100%, #02bbd9));
    background-image: -webkit-linear-gradient(left, #0740e5, #02bbd9);
    background-image: -moz-linear-gradient(left, #0740e5, #02bbd9);
    background-image: -ms-linear-gradient(left, #0740e5, #02bbd9);
    background-image: -o-linear-gradient(left, #0740e5, #02bbd9);
    background-image: linear-gradient(left, #0740e5, #02bbd9);height:680px; */}

#panel-1 .background-shape {
    background: rgba(0,52,86,0.03);
    position: absolute;
    height: 100%;
    width: 50%;
    content: '';
    top: 20px;
    left: 50%;
    transform: skewX(33deg);
    transform-origin: left bottom;
	
}

.arrow_up{background-color:#FFFFFF;padding: 7px;transform: rotate(270deg);box-shadow: 9px -2px 20px rgba(0,0,0,0.2);border-radius: 50%;width: 60px;height: 60px;position:fixed;bottom:40px;right:80px;cursor:pointer;}
.arrow_up i{font-weight: bold;font-size: 46px;background: -webkit-linear-gradient(#5d7de9, #1ce3da);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

#panel-1 .article{margin-top:6em;padding-left:0;color:#fff;position:absolute;left:15%;}
#panel-1 .article img{margin-left:-26px;display:block;}
#panel-1 .article h1{font-family:Times New Roman;font-weight:550;font-size:6.3em;margin-bottom:0px;background: -webkit-linear-gradient(#05c0b7, #587ee6);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
#panel-1 .article h2{font-family:Times New Roman;font-weight:550;font-size:3.7em;margin-top:10px;margin-bottom:0px;background: -webkit-linear-gradient(#05c0b7, #587ee6);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

#philoso{background-image:url('../image/our-philosphy - Copy.png');height:780px;background-repeat:no-repeat;background-position:right;margin-top:75vh;}
#philoso .arrow_down{background-color:#FFFFFF;padding: 7px;transform: rotate(90deg);box-shadow: 9px -2px 20px rgba(0,0,0,0.2);border-radius: 50%;width: 60px;height: 60px;margin: 10px auto 0 auto;cursor:pointer;}

#philoso .arrow_down i{font-weight: bold;font-size: 46px;background: -webkit-linear-gradient(#5d7de9, #1ce3da);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
#philoso .article{margin-top:150px;padding-left:0;}
#philoso .article h2{font-family:Times New Roman;font-weight:bold;color:#000;font-size:2.2em;}
#philoso .article p{font-size:20px;line-height:28px;font-weight:400;margin-bottom:30px;}
#philoso .article p .subtitle{font-size:16px;}

#our_method{background-image:url('../image/our-method.png');height:760px;background-repeat:no-repeat;background-position:left;margin-top:-20px;}
#our_method .article{padding-top:185px;text-align:right;padding-right:0;}
#our_method .article h2{font-family:Times New Roman;font-weight:bold;color:#000;font-size:2.2em;}
#our_method .article p{font-size:20px;line-height:25px;font-weight:400;margin-bottom:120px;}

#process_flow{margin:50px 0px 0px 0px;}
#process_flow img{width:100%;}

#perform{background-image:url('../image/shape-bg.png');height:770px;background-repeat:no-repeat;background-position:right;margin-bottom:30px;}
#perform .article{margin-top:80px;margin-bottom:20px;padding-left:0;}
#perform .article h2{font-family:Times New Roman;font-weight:bold;color:#000;font-size:2.2em;margin-bottom:60px;}
#perform .article p{font-size:20px;line-height:25px;font-weight:400;margin-bottom:60px;}

#panel-5{margin-top:-20px;background-color:#82b1ff;text-align:center;height:auto;}
#panel-5 h2{font-weight:300;color:#FFFFFF;font-size:2.4em;margin-bottom:1.5em;}
#panel-5 h2 span{border-bottom:3px dashed #fff;}
#panel-5 p{margin:30px 0px;}

#panel-4{background-color:#fffff5;height:auto;background-repeat:no-repeat;background-size:100%;}
#panel-4 .article{margin-top:40px;margin-bottom:50px;padding-left:0;}
#panel-4 .article h2{font-family:Times New Roman;font-weight:bold;color:#000;font-size:2.7em;margin-bottom:40px;}
#panel-4 .article p{font-size:20px;font-weight:430;line-height:25px;}
#panel-4 .article .small{font-size:14px !important;font-weight:450;line-height:23px;}
#panel-4 .article img{height: 100%;width:100%;}

#offer{background-image:url('../image/offer_bg.png');height:450px;background-repeat:no-repeat;background-size:100%;}
#offer .collapsible{margin-top:80px;}
.collapsible .cust-header{background-color:rgba(255,255,255,0.4);border:none;color:#fff;border-bottom:1px solid rgba(255,255,255,0.2);}
.collapsible .cust-header strong{color:#fff;width:97%;}
.collapsible .cust-body{color:#fff;background-color:rgba(255,255,255,0.4);border:none;}
.collapse-radius{border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.collapse-bottom-bot{/* border:1px solid #979797; */}
.collapsible-body ul{list-style-type:circle !important;}
.collapsible-body ul li {padding-bottom:10px;}

#risk_maneg{margin-top:15px;}
#risk_maneg h2{font-family:Times New Roman;font-weight:bold;color:#000;}

#how_work{margin-top:34px;}
#how_work h2{font-family:Times New Roman;font-weight:bold;color:#000;text-align:center;margin:0px 0px 140px 0px;}
#how_work .banner{background-image:url('../image/equity-how-it-works.png');background-repeat:no-repeat;height:880px;padding-top:0px;background-position-y:20px;}
#how_work .offset-5{margin-left:45.6% !important;}

#about-panel-2{height:auto;margin-bottom:20px;margin-top:0px;z-index:-20;}
#about-panel-2 .container{background-color:#e7f0ff;padding:30px 40px 20px 40px;}
#about-panel-2 .container h2{font-family:Times New Roman;font-weight:bold;color:#000;font-size:2.2em;margin:0px 0px 30px 0px;}
#about-panel-2 .container .image-panel{width:48%;}
#about-panel-2 .container .image-panel img{display: block;max-width: 100%;height: auto;}
#about-panel-2 .container .article-panel{background-color:#FFFFFF;border-radius:5px;min-height:367px;max-height:auto;width:52%;padding:20px 25px;overflow:hidden;}
#about-panel-2 .container .article-panel .hr{border-radius:5px;width:40px;padding:2.5px;}
#about-panel-2 .container .article-panel h2{font-family:Times New Roman;font-weight:bold;color:#000;font-size:2.2em;margin:0px 0px 10px 0px;}
#about-panel-2 .container .article-panel p{font-size:18px;line-height:20px;font-weight:500;margin-bottom:20px;font-style:italic;line-height:33px;}

#panel-6{height:auto;background-repeat:no-repeat;background-size:100%;margin-bottom:20px;}
#panel-6 .article{margin-top:10px;margin-bottom:50px;padding-left:0;}
#panel-6 .article h2{font-family:Times New Roman;font-weight:bold;color:#000;font-size:2.7em;margin-bottom:40px;}
#panel-6 .box{margin:16px;width:31%;border:1px solid #dbdbdb;border-radius:3px;min-height:170px;max-height:auto;background-color:#fff;padding:10px 10px;}
#panel-6 .box img{height:60px;margin-top:50px;}
#panel-6 .box h6{font-weight:600;font-size:16px;}
#panel-6 .box small{font-weight:600;font-size:13px;}
#panel-6 .box small i{font-size:13px;}
#panel-6 .box p{font-size:14px;}

#contact-panel-2{height:auto;margin:20px 0px 10px 0px;}
#contact-panel-2 .article{padding-left:0;}
#contact-panel-2 .article h2{font-family:Times New Roman;font-weight:600;color:#000;font-size:2.3em;color:#fff;margin:0px 0px 10px 0px;}



.b-b-n{border-bottom:none;}
.speech-bubble-right-top {
    position: relative;
    background: #70b2e1;
    border-radius: 5px;
    height:180px;
    width:260px;
    padding:10px 20px 10px 20px;
    color:#fff;
    margin-bottom:20px;
	text-align:center;
	font-size:17px;
}
 
.speech-bubble-right-top:after {
    content: '';
    position: absolute;
    bottom: 40%;
    left: 100%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #70b2e1;
    border-top: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}
.speech-bubble-left-top {
    position: relative;
    background: #70b2e1;
    border-radius: 5px;
    height:180px;
    width:260px;
    padding:10px 20px 10px 20px;
    color:#fff;
    text-align:right;
    margin-bottom:20px;
	text-align:center;
	font-size:17px;
}
 
.speech-bubble-left-top:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-right-color: #70b2e1;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
}
 
.speech-bubble-left-bottom {
    position: relative;
    background: #70b2e1;
    border-radius: 5px;
    height:180px;
    width:260px;
    padding:10px 20px 10px 20px;
    color:#fff;
    text-align:right;
    margin-bottom:20px;
	text-align:center;
	font-size:17px;
}
 
.speech-bubble-left-bottom:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 30%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-right-color: #70b2e1;
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -20px;
}
.speech-bubble-right-bottom {
    position: relative;
    background: #70b2e1;
    border-radius: 5px;
    height:180px;
    width:260px;
    padding:10px 20px 10px 20px;
    color:#fff;
    margin-bottom:20px;
	text-align:center;
	font-size:17px;
}
 
.speech-bubble-right-bottom:after {
    content: '';
    position: absolute;
    top: 30%;
    left: 100%;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-left-color: #70b2e1;
    border-right: 0;
    border-top: 0;
    margin-left: -10px;
    margin-bottom: -20px;
}
 
.speech-bubble-left-top h6,.speech-bubble-right-top h6,.speech-bubble-left-bottom h6,.speech-bubble-right-bottom h6{font-weight:bold;font-size:20px;}
.m-b-3{margin-bottom:3px !important;}

.btn-blank{
    text-align: center;
    border-radius: 3px;
	background-color:#FFF;
	color:#000;
    padding:13px 0px;
	font-weight:600 !important;
	cursor:pointer;
}
.btn-blank span {
	margin: 1.5px 1.5px;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #000;
	padding:11px 30px;
	width:100%;
	font-weight:600 !important;
	cursor:pointer;	
}

.img-responsive{display:block;max-width:100%;height:auto;}

.margin-t-10{margin-top:10px !important;}

#footer{
	background-color: #05c0b7;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #05c0b7), color-stop(100%, #587ee6));
    background-image: -webkit-linear-gradient(left, #05c0b7, #587ee6);
    background-image: -moz-linear-gradient(left, #05c0b7, #587ee6);
    background-image: -ms-linear-gradient(left, #05c0b7, #587ee6);
    background-image: -o-linear-gradient(left, #05c0b7, #587ee6);
    background-image: linear-gradient(left, #05c0b7, #587ee6);	
}

.form-group {
    margin: 1rem 0;
}
.form-group .form-control {
    display: block;
    width: 100%;
    padding: 12px 0px 12px 10px !important;
    font-size: 1rem;
    line-height: 1.5;
    color: #7b7070;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
	font-weight:500;
	height:auto !important;
}
.form-group .textarea{
    height:162px !important;
	border:none !important;
	resize:none;
}
.form-group button{
	margin:10px 10px;
	width:96%;
}
.text-group{
	border: 1px solid #dbdbdb;border-radius: 4px;
}

.form-group .form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
	border-bottom:1px;
    box-shadow:none !important;
}
::placeholder {
    color: #7b7070;
    opacity: 1; /* Firefox */
	font-weight:500;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #7b7070;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #7b7070;
}

/* blog page */

#blog, #blogview{margin-top:60px;margin-left:-10px;margin-right:-10px;}
#blog .card{margin-top:40px;margin-bottom:0px;}
#blog .card .card-content{padding:15px;}
#blog .card .card-content h2{margin:0px;font-size:16px;padding:0px;font-weight:600;margin-bottom:10px;line-height:22px;}
#blog .card .card-content p{margin-bottom:15px;font-size:14px;}
#blog .card .card-content span{color:#9b9b9b;font-weight:600;}
#blog .card .card-content a{font-weight:600;color:#0978e6;}
#blog .card .card-content i{font-weight:600;color:#0978e6;}

#blogview h2{margin:0px;font-size:18px;padding:0px;font-weight:600;margin-bottom:10px;line-height:22px;}
#blogview .card{margin:40px auto;}
#blogview .post, .views{font-size:16px;color:#dddddd;}
#blogview .hr{border:1px solid #ddd;margin:15px 0;}
#blogview .card .card-content p{margin-bottom:15px;font-size:13px;color:#000;line-height:25px;}
#blogview .card .card-content p strong{font-weight:bold;}
#blogview .card .card-action {border:none;}
#blogview .card .card-action a{margin-right:0px;}
#comment h2{color:#9b9b9b;font-size:20px;margin-bottom:20px;}
#comment .box{background-color:#f6f6f6;padding:30px;}
#comment .box .semi-box{border:1.5px solid #9b9b9b;border-radius:5px;background-color:#fff;padding:15px 15px 5px 0px;}
#comment .box .semi-box textarea{height:100px;resize:none;width:80%;border:none;}
#comment .box .semi-box textarea:focus{border:none;box-shadow:none;-webkit-box-shadow:none;}
#comment .box .semi-box button{margin-bottom:10px;}

#category .card .card-header{font-size:18px;font-weight:bold;padding:10px 15px;background-color:#fff5d9;}
#cat-list{list-style-type:none;margin-top:-10px;padding:0px;}
#cat-list li {padding:8px 0;}
#cat-list li a{color:#000;font-weight:600;font-weight:20px;}

.con-text{width:55%;padding-right:0;}

/*14-08-2018*/
.hide-focus:focus{-webkit-box-shadow:none !important;box-shadow:none !important;}
#canvas{height:400px;}
@media only screen and (max-width: 600px) {
#panel-1{margin-top: 40px;height:auto;height: 100vh;}
#panel-1 .article{padding-top: 80px;margin-top:0px;text-align:center;position:absolute;left:0;} /* r problem*/
#panel-1 .article h2{font-size:2.8em} /* r problem*/
#panel-1 .article img{height:auto;width:100%;margin-top:30%;margin-left:0;margin-bottom:20px;} /* r problem*/
#panel-1 .background-shape{height:107vh;top:0;left:47%;}
#philoso{background-position:top;background-repeat:no-repeat;background-size:100%;margin-top: 100vh;height:auto;}
#our_method, #perform{background-position:top;background-repeat:no-repeat;background-size:100%;margin-top: 0px;height:auto;}
#our_method{margin-top: 30px;}
#philoso .article{padding-top:60%;}

#our_method .article{padding-top:100%;}
#our_method .article p{margin-bottom:40px;}
#perform .article{margin-top:40px;}
#offer{height:auto;background-size:cover;}
#offer img{height:100%;width:100%;}
#risk_maneg h2{font-size:2.2em;}
#how_work .banner{background-position:top;background-repeat:no-repeat;background-size:100%;margin-top: 0px;height:auto;}
#how_work h2{font-size:2.2em;margin-bottom:50px;}
#how_work .banner h2{font-size:2.2em;}
#how_work .offset-5{margin-left:0 !important;}
#how_work .article{padding-top:100%;}
.speech-bubble-right-top,.speech-bubble-left-top,.speech-bubble-right-bottom,.speech-bubble-left-bottom{width:100%;}
.speech-bubble-right-top:after,.speech-bubble-left-top:after,.speech-bubble-right-bottom:after,.speech-bubble-left-bottom:after{
	content:'';
	border:none;
	width:100%;
}
#about-panel-2 .container h2{ margin: 20px 0px 20px 0px;}
#about-panel-2 .container .image-panel{width:100%;padding-right:0 !important;padding-left:0 !important;margin:10px 0;}
#about-panel-2 .container .article-panel {width:100%;}
#panel-6 .box{width:100%;margin: 16px 0 0 0;}
.con-text{width:100%;padding:0 !important;}
#about-panel-2 .container{width:100%;padding:0px 30px;}
}