.m-b-3{margin-bottom:3px !important;}
.navbar-custome-width{
  max-width: 81%;
  margin: 0 auto;
}
.riskManagementProcess ul li{
  line-height: 50px;
  cursor: pointer;
}
.nav>li{
cursor: pointer;
}
.item-con-align span.left-con{
  display: inline-block;
  min-width: 65px;
}
.item-con-align span.right-con{
  display: inline-block;
  min-width: 65px;
}
.tooltip {
  position: relative;
  display: block;
  border-bottom: 1px dotted #587ee6;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 420px;
  background-color: #587ee6;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 20%;
  margin-left: -70px;
}
.collection {
  margin: .5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: visible;
  position: relative;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #587ee6;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}




.collection .collection-item.active {background-color: #d4f8f8;color: #212121;font-weight: 700;}
.mt40{margin-top: 40px;}
.mb70{margin-bottom: 70px;}
.hiw-bgcolor{background-color: #f6f6f6;}
.header-image img{ margin-top: 74px; position: relative;}
.header-image h2{     position: absolute;
  top: 35%;
  color: white;
  font-size: 2.5em;
  text-align: center;
  width: 100%;
  font-weight: 600;}
.bgcolor-price{background-color: #f9f9f7 !important}
.fs12{font-size: 12px;font-weight: 600;}
.secondary-content {float: right; color: #212121;}
.riskManagementProcess {
  background-color: aliceblue;
padding: 10px 15px;
font-size: 14px;
font-weight: 600;
}
.riskManagementProcess ul li a{color: #000000;font-weight: 600;}
.price h2 {
  font-weight: bold;
  color: #000;
  font-size: 1.6em !important;
  margin-bottom: 0px !important;
  margin-top: 0px;
}
.price .sub-header{
  font-size: 16px !important;
  font-weight: 600;
  margin-top: 1px;
}
.material-tooltip {
  padding: 7px 10px 10px 10px;
  border-radius: 2px;
  background: #587ee6;
  overflow: visible;
  color: white;
  font-size: 11px;
  width: 150px;
  /* left: 22% !important; */
}

.material-tooltip .backdrop {
  display: none !important;
}
.bgimage-how{
  background: url('/client/image/How-it-works-2.jpg');
  background-size: cover;
  background-position: center center;
  min-height: 800px;
  min-width: 100%;
}
.material-tooltip:after {
  position: absolute;
  content: " ";
  top: 0%;
  left: 5%;
  margin-top: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  transform: rotate(180deg);
  border-width: 14px 14px 0px 14px;
  border-color: #587ee6 transparent transparent transparent;
  overflow: hidden;
}
.m-b-0{margin-bottom:0 !important;}
.hm-btn{background-color:#89c53f;color:#FFFFFF;padding:13px 50px;cursor:pointer;text-decoration:none;
border-radius:3px;font-size:16px;text-align:center;}
.gradient{background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d7de9), color-stop(100%, #1ce3da));background-image: -webkit-linear-gradient(bottom, #5d7de9, #1ce3da);background-image: -moz-linear-gradient(bottom, #5d7de9, #1ce3da);background-image: -ms-linear-gradient(bottom, #5d7de9, #1ce3da);background-image: -o-linear-gradient(bottom, #5d7de9, #1ce3da);background-image: linear-gradient(bottom, #5d7de9, #1ce3da);border:none;box-shadow: 10px 12px 10px rgba(0,0,0,0.1);}
.gradient2{background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #aa90e2), color-stop(100%, #f7abdd));background-image: -webkit-linear-gradient(left, #aa90e2, #f7abdd);background-image: -moz-linear-gradient(left, #aa90e2, #f7abdd);background-image: -ms-linear-gradient(left, #aa90e2, #f7abdd);background-image: -o-linear-gradient(left, #aa90e2, #f7abdd);background-image: linear-gradient(left, #aa90e2, #f7abdd);}
.btn-blank{text-align: center;border-radius: 3px;background-color:#FFF;color:#000;padding:13px 26px;font-weight:600 !important;
cursor:pointer;border:none;}
.collapsible .cust-header{background-color:rgba(255,255,255,0.4);border:none;color:#fff;border-bottom:1px solid rgba(255,255,255,0.2);}
.collapsible .cust-header strong{color:#fff;width:97%;}
.collapsible .cust-body{color:#fff;background-color:rgba(255,255,255,0.4);border:none;}
.collapse-radius{border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
.collapse-bottom-bot{/* border:1px solid #979797; */}
.collapsible-body ul{list-style-type:circle !important;}
.collapsible-body ul li {padding-bottom:10px;}
.b-b-n{border-bottom:none;}
.padding-r-0{padding-right:0 !important;}
#canvas{height:400px;-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;background-color:#FFFFFF;width:100%;height:auto;margin:50px 0;}
.arrow_up{background-color:#FFFFFF;padding: 7px;transform: rotate(270deg);box-shadow: 9px -2px 20px rgba(0,0,0,0.2);border-radius: 50%;width: 60px;height: 60px;position:fixed;bottom:40px;right:80px;cursor:pointer;}
.arrow_up i{font-weight: bold;font-size: 46px;background: -webkit-linear-gradient(#5d7de9, #1ce3da);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.bg-blue{background-color:#a9cc3b;}
.mod-footer{background-color:#A9CC3B;position: absolute;margin-top:-5px;width:50%;}
.mod-footer ul li{list-style: none;width: 49%;display: inline-block;text-align: center;color: #fff;font-size: 20px;}


header{box-shadow: 0px 2px 4px rgba(0,0,0,0.2);/* padding:10px 0px 5px 0px; */padding: 5px 0px 0px 0px;margin-bottom:30px;margin-bottom: 3px;position: fixed;width: 100%;background-color: #FFF;z-index: 9999;}
header img{height:60px;}

#panel-1{overflow: hidden;position:absolute;height: 500px;margin-top: 62px;}
#panel-1 .article{margin-top:6em;padding-left:0;color:#fff;position:absolute;left:15%;}
#panel-1 .article img{margin-left:-26px;display:block;}
#panel-1 .article p{
  margin-top: 0;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 30px;
  color:blue;
  max-width: 673px;
  text-shadow: -2px 10px 15px rgba(150, 150, 150, 1);
}
.navbar-nav>li>a {
  font-weight: bold;
  padding: 9px 20px 10px 0px !important;
}

.notification-modal{
  background-color: white;
  border-radius: 10px;
  top:13% !important;
  max-width:593px;
}
.notification-modal h6{
font-size: 20px;
    font-weight: 600;
}

.notification-modal .modal_close_btn{
  border-radius: 30px;
  text-transform: capitalize;
}

.notification-modal table, th, td {
  border: 1px solid #afafaf;
  padding:5px 5px;
}


#panel-2{background-image:url('../image/our-philosphy - Copy.png');height:780px;background-repeat:no-repeat;background-position:right;margin-top:75vh;}
#panel-2 .arrow_down{background-color:#FFFFFF;padding: 7px;transform: rotate(90deg);box-shadow: 9px -2px 20px rgba(0,0,0,0.2);border-radius: 50%;width: 60px;height: 60px;margin: 10px auto 0 auto;cursor:pointer;}
#panel-2 .arrow_down i{font-weight: bold;font-size: 46px;background: -webkit-linear-gradient(#5d7de9, #1ce3da);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
#panel-2 .article{margin-top:150px;padding-left:0;}
#panel-2 .article h2{font-family:Calibri;font-weight:bold;color:#000;font-size:2.7em;}
#panel-2 .article p{font-size:18px;line-height:28px;font-weight:400;margin-bottom:30px;}

#panel-3{background-image:url('../image/investment.png');height:760px;background-repeat:no-repeat;background-position:left;margin-top:-20px;}
#panel-3 .article{padding-top:185px;text-align:right;padding-right:0;}
#panel-3 .article h2{font-family:Calibri;font-weight:bold;color:#000;font-size:2.7em;}
#panel-3 .article p{font-size:18px;line-height:25px;font-weight:400;margin-bottom:80px;}

#panel-4{background-image:url('../image/shape-bg.png');height:770px;background-repeat:no-repeat;background-position:right;margin-bottom:30px;}
#panel-4 .article{margin-top:80px;margin-bottom:20px;padding-left:0;}
#panel-4 .article h2{font-family:Calibri;font-weight:bold;color:#000;font-size:2.7em;margin-bottom:60px;}
#panel-4 .article p{font-size:20px;line-height:25px;font-weight:400;margin-bottom:60px;}

#panel-5{margin-top:-20px;background-image:url(../image/offer_bg.png);text-align:center;height:auto;background-size:cover;}
#panel-5 .article h2{font-weight:300;color:#FFFFFF;font-size:2.7em;margin-bottom:1.5em;}
#panel-5 .article h2 span{border-bottom:3px dashed #fff;}
#panel-5 .article h2 span input[name="price"]{width:150px;border:none;color:#fff;font-size:32px;}
#panel-5 .article h2 span input[name="year"]{width:40px;border:none;color:#fff;font-size:32px;}
#panel-5 .article p{margin:30px 0px;}

#panel-6{background-color:#fffff5;height:auto;background-repeat:no-repeat;background-size:100%;}
#panel-6 .article{margin-top:40px;margin-bottom:50px;padding-left:0;}
#panel-6 .article h2{font-family:Calibri;font-weight:bold;color:#000;font-size:2.7em;margin-bottom:40px;}
#panel-6 .article p{font-size:20px;font-weight:430;line-height:25px;}
#panel-6 .article .small{font-size:14px !important;font-weight:450;line-height:23px;}
#panel-6 .article img{height: 100%;width:100%;}

#panel-7{background-image:url('../image/offer_bg.png');height:450px;background-repeat:no-repeat;background-size:100%;}
#panel-7 .collapsible{margin-top:80px;}

#panel-8{margin-top:15px;}
#panel-8 h2{font-family:Calibri;font-weight:bold;color:#000;font-size:2.7em;margin-bottom:14px;}

#panel-9{margin-top:34px;}
#panel-9 h2{font-family:Calibri;font-weight:bold;color:#000;font-size:2.7em;margin-bottom:0px;}

#panel-9 .box{border-radius:5px;box-shadow:0px 2px 5px rgba(0,0,0,0.2);min-height:140px;margin-bottom:30px;border:none;}
#panel-9 .box .title{color:#FFFFFF;font-size:2em;text-align: center;font-weight: 600;padding: 5px 0px;border-top-left-radius:5px;border-top-right-radius:5px;}  
#panel-9 .box .box_body{padding: 0px 10px 10px;}
#panel-9 .box .box_body h3{font-size: 1.2em;font-weight: 600;}
#panel-9 .article{margin-bottom:60px;background: #f6f6f6;text-align: center;}

  
#panel-9 .offset-5{margin-left:45.6% !important;}

.speech-box{position: relative;background: #70b2e1;border-radius: 5px;height:180px;width:260px;padding:10px 20px 10px 20px;color:#fff;margin-bottom:20px;text-align:center;font-size:17px;}
.speech-bubble-right-top {}
.speech-bubble-right-top:after {content: '';position: absolute;bottom: 40%;left: 100%;width: 0;height: 0;border: 50px solid transparent;border-bottom-color: #70b2e1;border-top: 0;border-left: 0;margin-left: -10px;margin-bottom: -20px;}
.speech-bubble-left-top {}
.speech-bubble-left-top:after {content: '';position: absolute;left: -20px;top: 50%;width: 0;height: 0;border: 50px solid transparent;border-right-color: #70b2e1;border-left: 0;border-bottom: 0;margin-top: -10px;margin-left: -20px;}
.speech-bubble-left-bottom {}
.speech-bubble-left-bottom:after {content: '';position: absolute;left: -20px;top: 30%;width: 0;height: 0;border: 50px solid transparent;border-right-color: #70b2e1;border-left: 0;border-top: 0;margin-top: -10px;margin-left: -20px;}
.speech-bubble-right-bottom {}
.speech-bubble-right-bottom:after {content: '';position: absolute;top: 30%;left: 100%;width: 0;height: 0;border: 50px solid transparent;border-left-color: #70b2e1;border-right: 0;border-top: 0;margin-left: -10px;margin-bottom: -20px;}
.speech-bubble-left-top h6,.speech-bubble-right-top h6,.speech-bubble-left-bottom h6,.speech-bubble-right-bottom h6{font-weight:bold;font-size:20px;}

#panel-10{height:auto;margin-top:0px;z-index:-20;background-color:#e7f0ff;}
#panel-10 .container{/* padding:30px 40px 20px 40px; */padding:30px 10px 20px 10px;}
#panel-10 .container h2{font-family:Calibri;font-weight:bold;color:#000;font-size:2.2em;margin:0px 0px 30px 0px;}
#panel-10 .container .image-panel{width:45%;}
#panel-10 .container .image-panel img{display: block;max-width: 100%;height: auto;}
#panel-10 .container .article-panel{background-color:#FFFFFF;border-radius:5px;min-height:367px;max-height:auto;width:55%;padding:20px 25px;overflow:hidden;}
#panel-10 .container .article-panel .hr{border-radius:5px;width:40px;padding:2.5px;}
#panel-10 .container .article-panel h2{font-family:Calibri;font-weight:bold;color:#000;font-size:2.7em;margin:0px 0px 10px 0px;}
#panel-10 .container .article-panel p{font-size:18px;line-height:20px;font-weight:500;margin-bottom:20px;font-style:italic;line-height:33px;}

#panel-11{height:auto;margin:20px 0px 10px 0px;}
#panel-11 .article{padding-left:0;}
#panel-11 .article h2{font-family:Calibri;font-weight:600;color:#000;font-size:2.3em;color:#fff;margin:0px 0px 10px 0px;}

#copyright{background-color:rgba(0,0,0,0.2);padding:15px 10px 10px 10px;}

footer{background-color: #05c0b7;background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #05c0b7), color-stop(100%, #587ee6));background-image: -webkit-linear-gradient(left, #05c0b7, #587ee6);background-image: -moz-linear-gradient(left, #05c0b7, #587ee6);background-image: -ms-linear-gradient(left, #05c0b7, #587ee6);background-image: -o-linear-gradient(left, #05c0b7, #587ee6);background-image: linear-gradient(left, #05c0b7, #587ee6);color:#FFFFFF;margin-bottom:0 !important;padding-top:10px;	}
footer ul {padding: 0px;}
footer ul li{color: white !important;list-style-type: none;margin: 3% 0;line-height: 29px;font-size:13px;white-space: nowrap;}
footer .social-list li{color: white !important;list-style-type: none;margin: 3% 0;line-height: 29px;font-size:13px;float:left;}
footer .social-list li a{padding-right: 10px;}
footer h4 {color: white !important;margin: 3% 0;font-size: 17px !important;margin-bottom: 20px;}
footer ul li a{color:#fff;cursor: pointer;}
footer ul li a:hover{text-decoration:underline;}
footer small{letter-spacing:1px;}
.form-group {margin: 1rem 0;}
.form-group .form-control {display: block;width: 100%;padding: 12px 0px 12px 10px !important;font-size: 1rem;line-height: 1.5;color: #7b7070;background-color: #fff;background-clip: padding-box;border: 1px solid #dbdbdb;border-radius: 3px;font-weight:500;height:auto !important;}
.form-group .textarea{height:162px !important;border:none !important;resize:none;}
.form-group button{margin:10px 10px;width:96%;}
.text-group{border: 1px solid #dbdbdb;border-radius: 4px;}
.form-group .form-control:focus {color: #495057;background-color: #fff;outline: 0;border-bottom:1px;box-shadow:none !important;}
::placeholder {color: #7b7070;opacity: 1; /* Firefox */font-weight:500;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #7b7070;}
::-ms-input-placeholder { /* Microsoft Edge */color: #7b7070;}
.profile-img{height:45px !important;width:45px !important;margin-top:2px;}
.badgeMar{margin:5px 20px 0px 0px!important;}
.profile-pic img{height:100px !important;}
.profile-pic span{position:absolute;margin-top: -30px;background:rgba(0,0,0,0.5);border-radius:50%;height:28px;width:28px;padding:1px 2px;cursor:pointer;}
@media only screen and (max-width: 600px) {
  .youtube_video iframe{
  width:100%;
  height:auto;
  }
  article{
    width: 100%;
    overflow:scroll;
  }
  .how_works_img{
    margin-bottom: 10px;
  }
  .mb-40{
    margin-bottom: 40px;
  }
  .header-image h2 {
    position: absolute;
    top: 34%;
    color: white;
    font-size: 17px;
    text-align: center;
    width: 100%;
    font-weight: 600;
    background-color: #01115a;
    padding: 18px 0px;
}
.mb70{margin-bottom: 0;margin-top: 20px;
  font-size: 12px;}
.mt40 {
  margin-top: 20px;
}
.tax_apli{
  text-align: left !important;
  margin-top: 10px !important;
  font-size: 11px !important;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #587ee6;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 26%;
  margin-left: -70px;
}
.ml0{
  margin-left: 0px !important;
}
.collapsible-body .row i {
  padding: 5px 17px 14px 14px !important;
  border-top-left-radius: 5px;
  min-height: 343px !important;
  border-bottom-left-radius: 5px;
}
.collapsible-header .row i {
  padding: 10px 33px 19px 15px !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 137px !important;
}

#panel-1{margin-top: 40px;height:auto;height: 100vh;}
#panel-1 .article{padding-top: 80px;margin-top:0px;text-align:center;position:absolute;left:0;} /* r problem*/
#panel-1 .article h2{font-size:2.8em} /* r problem*/
#panel-1 .article img{height:auto;width:100%;margin-top:30%;margin-left:0;margin-bottom:20px;} /* r problem*/
#panel-1 .background-shape{height:107vh;top:0;left:47%;}
#panel-2{/* background-position:top;background-repeat:no-repeat;background-size:100%; */margin-top: 100vh;height:auto;background-image:none;background-color:#fff9e8;}
#panel-2 .article{padding-top:0;margin-top:0;padding-bottom:60px;}
#panel-2 .article .mback{width: 112%;height:auto;margin-top:-60px;}
#panel-2 .article h1{font-size:2em;}
#panel-2 .article p{font-size:14px;text-align:justify;}
#panel-3{background-image:none;margin-top: 0px;height:auto;}
#panel-3 .article .mback{width: 100%;height:auto;}
#panel-4{background-position:top;background-repeat:no-repeat;background-size:100%;;margin-top: 0px;height:auto;}
#panel-3{margin-top: 30px;margin-bottom:0px;}
#panel-3 .article{padding-top:80%;}
#panel-3 .article h2{font-size:2em;text-align:left;}
#panel-3 .article p{font-size:14px;text-align:justify;}
#panel-4{background-image:none;}
#panel-4 .article h2{font-size:2em;}
#panel-4 .article p{font-size:14px;text-align:justify;}
#canvas{margin-top:10px;height:225px !important;}
#panel-5 .article h2{line-height:45px;margin-bottom:0;font-size:1.4em;}

#panel-6 .article{margin-top:20px;margin-bottom:20px;}
#panel-6 .article h2{font-size:2em;}
#panel-6 .article p{text-align:center;    margin-top: 10px;
  font-size: 14px !important;}

#panel-8 .article h2{font-size:2em;}
#panel-8 .article p{font-size:14px;text-align:justify;}

#panel-3 .article{padding-top:0;}
#panel-3 .article p{margin-bottom:40px;}
#panel-4 .article{margin-top:0px;}
#panel-4 .article h2 {margin-bottom:0px;}
#panel-7{height:auto;background-size:cover;}
#panel-7 img{height:100%;width:100%;}
#panel-8 h2{font-size:2.2em;}
#panel-9 .banner{background-image:none;margin-top: 0px;height:auto;}
#panel-9 h2{font-size:2.2em;margin-bottom:50px;}
#panel-9 .banner h2{font-size:2.2em;}
#panel-9 .offset-5{margin-left:0 !important;}
.speech-box{width:100%;}
.speech-bubble-right-top:after,.speech-bubble-left-top:after,.speech-bubble-right-bottom:after,.speech-bubble-left-bottom:after{content:'';border:none;width:100%;}
#panel-10 .container h2{ margin: 20px 0px 20px 0px;font-size:2em;}
#panel-10 .container .image-panel{width:100%;padding-right:0 !important;padding-left:0 !important;margin:10px 0;}
#panel-10 .container .article-panel {width:100%;}
#panel-10 .container .article-panel h2{font-size:2em;}
#panel-10 .container .article-panel p{font-size:16px;}
.con-text{width:100%;padding:0 !important;}
#panel-10 .container{width:100%;padding:0px 30px;}

#panel-11 .article{text-align:justify;}
#panel-11 .article h2{font-size:2em;}
#panel-11 .article p{font-size:14px;}
.form-group button{width:94%;}
#copyright small{display:block;float:left !important;padding:10px 0;}
.mar-b-30 {margin-bottom:30px;}
.mpadding-0{padding:0 !important;}
.center1{text-align:center !important;}
.recommend_text{line-height:1.5em;font-family:Calibri;font-size:2.5em !important;font-weight:530;}
#chart-area{margin-left: -50px !important;margin-top: -55px !important;}
.pf-btn,.pf-btn-blank{width:100% !important;font-size:14px;}
.moni-btn{line-height:30px !important;}
.switch1{top: 380px !important;left: 18% !important;}
.badgeMar{margin:0px 0px 0px 0px!important;}
th {padding: 15px 5px !important;}
.profile-pic span{margin-left: -22px;margin-top: 68px;}


}
.btn-small:disabled{color:#FFF !important;}
.recommend_text{line-height:1.2em;font-family:Calibri;font-size:3em;font-weight:530;}
/* dashboard design */
#dash-panel-1{color:#fff;height:auto;background-image: -webkit-linear-gradient(left, rgb(25, 231, 218), rgb(92, 126, 233));margin-top:70px;padding:40px 0 0 0;}
#dash-panel-1 h1{font-size:1.6em;margin:0px 0px 10px 0px;padding:0;font-weight:600;}
#dash-panel-1 h5{font-size:1.2em;margin:0px 0px 10px 0px;padding:0;margin-top:}
#dash-panel-2{margin-top:60px;}
#dash-panel-2 h5{font-size:14px;text-align:center;font-weight:700;}
#dash-panel-2 h1{font-size:2em;text-align:center;font-weight:700;margin:25px 0 0px 0;}
#dash-panel-3{margin-bottom:40px;}
#dash-panel-4{background-color:#5f79ea;padding:40px 0;}
#dash-panel-4 h2{color:#fff;font-size:18px;}
#dash-panel-4 .table{background-color:#fff;margin-bottom:60px;}
#dash-panel-4 .table th{color:#fff;border:none !important;}

.thumbnail-box {
    height: auto;
    padding: 0px 0px;
    border: none;
    box-shadow: 0px 2px 3px #DDD;
    margin-bottom: 0px;
}
.thumbnail {
    display: block;
    height: auto;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail-panel {
    height: 70px;
    margin-bottom: 50px;
	text-align:center;
}
.thumbnail-panel .thumbnail-img {
    margin: 15px auto 0px auto !important;
}
.thumbnail-box .caption {
    padding-bottom: 15px;
}

.switch1 {
  height: 40px;
  width: 250px;
  margin: 0px auto;
  background: #FFF;
  border-radius: 50px;
  border:2px solid #EEE;
  position: absolute;
  /* top: 227px; */
  top: 248px;
  left: 41%;
}

.switch-label1 {
  position: relative;
  z-index: 2;
  float: left;font-weight: bold!important;
  width: 120px;
  line-height: 37px!important;padding:0 2px!important;  
  font-size: 14px;
  color: #000;
  text-align: center;
  cursor: pointer;
  top:0px!important;
}
.switch-label1:active {
  font-weight: bold;
}

.switch-label-off1 {
  padding-left: 2px;
}

.switch-label-on1 {
  padding-right: 2px;
}


.switch-input1 {
  display: none;
}
.switch-input1:checked + .switch-label1 {
  font-weight: bold;
  color: #fff;line-height:28px;padding:0 2px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
.switch-input1:checked + .switch-label-on1 ~ .switch-selection1 {
  left: 126px;
  /* Note: left: 50%; doesn't transition in WebKit */
}

[type="radio"].switch-input1:checked + label:before,
[type="radio"].switch-input1:not(:checked) + label:before,[type="radio"].switch-input1:checked + label:after,
[type="radio"].switch-input1:not(:checked) + label:after
 {
    display: none
}


.switch-selection1 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 120px;
  height: 36px;
  border-radius: 50px;
  background-color: #5c7ee9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #19e7da), color-stop(100%, #5c7ee9));
  background-image: -webkit-linear-gradient(left, #19e7da, #5c7ee9);
  background-image: -moz-linear-gradient(left, #19e7da, #5c7ee9);
  background-image: -ms-linear-gradient(left, #19e7da, #5c7ee9);
  background-image: -o-linear-gradient(left, #19e7da, #5c7ee9);
  background-image: linear-gradient(left, #19e7da, #5c7ee9);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -ms-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #fff;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}
.gradient-top-border {
    border-top: 4px solid transparent;
    border-image: linear-gradient(to right,#19e7da , #5983e9);
    border-image-slice: 1;
}
.dropdown-content{width:200px !important;height:160px !important;}
/* disclaimers */
#disclaimer{margin-top:90px;}
#disclaimer article h1{font-family:Calibri;font-weight:bold;color:#000;font-size:2.2em;margin-bottom:30px;}
#disclaimer article h2{font-family:Calibri;font-weight:bold;color:#000;font-size:1.3em;margin:30px 0 10px 0;text-transform:uppercase;}
#disclaimer article ul{list-style-type:square;margin:0 20px;padding:0;}
#disclaimer article ul li{margin-bottom: 10px;line-height: 22px;text-align: justify;font-size: 14px;}
.age_text{font-size: 34px !important;font-weight: 500 !important;color: #444;}
.age_text small{font-size: 14px !important;font-weight: 500 !important;color: #444;}
.social-list li a img{opacity:0.4;}
.social-list li a img:hover{opacity:0.9;}

/* faq */
#faq{margin-top:90px;}
#faq article h1{font-family:Calibri;font-weight:bold;color:#000;font-size:2.2em;margin-bottom:30px;}
#faq article h2{font-family:Calibri;font-weight:bold;color:#000;font-size:1.3em;margin:30px 0 10px 0;text-transform:uppercase;}
#faq article ul{list-style-type:square;margin:0 20px;padding:0;}
#faq article ul li{margin-bottom: 10px;line-height: 22px;text-align: justify;font-size: 14px;}
.age_text{font-size: 34px !important;font-weight: 500 !important;color: #444;}
.age_text small{font-size: 14px !important;font-weight: 500 !important;color: #444;}
.social-list li a img{opacity:0.4;}
.social-list li a img:hover{opacity:0.9;}
.faqs h6{text-align: center;font-weight: 700; padding-top: 10px; padding-bottom: 10px;}
.faqs .collapsible-header .row{width: 100%;margin: 0;}
.collapsible-header{padding: 0 !important;}
.collapsible-header .row i{    padding: 10px 33px 19px 15px !important;
  border-top-left-radius: 5px;
  min-height: 63px;
  border-bottom-left-radius: 5px;}
  .collapsible-body {padding: 0; margin-top: 2px;border: none}
  .faqs .collapsible-body .row{width: 100%;margin: 0;}
.collapsible-body{padding: 0 !important;}
.collapsible-body .row i{    padding: 5px 17px 14px 14px !important;
  border-top-left-radius: 5px;
  min-height: 160px;
  border-bottom-left-radius: 5px;}


/* Terms and Conditions  */

#terms{margin-top:90px;}
#terms article h1{font-family:Calibri;font-weight:bold;color:#000;font-size:2.2em;margin-bottom:30px;}
#terms article h2{font-family:Calibri;font-weight:bold;color:#000;font-size:1.3em;margin:30px 0 10px 0;text-transform:uppercase;}
#terms article ul{list-style-type:square;margin:0 20px;padding:0;}
#terms article ul li{margin-bottom: 10px;line-height: 22px;text-align: justify;font-size: 14px;}
.age_text{font-size: 34px !important;font-weight: 500 !important;color: #444;}
.age_text small{font-size: 14px !important;font-weight: 500 !important;color: #444;}
.social-list li a img{opacity:0.4;}
.social-list li a img:hover{opacity:0.9;}

/* Privacy and Conditions  */

#privacy{margin-top:90px;}
#privacy article h1{font-family:Calibri;font-weight:bold;color:#000;font-size:2.2em;margin-bottom:30px;}
#privacy article h2{font-family:Calibri;font-weight:bold;color:#000;font-size:1.3em;margin:30px 0 10px 0;text-transform:uppercase;}
#privacy article ul{list-style-type:square;margin:0 20px;padding:0;}
#privacy article ul li{margin-bottom: 10px;line-height: 22px;text-align: justify;font-size: 14px;}
.age_text{font-size: 34px !important;font-weight: 500 !important;color: #444;}
.age_text small{font-size: 14px !important;font-weight: 500 !important;color: #444;}
.social-list li a img{opacity:0.4;}
.social-list li a img:hover{opacity:0.9;}

/* blog page */

#blog, #blogview{margin-top:60px;margin-left:-10px;margin-right:-10px;}
#blog .card{margin-top:40px;margin-bottom:0px;}
#blog .card .card-content{padding:15px;}
#blog .card .card-content h2{margin:0px;font-size:16px;padding:0px;font-weight:600;margin-bottom:10px;line-height:22px;}
#blog .card .card-content p{margin-bottom:15px;font-size:14px;}
#blog .card .card-content span{color:#9b9b9b;font-weight:600;}
#blog .card .card-content a{font-weight:600;color:#0978e6;}
#blog .card .card-content i{font-weight:600;color:#0978e6;}

#blogview h2{margin:0px;font-size:18px;padding:0px;font-weight:600;margin-bottom:10px;line-height:22px;}
#blogview .card{margin:40px auto;}
#blogview .post, .views{font-size:16px;color:#dddddd;}
#blogview .hr{border:1px solid #ddd;margin:15px 0;}
#blogview .card .card-header{font-weight: bold;padding: 13px 20px;background-color: #fff5d9;font-size: 17px;}
#blogview .card .card-content p{margin-bottom:15px;font-size:13px;color:#000;line-height:25px;}
#blogview .card .card-content p strong{font-weight:bold;}
#cat-list{margin-top:0px}
#cat-list li{padding:10px 0;}
#cat-list li a{color:#000;font-weight:600;}
#blogview .card .card-action {border:none;}
#blogview .card .card-action a{margin-right:0px;}
#comment h2{color:#9b9b9b;font-size:20px;margin-bottom:20px;}
#comment .box{background-color:#f6f6f6;padding:30px !important;}
#comment .box .semi-box{border:1.5px solid #9b9b9b !important;border-radius:5px !important;background-color:#fff !important;padding:15px 15px 5px 0px !important;}
#comment .box .semi-box textarea{height:100px !important;resize:none !important;width:103% /*changes by vishal 291118*/ !important;border:none !important;}
#comment .box .semi-box textarea:focus{border:none !important;box-shadow:none !important;-webkit-box-shadow:none !important;}
#comment .box .semi-box button{margin-bottom:10px !important;}


@media (min-width: 576px) and (max-width: 767.98px) {  
   .navbar-nav {
  float: left;
  margin: 0px 0;
}
header img {
height: 45px;
}
.navbar-nav>li>a {
font-weight: bold;
padding: 9px 17px 10px 0px !important;
font-size: 10px;
color: #000;
line-height: 32px;
}

#panel-1 .article {
margin-top: 6em;
padding-left: 0;
color: #fff;
position: absolute;
left: 2%;
}
#panel-1 img{
width: 100%;
}
footer ul{
margin-right: 10px;
}

article{
width: 100%;
overflow:scroll;
}
.of{
overflow-x: scroll !important;
}
.how_works_img{
margin-bottom: 10px;
}
.mb-40{
margin-bottom: 40px;
}
.tooltip .tooltiptext {
visibility: hidden;
width: 278px;
background-color: #587ee6;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 7px 0;
position: absolute;
z-index: 1;
top: 120%;
left: 26%;
margin-left: -70px;
}

#i1{
display: none;
}

#i2{
display: none;
}

#i3{
display: none;
}
.collapsible-body .row i {
padding: 5px 17px 14px 14px !important;
border-top-left-radius: 5px;
min-height: 342px;
border-bottom-left-radius: 5px;
}
#panel-2 {
margin-top: 165vh;
height: auto;
background-image: none;
background-color: #fff9e8;
}
#panel-2 .article {
margin-top: 10px;
padding-left: 0;
}
#panel-3 {
margin-top: 30px;
margin-bottom: 0px;
background-size:contain;
}
#panel-3 .article {
padding-top: 629px;
text-align: right;
padding-right: 0;
}
#panel-4 {
background-image: url(../image/shape-bg.png);
height: 770px;
background-repeat: no-repeat;
background-position: right;
margin-bottom: 30px;
margin-top: 128px;
}
.collapsible-header .row i {
  padding: 10px 33px 19px 15px !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 100px !important;
}
}

@media (min-width: 768px) and (max-width: 991.98px) { 
  .navbar-nav {
    float: left;
    margin: 0px 0;
  }
  header img {
  height: 45px;
  }
  .navbar-nav>li>a {
  font-weight: bold;
  padding: 9px 17px 10px 0px !important;
  font-size: 10px;
  color: #000;
  line-height: 32px;
  }
  
  article{
    width: 100%;
    overflow:scroll;
    }
    .of{
    overflow-x: scroll !important;
    }
    .how_works_img{
    margin-bottom: 10px;
    }
    #panel-1 .article img {
      margin-left: -16px;
      display: block;
  }
  #panel-1 .article {
    margin-top: 6em;
    padding-left: 0;
    color: #fff;
    position: absolute;
    left: 4%;
}

#panel-2 {
  margin-top: 54vh;
  height: auto;
  background-image: none;
  background-color: #fff9e8;
  }
  #panel-2 .article {
  margin-top: 10px;
  padding-left: 0;
  }
  #panel-3 {
  margin-top: 30px;
  margin-bottom: 0px;
  background-size:contain;
  }
  #panel-3 .article {
  padding-top: 629px;
  text-align: right;
  padding-right: 0;
  }
  #panel-4 {
  background-image: url(../image/shape-bg.png);
  height: 770px;
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 30px;
  margin-top: 128px;
  }
  .collapsible-body .row i {
    padding: 5px 17px 14px 14px !important;
    border-top-left-radius: 5px;
    min-height: 289px;
    border-bottom-left-radius: 5px;
}
.collapsible-header .row i {
  padding: 10px 33px 19px 15px !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 100px !important;
}
 }

 /*  */
 .slider{
  width:100%;
  overflow:hidden;
  position:relative;
}
.edge{
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:absolute;
  height:100%;
  display:block;
}
.edge:before{
  content:'';
  position:absolute;
  left:0;
  /* background:-webkit-linear-gradient(left, white 10%, rgba(0,0,0,0) 100%); */
  width:25%;
  height:100%;
}
.edge:after{
  content:'';
  position:absolute;
  right:0;
  /* background:-webkit-linear-gradient(right, white 10%, rgba(0,0,0,0) 100%); */
  width:25%;
  height:100%;
}
.slider ul{
  /* background:#ddd; */
  overflow:hidden;
  width:1000%;
  margin:0;
}
.slider li{
  list-style:none;
  display:inline-block;
  padding:0 5px;
}
.slider li  img{
  filter: grayscale(90%);
  max-width: 400px;
}


/* ######################################3
##########################################33
#########################################33 */

.news{
  display:flex;
  flex-wrap: wrap;
}

.news .odiv{
  flex: 1;
}
.news .odiv img{
width:100%;
}
.slider {
  width: 100%;
  height: 235px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 40px;
  width:235px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}


/* hover */
.odiv {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00000079;
}

.odiv:hover .overlay {
  opacity: 1;
}

.text {
  cursor: pointer;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.youtube_video{

}
