<blog-navbar></blog-navbar>
<section id="blogview">
<div class="row">
	<div class="container">
		<div class="col s12 padding-0" >
			<div class="col s12 m8">
				<div class="card">
					<div class="card-content">
					<span class="card-title"><h2>Specific is Terrific!</h2></span>
					<span class="post">Posted On, Mon 19th Nov 2018</span>
					<span class="views pull-right">100 Views</span>
					<div class="hr"></div>
					<p>If you felt that Billion Dollar company valuations is something unique that we see in this current generation only - please check again. John Davidson Rockefeller - considered to be the richest man of the modern era was much richer than the Zuckerberg’s of the world, while he was still in his 20s.</p>
					<p>When his net worth is adjusted for the inflation prevailing today, he is said to be worth $336 Billion!</p>
					<p>John D Rockefeller is the founder of the Oil refining behemoth Standard Oil. He achieved the distinction of being the largest oil refiner in the world at the tender young age of 29! This was a time when there was no access to the internet and any other technology.</p>
					<p>Most of the tech available was still in an experimental stage and that made it difficult to build and grow a profitable business. So how did he do it?</p>
					<p>Vision and Planning! The one thing that sets the really successful people apart from successful people is their clear vision and planning. Many C-suite employees of large behemoths run by strong personalities have gone on record to say that their promoters have the ability to take a peak into the future and come up with a great plan that helps them achieve their goals.</p>
					<p><img src="./client/image/blogs/Blog 1 - image 3.jpg" style="width:100%;"></p>
					<p>The same is true for every other individual. Do you have your future plans written down? Do you know the goals that you would like to achieve? Have you made a financial plan to achieve all of those. If not, you should!</p>
					<p>In an age with volatile markets and a runaway inflation, it is of utmost importance that you have a well defined plan of the kind of life you wish to live 10 years down the line and the financial requirements for the time.</p>
					<p>Planning must begin the day you start earning. Having an idea of the monthly income you will need in 10/ 20/ 30 years, will help you to begin planning. There are many individuals who start working at 25 and retire by 35 as their income from stocks, equities, dividends, etc, exceeds their salary and can comfortably meet the goals they have set.</p>
					<p>Having a specific idea about your goals is the only thing that can help you achieve this.</p>
					<p><img src="./client/image/blogs/Blog 1 - image 2.jpg" style="width:100%;"></p>
					<p>It is all right to consult a financial planner for the same, but it’s very important that you begin immediately.</p>
					<p>1. <b>Anytime is the right time</b> – The earlier the better. We all love spending and maintaining a certain lifestyle, but would you like to depend on your children to support you financially after your retirement? Or would you like to live by sacrificing all that you love doing? So why not plan before hand?</p>
					<p>A report recently mentioned that, only 10% of Indian youth invest their income in the first five years of their career and only 20% of them invest by the end of the tenth year! The others believe that they must start investing once they are closer to their retirement.</p>
					<p>2. <b>How much should I invest?</b> - This is the question that most of us face at an early stage of our life. Investing a very little amount is another regret. Ideally, investing close to 30-40% of your in hand income each month is a must!</p>
					<p>By following the thumb rule of saving first and spending later, you are setting yourself up to retire quick and rich.</p>
					<p>3. <b>Learn to balance your investments:</b> Start investing and not just saving in your bank account. Asset allocation is an important aspect of investing. It means re-balancing your investments according to the risks. By taking calculated risks, you increase your profits and lower your risks.</p>
					<p>According to a recent survey, only 10% Indians say that they re-balance their portfolio regularly. Re-balancing helps in reviewing the various investment options available.</p>
					<p>The best methods of investing are:</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I. Start an SIP (Systematic Investment Plan) in a Mutual Fund Scheme (small cap)</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;II. Investment in equities</p>
					<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;III. Investing in tax saving schemes (Mutual Funds, PPF, Post office schemes)</p>
					<p></p>
					<p>4. <b>Beware of fake schemes:</b> False schemes are considered a big threat in the field of investing. People fall prey to schemes for getting bigger returns in a short period of time and eventually end up incurring heavy losses</p>
					<p>Anything that sounds too good to be true, is actually isn’t true.</p>
					<p>5. <b>Stock market investing:</b> If you wish to earn a lot in a short period time, then stocks are the your safest bets! Most investors find it difficult to invest in stocks as they lack the industry knowledge required to invest.</p>
					<p></p>
					<p><img src="./client/image/blogs/Blog 1 - image 1.jpg" style="width:100%;"></p>
					<p>You can purchase shares during a meltdown and get benefits in the long run, but you need to be able to identify a good stock and not catch a falling knife!</p>
					<p><u>Jarvis Invest</u> is a proprietary investment software that provides equity investment advice in 3 simple steps. It analyzes over 3000+ stocks to identify the most promising stocks and helps its consumers beat the existing market indices.</p>
					<p>Jarvis helps investors invest by understanding :</p>
					<p>- the amount they wish to invest</p>
					<p>- the time period they wish to invest</p>
					<p>- the preferred market cap and sectors</p>
					<p>By having your exact numbers in mind, Jarvis can help predict the best suitable equity portfolio to invest.</p>
					<p>Having a well defined specific vision is of utmost importance. In the words of Warren Buffet, the difference between the successful and the really successful is that really successful people say no most of the time.</p>
					<p>Having a specific vision in mind ensures that you end up saying no to many other things that are good, but not highly relevant as per your plan. By focusing on only those items which are in line with your plan, you can easily retire at an early age.</p>
					<p>Be specific, to get what’s terrific!</p>
					<div class="card-action">
					<a href="https://twitter.com/JarvisInvest/"><img src="./client/image/tweet-btn.png"></a>
					<a href="https://www.facebook.com/JarvisInvest/"><img src="./client/image/fb-btn.png"></a>
					<a href="https://www.linkedin.com/company/jarvisinvest/"><img src="./client/image/pin-btn.png"></a>
					</div>
					</div>
				</div>
				<div id="comment">
					<h2>Leave a Comment</h2>
					<div class="box">
						<div class="semi-box">
							<textarea></textarea>
							<button class="hm-btn btn-gradient" style="padding: 9px 30px;border:none;margin-left:40%;">POST</button>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col s12 m4" id="category">
				<div class="card">
					<div class="card-header">
						Categories
					</div>
					<div class="card-content">
						<ul id="cat-list">
							<li><a href="#">Asset Allocation (0)</a></li>
							<li><a href="#">Consumer Awareness (0)</a></li>
							<li><a href="#">Economy (0)</a></li>
							<li><a ui-sref="blog">Financial Planning (1)</a></li>
							<li><a href="#">Interesting Articles (0)</a></li>
							<li><a href="#">Recognition &amp; Media (0)</a></li>
							<li><a href="#">Research Reports (0)</a></li>
							<li><a href="#">Tax Saving (0)</a></li>
							<li><a href="#">Uncategorized (0)</a></li>
						</ul>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						Newsletter Subscription
					</div>
					<div class="card-content" style="padding-bottom:10px;">
						<form  name="newletterForm" ng-submit="foot.submitNewletter(newletterForm);">
						<div class="form-group" style="margin-top:0px;">
						<input type="text" class="form-control" placeholder="Type your Email Id" style="width:95% !important;background-color:#f9f9f7 !important;" ng-model="foot.newemail" name="newemail" placeholder="Email" required>
						<button class="hm-btn btn-gradient" style="margin:20px 0px 0px 0px;width:100%;border:none;">SUBMIT</button>
						</form>
						</div>
					</div>
				</div>	
				<!--div class="card">
					<div class="card-header">
						&nbsp;Recent Posts
					</div>
					<div class="card-content" style="padding:0px 0px 10px 0px;">
						<ul class="collection" style="margin-top:0px;border:none;">
							<li class="collection-item" style="font-weight:600;font-size:16px;">How to save money for travel/ vacation with good short terminvestment options!</li>
							<li class="collection-item" style="font-weight:600;font-size:16px;">Public Provident Fund or PPF – All you wanted to know</li>
							<li class="collection-item" style="font-weight:600;font-size:16px;">How to create an Emergency Fund Corpus via Mutual Fund Investments</li>
							<li class="collection-item" style="font-weight:600;font-size:16px;">Why Dividend Option in Mutual Funds are to be Skipped</li>
							<li class="collection-item" style="font-weight:600;font-size:16px;">One Year of GST in India – How have we done as an economy?</li>
						</ul>
					</div>
				</div-->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
</section>
<div id="modal1" class="modal marTop">
	<div class="modal-content padding-0" style="min-height:331px;">
		<div class="row m-b-0">
			<div class="col m6 padding-0 bg-blue hide-on-mob">
				<img src="./client/image/pop-adv.png"  alt="Jarvise Invest" class="img-responsive">
			</div>
			<div class="col m6">
				<h2 style="color: #2677CA;font-size: 22px;font-weight: 600;text-align: center;margin: 20px 0;">CONTEMPLATING ON EQUITY INVESTMENTS?</h2>
				<p class="text-center m-b-0"><a ng-click="$ctrl.FBLogin();"><img src="./client/image/btn-facebook-signin.png"></a></p>
				<form name="loginForm" ng-submit="$ctrl.login(loginForm);" ng-show="$ctrl.loginwindow">
					<div class="input-field col s12">
						<input id="username" type="text" class="validate" ng-model="$ctrl.username" name="username" autocomplete="off" required>
						<label for="username">Username <small class="red-text" ng-if="loginForm.username.$error.required && loginForm.username.$touched">[Username is required]</small></label>
					</div>
					<div class="input-field col s12">
						<input id="pwd" type="password" class="validate" ng-model="$ctrl.password" name="password" autocomplete="off" required>
						<label for="pwd">Password <small class="red-text" ng-if="loginForm.password.$error.required && loginForm.password.$touched">[Password is required]</small></label>
					</div>
					<div class="col s12">
						<span><a href="#" ng-click="$ctrl.loginwindow=false
						;$ctrl.forgotWindow=true;">Forgot Password?</a></span>
						<span class="pull-right"><button type="submit" class="waves-effect waves-light btn-small gradient waves-effect waves-light">LOG IN</button></span>
					</div>
				</form>
				<form name="forgotForm" ng-submit="$ctrl.forgot();" ng-show="$ctrl.forgotWindow">
					<div class="input-field col s12">
						<input id="mobile_id" type="text" class="validate" ng-model="$ctrl.mobile_id" name="mobile_id" autocomplete="off"  ng-pattern="/^[7-9][0-9]{9}$/" required>
						<label for="mobile_id">Mobile <small class="red-text" ng-if="forgotForm.mobile_id.$error.required && forgotForm.mobile_id.$dirty">[Mobile No. is required]</small><small class="red-text" ng-if="forgotForm.mobile_id.$invalid && forgotForm.mobile_id.$error.pattern">[Mobile No. is not valid]</small></label>
					</div>
					<div class="col s12">
						<span><a href="#" ng-click="$ctrl.loginwindow=true
						;$ctrl.forgotWindow=false;">Back to Login?</a></span>
						<span class="pull-right"><button type="submit" class="waves-effect waves-light btn-small gradient waves-effect waves-light">SUBMIT</button></span>
					</div>
				</form>
				<form name="forOtpForm" ng-submit="$ctrl.submitForgot(forOtpForm);" ng-show="$ctrl.changePasswordWindow">
					<div class="col s12">
						<h6 class="text-center" style="margin-top:0;">Change Password</h6>
						<div class="input-field">
							<input id="forotp" type="password" class="validate" autocomplete="off" ng-model="$ctrl.forotp" name="forotp" required>
							<label for="forotp">OTP Code <small class="red-text" ng-if="forOtpForm.forotp.$error.required && forOtpForm.forotp.$dirty">[OTP is required]</small></label>
						</div>
						<div class="input-field">
							<input id="forPwd" type="password" class="validate" ng-model="$ctrl.forPwd" name="forPwd" autocomplete="off" required>
							<label for="forPwd">New Password <small class="red-text" ng-if="forOtpForm.forPwd.$error.required && forOtpForm.forPwd.$touched">[Password is required]</small></label>
						</div>
						<input type="hidden" name="forMobile_no" id="forMobile_no" ng-model="$ctrl.forMobile_no">
					</div>
					<div class="col s12">
						<span><a href="#" ng-click="$ctrl.forgot();">Resend OTP?</a></span>
						<span class="pull-right"><button type="submit" class="btn-small gradient waves-effect waves-light">Submit</button></span>
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="modal2" class="modal marTop">
	<div class="modal-content padding-0" style="min-height:331px;">
		<div class="row m-b-0">
			<div class="col m6 padding-0 bg-blue hide-on-mob">
				<img src="./client/image/pop-adv.png"  alt="Jarvise Invest" class="img-responsive">
			</div>
			<div class="col m6">
				<h2 style="color: #2677CA;font-size: 22px;font-weight: 600;text-align: center;margin: 20px 0;">CONTEMPLATING ON EQUITY INVESTMENTS?</h2>
				<p class="text-center m-b-0" ng-show="$ctrl.signupForm"><a ng-click="$ctrl.FBRegister();"><img src="./client/image/btn-facebook.png"></a></p>
				<form name="signupForm" ng-submit="$ctrl.register(signupForm);" ng-show="$ctrl.signupForm">
					<div id="sign-up-panel-1">
						<div class="input-field col s12">
							<input id="name" type="text" class="validate" autocomplete="off" ng-model="$ctrl.name" name="name" autocomplete="off" required>
							<label for="name">Name <small class="red-text" ng-if="signupForm.name.$error.required && signupForm.name.$dirty">[Name is required]</small></label>
						</div>
						<div class="input-field col s12">
							<input id="mobile" type="text" class="validate" autocomplete="off" ng-model="$ctrl.mobile" name="mobile" autocomplete="off" ng-pattern="/^[7-9][0-9]{9}$/" required>
							<label for="mobile">Mobile 
								<small class="red-text" ng-if="signupForm.mobile.$error.required && signupForm.mobile.$dirty">[Mobile is required]</small>
								<small class="red-text" ng-if="signupForm.mobile.$error.pattern">[Mobile is not valid]</small>
							</label>
						</div>
						<div class="col s12">
							<span class="pull-right"><a class="btn-small gradient waves-effect waves-light" id="next" ng-disabled="signupForm.name.$error.required && signupForm.mobile.$error.required"><i class="material-icons right">arrow_forward</i>Next</a></span>
						</div>
					</div>
					<div id="sign-up-panel-2" class="hidden">
						<div class="input-field col s12">
							<input id="email" type="text" class="validate" autocomplete="off" ng-model="$ctrl.email" name="email" autocomplete="off" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
							<label for="email">Email 
								<small class="red-text" ng-if="signupForm.email.$error.required && signupForm.email.$dirty">[Email is required]</small>
								<small class="red-text" ng-if="signupForm.email.$error.pattern">[Email is not valid]</small>
							</label>
						</div>
						<div class="input-field col s12">
							<input id="password" type="password" class="validate" autocomplete="off" ng-model="$ctrl.pwd" name="pwd" autocomplete="off" required>
							<label for="password">Password <small class="red-text" ng-if="signupForm.pwd.$error.required && signupForm.pwd.$dirty">[Password is required]</small></label>
						</div>
						<div class="col s12">
							<label>
								<input class="filled-in" name="checkbox" type="checkbox" ng-model="$ctrl.accept" />
								<span><small>Accept <a ui-sref="terms-and-conditions">Terms &amp; Conditions</a></small></span>
							</label>
						</div>
						<div class="col s12">
							<span class="pull-right"><a class="btn-small gradient waves-effect waves-light" id="back"><i class="material-icons left">arrow_back</i>Back</a>&nbsp;<button class="btn-small gradient waves-effect waves-light">SIGN UP</button></span>
						</div>
					</div>
				</form>
				<form name="otpForm" ng-submit="$ctrl.verify(otpForm);">
					<div ng-show="$ctrl.showOtp">
						<div class="col s12">
							<h6 class="text-center" style="margin-top:0;">Verify Mobile No.</h6>
							<div class="input-field">
								<input id="otp" type="password" class="validate" autocomplete="off" ng-model="$ctrl.otp" name="otp" required>
								<label for="otp">OTP Code <small class="red-text" ng-if="otpForm.otp.$error.required && otpForm.otp.$dirty">[OTP is required]</small></label>
							</div>
							<input type="hidden" name="mobile_no" id="mobile_no" ng-model="$ctrl.mobile_no">
						</div>
						<div class="col s12">
							<span><a href="#" ng-click="$ctrl.resend_otp(otpForm);">Resend OTP?</a></span>
							<span class="pull-right"><button class="btn-small gradient waves-effect waves-light">Submit</button></span>
						</div>
					</div>
				</form>
				<form name="mobileForm" ng-submit="$ctrl.submit_mobile(mobileForm);">
					<div ng-show="$ctrl.showOauthMob">
						<div class="input-field col s12">
							<input id="oauth_mob" type="text" class="validate" autocomplete="off" ng-model="$ctrl.oauth_mob" name="oauth_mob" autocomplete="off" ng-pattern="/^[7-9][0-9]{9}$/" required>
							<label for="oauth_mob">Mobile 
								<small class="red-text" ng-if="mobileForm.oauth_mob.$error.required && mobileForm.oauth_mob.$dirty">[Mobile is required]</small>
								<small class="red-text" ng-if="mobileForm.oauth_mob.$error.pattern">[Mobile is not valid]</small>
							</label>
						</div>
						<div class="col s12">
							<label>
								<input class="filled-in" name="checkbox" type="checkbox" ng-model="$ctrl.acceptoauth" />
								<span><small>Accept <a ui-sref="terms-and-conditions">Terms &amp; Conditions</a></small></span>
							</label>
						</div>
						<div class="col s12">
							<input type="hidden" ng-model="$ctrl.o_data">
							<span class="pull-right"><button class="btn-small gradient waves-effect waves-light">Submit</button></span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="arrow_up hide-on-mob hidden" ng-click="$ctrl.totop();"><i class="material-icons">chevron_right</i></div>
<div data-loading> </div>
<ui-footer></ui-footer>