<blog-navbar></blog-navbar>
<section>
<div class="row">
	<div class="container">
		<div class="col s12 padding-0" id="blog">
			<div class="col s12 m4">
				<div class="card">
				<div class="card-image">
					<img src="./client/image/blogs/Blog 1 - image 1.jpg">
				</div>
				<div class="card-content">
					<h2>Specific is Terrific!</h2>
					<p>If you felt that Billion Dollar company valuations is something unique that we see in
							this current generation only...</p>
					<!-- <span>100 Views</span> -->
					<i class="material-icons pull-right">arrow_forward</i>
					<a class="pull-right" ui-sref="blogview">Continue Reading</a>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<!-- <div class="row"><br/>
			<div class="col s12 text-center"><button class="hm-btn">Load More Articles</button></div>
		</div> -->
	</div>
</div>
</section>
<div id="modal1" class="modal marTop">
	<div class="modal-content padding-0" style="min-height:331px;">
		<div class="row m-b-0">
			<div class="col m6 padding-0 bg-blue hide-on-mob">
				<img src="./client/image/pop-adv.png"  alt="Jarvise Invest" class="img-responsive">
			</div>
			<div class="col m6">
				<h2 style="color: #2677CA;font-size: 22px;font-weight: 600;text-align: center;margin: 20px 0;">CONTEMPLATING ON EQUITY INVESTMENTS?</h2>
				<p class="text-center m-b-0"><a ng-click="$ctrl.FBLogin();"><img src="./client/image/btn-facebook-signin.png"></a></p>
				<form name="loginForm" ng-submit="$ctrl.login(loginForm);" ng-show="$ctrl.loginwindow">
					<div class="input-field col s12">
						<input id="username" type="text" class="validate" ng-model="$ctrl.username" name="username" autocomplete="off" required>
						<label for="username">Username <small class="red-text" ng-if="loginForm.username.$error.required && loginForm.username.$touched">[Username is required]</small></label>
					</div>
					<div class="input-field col s12">
						<input id="pwd" type="password" class="validate" ng-model="$ctrl.password" name="password" autocomplete="off" required>
						<label for="pwd">Password <small class="red-text" ng-if="loginForm.password.$error.required && loginForm.password.$touched">[Password is required]</small></label>
					</div>
					<div class="col s12">
						<span><a href="#" ng-click="$ctrl.loginwindow=false
						;$ctrl.forgotWindow=true;">Forgot Password?</a></span>
						<span class="pull-right"><button type="submit" class="waves-effect waves-light btn-small gradient waves-effect waves-light">LOG IN</button></span>
					</div>
				</form>
				<form name="forgotForm" ng-submit="$ctrl.forgot();" ng-show="$ctrl.forgotWindow">
					<div class="input-field col s12">
						<input id="mobile_id" type="text" class="validate" ng-model="$ctrl.mobile_id" name="mobile_id" autocomplete="off"  ng-pattern="/^[7-9][0-9]{9}$/" required>
						<label for="mobile_id">Mobile <small class="red-text" ng-if="forgotForm.mobile_id.$error.required && forgotForm.mobile_id.$dirty">[Mobile No. is required]</small><small class="red-text" ng-if="forgotForm.mobile_id.$invalid && forgotForm.mobile_id.$error.pattern">[Mobile No. is not valid]</small></label>
					</div>
					<div class="col s12">
						<span><a href="#" ng-click="$ctrl.loginwindow=true
						;$ctrl.forgotWindow=false;">Back to Login?</a></span>
						<span class="pull-right"><button type="submit" class="waves-effect waves-light btn-small gradient waves-effect waves-light">SUBMIT</button></span>
					</div>
				</form>
				<form name="forOtpForm" ng-submit="$ctrl.submitForgot(forOtpForm);" ng-show="$ctrl.changePasswordWindow">
					<div class="col s12">
						<h6 class="text-center" style="margin-top:0;">Change Password</h6>
						<div class="input-field">
							<input id="forotp" type="password" class="validate" autocomplete="off" ng-model="$ctrl.forotp" name="forotp" required>
							<label for="forotp">OTP Code <small class="red-text" ng-if="forOtpForm.forotp.$error.required && forOtpForm.forotp.$dirty">[OTP is required]</small></label>
						</div>
						<div class="input-field">
							<input id="forPwd" type="password" class="validate" ng-model="$ctrl.forPwd" name="forPwd" autocomplete="off" required>
							<label for="forPwd">New Password <small class="red-text" ng-if="forOtpForm.forPwd.$error.required && forOtpForm.forPwd.$touched">[Password is required]</small></label>
						</div>
						<input type="hidden" name="forMobile_no" id="forMobile_no" ng-model="$ctrl.forMobile_no">
					</div>
					<div class="col s12">
						<span><a href="#" ng-click="$ctrl.forgot();">Resend OTP?</a></span>
						<span class="pull-right"><button type="submit" class="btn-small gradient waves-effect waves-light">Submit</button></span>
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="modal2" class="modal marTop">
	<div class="modal-content padding-0" style="min-height:331px;">
		<div class="row m-b-0">
			<div class="col m6 padding-0 bg-blue hide-on-mob">
				<img src="./client/image/pop-adv.png"  alt="Jarvise Invest" class="img-responsive">
			</div>
			<div class="col m6">
				<h2 style="color: #2677CA;font-size: 22px;font-weight: 600;text-align: center;margin: 20px 0;">CONTEMPLATING ON EQUITY INVESTMENTS?</h2>
				<p class="text-center m-b-0" ng-show="$ctrl.signupForm"><a ng-click="$ctrl.FBRegister();"><img src="./client/image/btn-facebook.png"></a></p>
				<form name="signupForm" ng-submit="$ctrl.register(signupForm);" ng-show="$ctrl.signupForm">
					<div id="sign-up-panel-1">
						<div class="input-field col s12">
							<input id="name" type="text" class="validate" autocomplete="off" ng-model="$ctrl.name" name="name" autocomplete="off" required>
							<label for="name">Name <small class="red-text" ng-if="signupForm.name.$error.required && signupForm.name.$dirty">[Name is required]</small></label>
						</div>
						<div class="input-field col s12">
							<input id="mobile" type="text" class="validate" autocomplete="off" ng-model="$ctrl.mobile" name="mobile" autocomplete="off" ng-pattern="/^[7-9][0-9]{9}$/" required>
							<label for="mobile">Mobile 
								<small class="red-text" ng-if="signupForm.mobile.$error.required && signupForm.mobile.$dirty">[Mobile is required]</small>
								<small class="red-text" ng-if="signupForm.mobile.$error.pattern">[Mobile is not valid]</small>
							</label>
						</div>
						<div class="col s12">
							<span class="pull-right"><a class="btn-small gradient waves-effect waves-light" id="next" ng-disabled="signupForm.name.$error.required && signupForm.mobile.$error.required"><i class="material-icons right">arrow_forward</i>Next</a></span>
						</div>
					</div>
					<div id="sign-up-panel-2" class="hidden">
						<div class="input-field col s12">
							<input id="email" type="text" class="validate" autocomplete="off" ng-model="$ctrl.email" name="email" autocomplete="off" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
							<label for="email">Email 
								<small class="red-text" ng-if="signupForm.email.$error.required && signupForm.email.$dirty">[Email is required]</small>
								<small class="red-text" ng-if="signupForm.email.$error.pattern">[Email is not valid]</small>
							</label>
						</div>
						<div class="input-field col s12">
							<input id="password" type="password" class="validate" autocomplete="off" ng-model="$ctrl.pwd" name="pwd" autocomplete="off" required>
							<label for="password">Password <small class="red-text" ng-if="signupForm.pwd.$error.required && signupForm.pwd.$dirty">[Password is required]</small></label>
						</div>
						<div class="col s12">
							<label>
								<input class="filled-in" name="checkbox" type="checkbox" ng-model="$ctrl.accept" />
								<span><small>Accept <a ui-sref="terms-and-conditions">Terms &amp; Conditions</a></small></span>
							</label>
						</div>
						<div class="col s12">
							<span class="pull-right"><a class="btn-small gradient waves-effect waves-light" id="back"><i class="material-icons left">arrow_back</i>Back</a>&nbsp;<button class="btn-small gradient waves-effect waves-light">SIGN UP</button></span>
						</div>
					</div>
				</form>
				<form name="otpForm" ng-submit="$ctrl.verify(otpForm);">
					<div ng-show="$ctrl.showOtp">
						<div class="col s12">
							<h6 class="text-center" style="margin-top:0;">Verify Mobile No.</h6>
							<div class="input-field">
								<input id="otp" type="password" class="validate" autocomplete="off" ng-model="$ctrl.otp" name="otp" required>
								<label for="otp">OTP Code <small class="red-text" ng-if="otpForm.otp.$error.required && otpForm.otp.$dirty">[OTP is required]</small></label>
							</div>
							<input type="hidden" name="mobile_no" id="mobile_no" ng-model="$ctrl.mobile_no">
						</div>
						<div class="col s12">
							<span><a href="#" ng-click="$ctrl.resend_otp(otpForm);">Resend OTP?</a></span>
							<span class="pull-right"><button class="btn-small gradient waves-effect waves-light">Submit</button></span>
						</div>
					</div>
				</form>
				<form name="mobileForm" ng-submit="$ctrl.submit_mobile(mobileForm);">
					<div ng-show="$ctrl.showOauthMob">
						<div class="input-field col s12">
							<input id="oauth_mob" type="text" class="validate" autocomplete="off" ng-model="$ctrl.oauth_mob" name="oauth_mob" autocomplete="off" ng-pattern="/^[7-9][0-9]{9}$/" required>
							<label for="oauth_mob">Mobile 
								<small class="red-text" ng-if="mobileForm.oauth_mob.$error.required && mobileForm.oauth_mob.$dirty">[Mobile is required]</small>
								<small class="red-text" ng-if="mobileForm.oauth_mob.$error.pattern">[Mobile is not valid]</small>
							</label>
						</div>
						<div class="col s12">
							<label>
								<input class="filled-in" name="checkbox" type="checkbox" ng-model="$ctrl.acceptoauth" />
								<span><small>Accept <a ui-sref="terms-and-conditions">Terms &amp; Conditions</a></small></span>
							</label>
						</div>
						<div class="col s12">
							<input type="hidden" ng-model="$ctrl.o_data">
							<span class="pull-right"><button class="btn-small gradient waves-effect waves-light">Submit</button></span>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="arrow_up hide-on-mob hidden" ng-click="$ctrl.totop();"><i class="material-icons">chevron_right</i></div>
<div data-loading> </div>
<ui-footer></ui-footer>