<user-navbar></user-navbar>
<div class="row">
	<div class="container bgcolor" ng-show="$ctrl.showAccountBtn">
		<div class="col s11 offset-s4_5" style="margin-bottom:240px;">
			<div class="heading" style="margin-top:60px;">
				<h5>I want to invest Rs. <span  style="border-bottom: 3px dashed #fff;">
				<input type="text" name="price" ng-model="$ctrl.amount" id="numb" class="hide-focus" autocomplete="off" style="width:150px;border:none;color:#fff;font-size:32px;"></span> for <span style="border-bottom: 3px dashed #fff;">
				<input type="text" name="year" class="hide-focus" ng-model="$ctrl.tenure" ng-keyup="$ctrl.filterValue($event)" style="width:40px;border:none;color:#fff;font-size:32px;"></span> Years</h5>
			</div>
			<div class="card my-card">
				<div class="card-content">
					<div class="col s12 m12" style="margin-bottom:10px;">
						<p style="font-size:16px;"><strong>Your Market Cap Preference (If any)</strong></p><br/>
						<div class="col s12 m2 padding-left-0">
							<label>
								<input class="filled-in" name="checkbox" type="checkbox" ng-model="$ctrl.prefer.large_cap" ng-change="$ctrl.getFeed();" value="large_cap"  />
								<span><strong>Large Cap</strong></span>
							</label>
						</div>
						<div class="col s12 m2 padding-left-0">
							<label>
								<input class="filled-in" name="checkbox" type="checkbox" ng-model="$ctrl.prefer.mid_cap" ng-change="$ctrl.getFeed();"  value="mid_cap" />
								<span><strong>Mid Cap</strong></span>
							</label>
						</div>
						<div class="col s12 m2 padding-left-0">
							<label>
								<input class="filled-in" name="checkbox" type="checkbox" ng-model="$ctrl.prefer.small_cap" ng-change="$ctrl.getFeed();" value="small_cap"  />
								<span><strong>Small Cap</strong></span>
							</label>
						</div>
						<div class="col s12 m4 padding-left-0">
							<label>
								<input class="filled-in" name="checkbox" type="checkbox" ng-model="$ctrl.prefer.all_cap" ng-change="$ctrl.getFeed();"  />
								<span><strong>No Such Preferance</strong></span>
							</label>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col s12 padding-left-0 margin-t-10 padding-right-0" ng-if="$ctrl.prefer.large_cap==true || $ctrl.prefer.mid_cap==true || $ctrl.prefer.small_cap==true">
				<div class="col s12 m5 padding-left-0">
					<label>
						<input class="filled-in" ng-model="$ctrl.advSelection" type="checkbox" />
						<span><strong class="text-white">Advance Sector Selection</strong></span>
					</label>
				</div>
				<div class="col s12 m5 padding-right-0 pull-right text-right hide-on-mob" ng-show="$ctrl.advSelection">
					<a href="javascript:void(0);" class="btn-rounded" ng-click="$ctrl.includeAll(1);">INCLUDE ALL</a>
				</div>
				<div class="col s12 m5 padding-right-0 pull-right text-right hide-on-desk" ng-show="$ctrl.advSelection">
					<a href="javascript:void(0);" class="btn-rounded" ng-click="$ctrl.includeAll(2);">INCLUDE ALL</a>
				</div>
			</div>
			<div class="col s12 padding-left-0 margin-t-10 padding-right-0" ng-if="$ctrl.prefer.large_cap==true || $ctrl.prefer.mid_cap==true || $ctrl.prefer.small_cap==true || $ctrl.prefer.all_cap==true" ng-show="$ctrl.advSelection">
				<div class="card my-card hide-on-mob">
					<div class="card-content padding-0">
						<table class="table">
							<thead>
							<tr class="label-default" style="font-size: 15px;">
								<th style="width:15%;">Sector</th>
								<th style="width:6%;">Allocation</th>
								<th style="width:35%;" class="text-center">Sector Wise Companies</th>
								<th style="width:20%;padding-right: 35px;" class="text-right">Include / Exclude</th>
							</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x1 in $ctrl.feed">
									<td ng-style="{ 'opacity' : (x1.include == 2) ? 0.2 : 1 }" style="text-transform: capitalize;"><strong>{{x1.sector | lowercase}}</strong></td>
									<td ng-style="{ 'opacity' : (x1.include == 2) ? 0.2 : 1 }"><strong>{{(x1.allocation/$ctrl.totalFeedsum)*100 | number: 1}}%</strong></td>
									<td ng-style="{ 'opacity' : (x1.include == 2) ? 0.2 : 1 }" style="padding-right:55px;">
										<div class="my_progress">
											<div class="progress-bar normal" ng-class="x1.allocation>$ctrl.progressAvg ? 'normal':'ordinary'" style="width:{{x1.allocation*1.05}}%;"></div>
											<span class="progress-title">{{x1.allocation}}</span>
										</div>
									</td>
									<td>
										<div class="switch">
											<input type="radio" class="switch-input" name="view_{{$index}}" ng-model="x1.include" value="1" id="model{{$index}}">
											
											<label for="model{{$index}}" class="switch-label switch-label-off"> INCLUDE</label>
											
											<input type="radio" class="switch-input" name="view_{{$index}}" ng-model="x1.include" value="2" id="custome{{$index}}">
											
											<label for="custome{{$index}}" class="switch-label switch-label-on"> EXCLUDE</label>
											<span class="switch-selection"></span>
										</div>
									</td>
								</tr>
								<tr ng-if="$ctrl.feed.length==0">
									<td colspan="4" class="text-center">No record available</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card hide-on-desk" ng-repeat="x in $ctrl.feed1">
					<div class="card-content" ng-style="{ 'opacity' : (x.include == 2) ? 0.2 : 1 }">
					<p class="card-title" style="font-size:20px;">Sector : {{x.sector | uppercase}}</p>
					<p class="card-title" style="font-size:20px;">Sector Allocation : {{(x.allocation/$ctrl.totalFeedsum)*100 | number: 1}}%</p>
					<p>
						<div class="my_progress">
							<div class="progress-bar normal" ng-class="x.allocation>$ctrl.progressAvg ? 'normal':'ordinary'" style="width:{{x.allocation*1.05}}%;"></div>
							<span class="progress-title">{{x.allocation}}%</span>
						</div>
					</p>
					</div>
					<div class="card-action">
						<div class="switch">
							<input type="radio" class="switch-input" name="view{{$index}}" ng-model="x.include" value="1" id="model{{$index}}">
							
							<label for="model{{$index}}" class="switch-label switch-label-off"> INCLUDE</label>
							
							<input type="radio" class="switch-input" name="view{{$index}}" ng-model="x.include" value="2" id="custome{{$index}}">
							
							<label for="custome{{$index}}" class="switch-label switch-label-on"> EXCLUDE</label>
							<span class="switch-selection"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m12 padding-left-0 margin-t-30  hide-on-mob text-center">
				<button class="btn-large moni-btn gradient" ng-click="$ctrl.makeProtfolio(1);" ng-show="$ctrl.showAccountBtn">CREATE MY PORTFOLIO</button>
			</div>
			<div class="col s12 m6 padding-left-0 margin-t-30 hide-on-desk">
				<button class="btn-large moni-btn gradient" style="width:100%;" ng-click="$ctrl.makeProtfolio(2);" ng-show="$ctrl.showAccountBtn">CREATE MY PORTFOLIO</button>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="modal3" class="modal marTop"> 
	<div class="modal-content">
		<div class="row m-b-0">
			<div class="col-md-12 text-center">
				<h5 class="text-center">Please select your Risk Profile</h5>
				<div class="hide-on-desk">
				<br/>
				<br/>
				<span ng-if="$ctrl.priceSlider.value==1">Risk averse</span>
				<span ng-if="$ctrl.priceSlider.value==2">Conservative</span>
				<span ng-if="$ctrl.priceSlider.value==3">Moderate</span>
				<span ng-if="$ctrl.priceSlider.value==4">Moderately Aggresive</span>
				<span ng-if="$ctrl.priceSlider.value==5">Aggresive</span>
				<span ng-if="$ctrl.priceSlider.value==6">Very Aggresive</span>
				<br/>
				<br/>
				</div>
				<p><rzslider rz-slider-model="$ctrl.priceSlider.value" rz-slider-options="$ctrl.priceSlider.options"></rzslider></p>
				<br/>
				<br/>
				<p><button class="btn-large moni-btn gradient" ng-click="$ctrl.saveRisk();">Submit</button></p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="modal4" class="modal marTop smallModal">
	<div class="modal-content">
		<div class="row m-b-0">
			<div class="col-md-12">
				<h5 class="text-center"></h5>
				<p style="text-align:justify;">Thank you for creating your Customized Portfolio with JARVIS. Request you to kindly open your account with UPSTOX to complete your investments.</p>
				<p class="text-center"><button class="btn-large moni-btn gradient" style="width:75%;" ng-click="$ctrl.openAccount();">OPEN UPSTOX ACCOUNT</button></p>
				<p class="text-center">Already having an Account</p>
				<p class="text-center" ng-hide="$ctrl.cidtxt"><button class="btn-large moni-btn gradient" style="width:75%;" ng-click="$ctrl.goPortfolio();">VIEW PORTFOLIO DIRECTLY</button></p>
				<div class="col s12 text-center" ng-show="$ctrl.cidtxt">
					<form name="cidForm" ng-submit="$ctrl.submitCid(cidForm);">
						<div class="input-field">
							<input id="cid" type="text" class="validate" autocomplete="off" ng-model="$ctrl.cid" name="cid" required>
							<label for="cid">UPSTOX ID <small class="red-text" ng-if="cidForm.cid.$error.required && cidForm.cid.$dirty">[UPSTOX ID is required]</small></label>
						</div>
						<!-- <div class="input-field">
							<input id="c_pass" type="password" class="validate" autocomplete="off" ng-model="$ctrl.c_pass" name="c_pass" required>
							<label for="c_pass">UPSTOX PASSWORD <small class="red-text" ng-if="cidForm.c_pass.$error.required && cidForm.c_pass.$dirty">[UPSTOX PASSWORD is required]</small></label>
						</div> -->
						<button class="btn-large moni-btn gradient" style="width:81%;">Submit</button>
					</form>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="modal5" class="modal marTop">
	<div class="modal-content">
		<div class="row m-b-0">
			<h5>Terms And Conditions</h5>
			<div class="col s12 padding-0" id="terms" style="margin-top:0px;" slim-scroll always-visible="true" height="300">
			<article>
				<h6>Terms &amp; Conditions regarding use of investment advisory services and Jarvis</h6>
				<h2>Overview</h2>
				<ul>
					<li>This website is operated by Ventugrow Consultants Pvt. Ltd. (hereinafter referred to as “VCPL”
					or the “Investment Adviser”) Throughout the site, the terms “we”, “us” and “our” refer to
					VCPL who offers this website, the product “Jarvis”, and all other information, tools, utilities and
					services available from this site to you, the user, subject to you accepting and agreeing to be
					bound by these terms and conditions.</li>
					<li>VCPL has developed an artificial intelligence based product named “Jarvis”, which creates a
					portfolio of stocks and allows investors to invest funds in equity stocks, while factoring in the
					investor’s risk profile and investment horizon (“Jarvis” or the “Product”).</li>
					<li>By visiting our site and/or using Jarvis / downloading our mobile application and/ or availing of
					any investment advisory services provided by us, you agree to be bound by the following terms
					and conditions (“Terms of Service” or “Terms”), including those additional terms and
					conditions and policies referenced herein and/or available by hyperlink, or as may be updated
					from time to time. These Terms of Service apply to all users of the site and/ or the Product,
					including without limitation users who are browsers, vendors, clients, merchants, and/ or
					contributors of content.</li>
					<li>Please read these Terms of Service carefully before accessing or using our website, agreeing to
					subscribe to the Product, using our mobile application or using the Product. If you do not agree
					to all the Terms, then you may not access the website or use any Services. If these Terms of
					Service are considered an offer, acceptance is expressly limited to these Terms of Service. By
					accepting these Terms, electronically, (for example by clicking “Submit” or “I Agree”), accessing
					or using the Services or the Product, you agree to these terms.</li>
					<li>The Agreement (as defined below) is an electronic record in terms of the Information
					Technology Act, 2000, generated by a computer system and does not require any physical or
					digital signature.</li>
					<li>Any new features or tools which are added to the current site, mobile application or the Product
					shall also be subject to these Terms. You can review the most current version of these Terms at
					any time on this page. We reserve the right to update, change or replace any part of these Terms
					of Service by posting updates and/or changes to our website. It is your responsibility to check
					this page periodically for changes. Your continued use of or access to the website, mobile
					application and/ or the Product, following the posting of any changes constitutes acceptance of
					those changes.</li>
				</ul>
				<h2>Definitions and Interpretation</h2>
				<h2>Definitions</h2>
				<p>In these Terms, unless otherwise defined, the following terms shall have the meaning as follows:</p>
				<ul>
					<li>Agreement means the agreement between the Client and VCPL arising from the Client
accepting these Terms.</li>
					<li>Broker refers to any third party broker who provides stock broking services to the
Client.</li>
					<li>Loss or Losses means any direct, indirect, incidental, special, consequential or
exemplary losses, including but not limited to, damages for loss of profits, goodwill, use,
data or other intangible Losses (even if VCPL have been advised of the possibility of such
Losses), claims, penalties, damages, liabilities (including legal and other costs and
expenses reasonably incurred while investigating or defending against such loss, claim,
damages or liabilities). Losses also includes any duties, levies, taxes and cess payable on
the Loss;</li>
					<li>Portfolio means the Securities held by the Client pursuant to investments made using
the Product;</li>
					<li>Regulations shall mean the Securities and Exchange Board of India (Investment
Advisers Regulations) 2013, as in force from to time;</li>
					<li>Securities shall have the meaning given to it in Section 2(h) of Securities Contract
(Regulation) Act, 1956.</li>
					<li>Services means the services set out in paragraph 4 below.</li>
					<li>SEBI means the Securities and Exchange Board of India.</li>
				</ul>
				<h2>Rights of Jarvis</h2>
				<ul>
					<li>Jarvis reserves the right to deny access to any user for any reason.</li>
					<li>Jarvis reserves to right to de-register any user for any reason at any time.</li>
					<li>Jarvis can grant differential access with different rights to different Users.</li>
					<li>Modification / Alteration of Terms and Conditions: Jarvis reserves the right to modify the Terms and Conditions any time in future and the revised terms shall automatically be updated and can be accessed through the web link provided on webpage accessible to you. Your continued use of Jarvis following changes to this section will mean that you accept changes to these terms. If you do not agree to the modification, you must discontinue using the services.</li>
					<li>We reserve the right to discontinue or alter any or all of our website services, and to stop publishing our website, at any time in our sole discretion without notice or explanation; and save to the extent expressly provided otherwise in these terms and conditions, you will not be entitled to any compensation or other payment upon the discontinuance or alteration of any website services, or if we stop publishing the website.</li>
				</ul>
				<h2>Interpretation</h2>
				<p>All references in these Terms to any statute or any statutory provisions shall be construed as meaning and including references to:</p>
				<ul>
					<li>any modification, consolidation or re-enactment of the statute in force from time to time;</li>
					<li>all delegated legislation made pursuant to a statutory provision; and</li>
					<li>any statutory provisions of which these statutory provisions are a consolidation, re-enactment or modification.</li>
					<li>References paragraphs shall be to paragraphs of these Terms. </li>
					<li>All titles, subject headings, table of contents and similar items are provided for the purpose of reference and convenience and are not intended to affect the meaning of the content or scope of these Terms.</li>
					<li>The words ‘including’, ‘include’ and ‘in particular’ shall be construed as being by way of illustration only and shall not be construed as limiting the generality of the preceding words.</li>
					<li>References to the singular number shall include references to the plural number and vice versa. </li>
					<li>If any word or phrase is defined, its other grammatical forms or conjugations shall have a corresponding meaning. </li>
				</ul>
				<h2>The Product:</h2>
				<ul>
					<li>The Client understands that the Product is an artificial intelligence based strategy, which creates a portfolio of stocks and allows investors to invest funds in equity stocks, while factoring in the investor’s risk profile and investment horizon. If the Client wishes to use the Product, the Client must open an online account on the Site. The Product provides investment advice to the Client by creating and managing the portfolio of a Client based on information provided by the Client, but it does not make any investment or trading decisions, both of which must be made by the Client.</li>
				</ul>
				<h2>Appointment:</h2>
				<ul>
					<li>The Client hereby appoints VCPL as its investment advisor to provide advice to the Client with respect to creating and managing the Portfolio.</li>
				</ul>
				<h2>Scope of Services</h2>
				<ul>
					<li>During the Term, and subject to the Client making payment of the fees prescribed by VCPL, VCPL shall create and manage the Portfolio, on a non-exclusive basis, entirely at the Client’s risk (“Services”). Any investment or trading decisions must be made by the Client themselves.</li>
					<li>The Broker would enter into a separate agreement with the Client with respect to providing stock broking services to the Client. All such services shall be governed by the terms of the agreement between the Broker and the Client, to the exclusion of VCPL.</li>
					<li>The Client has sole discretion to decide on whether to act upon the advice tendered by the Investment Advisor and the Investment Advisor shall have no power, authority, responsibility or obligation to ensure or cause the client to act upon the advice tendered by pursuant to this Agreement.</li>
					<li>VCPL does not have a refund or cancellation policy.</li>
				</ul>
				<h2>Responsibilities of the Client</h2>
				<ul>
					<li>5.1	The Client shall ensure that information provided to VCPL through the Product or otherwise with respect to the Client’s investment objectives including, but not limited to, period and purpose of investment, income details, existing investments, risk appetite etc., and other pertinent matters as may be reasonably required by the Investment Advisor from time to time is clear and accurate. The Client understands and acknowledges that the Portfolio is created based on the information provided by the Client and the Investment Advisor shall not be liable to the Client, for any Loss arising to the Client as a result of or in connection with the Client providing inaccurate information to the Investment Advisor.</li>
					<li>5.2	The Client shall provide all information required by VCPL to complete know your customer checks as may be required by VCPL and/or mandated by the Regulations from time to time.</li>
					<li>5.3	The Client shall not create any encumbrance, lien, security interest, charge, pledge over or in respect of its Portfolio or any Securities constituting the Portfolio.</li>
					<li>The advice and recommendations given to the Client are intended strictly for the Client benefit, and no other persons shall be entitled to rely on such information.</li>
					<li>The Client is responsible for maintaining the confidentiality of its account and password and for restricting access to its computer to prevent unauthorized access to its account. The Client hereby agrees to accept responsibility for all activities that occur under its account or password. The Client must take all necessary steps to ensure that the password is kept confidential and secure and should inform VCPL immediately if the Client has any reason to believe that its password has become known to anyone else, or if the password is being, or is likely to be, used in an unauthorized manner. Please ensure that the details providedto VCPL are correct and complete and you must inform VCPL immediately of any changes to the information that you have provided at the time of registration. The Client agrees and acknowledges that it will use the Services and/ or the Product only for personal use and not for business purposes.</li>
				</ul>
				<h2>Term :</h2>
				<ul>
					<li>This Agreement shall commence on the date on which the Client subscribes to the Product (hereinafter referred to as the “Commencement Date”) and shall remain valid until terminated in accordance with these Terms (“Term”).</li>
				</ul>
				<h2>Fees</h2>
				<ul>
					<li>The Parties agree that the consideration for the Services provided herein shall be assessed on yearly basis, or in any other manner as may be mutually agreed by the parties. </li>
					<li>At the Commencement Date, the fees comprise of: (a) upfront fee of 2% (“Upfront Fee”), payable within 7 days of the Client making their first investment in Securities using the Product; and (b) annual fee of 2% of the Portfolio value (“Annual Fee”), payable in the first year of the Term, on the 366th day from the Commencement Date (the Upfront Fee and the Annual Fee are collectively referred to as the “Fees”) and subsequently on the day occurring immediately after each anniversary of the Term. For computing the Annual Fee, Portfolio value means the value of the Client’s Portfolio as of close of trading on each anniversary of the Term. The Fees is exclusive of all costs, charges, expenses and taxes of whatsoever nature incurred by VCPL in connection with providing the Services and the Client shall be liable to pay any and all applicable taxes, levies or duties, costs, charges and expenses, as are determined to be payable by VCPL on the Fees, in respect of the Services provided by VCPL to the Client. VCPL reserves the right to revise the Fees (or any component thereof) from time to time.</li>
					<li>In the event that the Client fails to make payment of the Fees or any part thereof, within  ten (10) days from the date when the Fee(s) became due, then without prejudice to any other rights or remedies of VCPL under this Agreement or at law, VCPL may suspend providing the Services and disable the access of the Client to the Product and/ or the account opened by the Client with VCPL in relation to the Product.</li>
					<li>VCPL has provided a payment gateway platform for your convenience and does not take any direct or indirect, explicit or implicit responsibility for any complaint or dispute arising out of such payment made on such payment gateway for any reasons whatsoever. The Fees must be paid by the Client directly to VCPL by electronic funds transfer, cheque or demand draft. Clients are advised not to make payment of fees to any distributor or intermediary engaged by VCPL to market the Product as such parties are not authorised to accept Fees on behalf of VCPL.</li>
					<li>The Fees does not include any charges that may be imposed by the Broker in connection with the brokerage services provided by them to the Client. All such charges must be paid directly by the Client to the Broker.</li>
				</ul>
				<h2>Termination</h2>
				<ul>
					<li>Either party may terminate this Agreement without assigning any reasons, by providing the other party,thirty (30) days’ prior written notice.</li>
					<li>VCPL shall be entitled to suspend or terminate this Agreement without prior notice, in any of the following circumstances:</p>
					<li>if the Client fails to comply with any of its obligations hereunder and such default (where capable of being remedied) is not remedied to VCPL’s satisfaction within 30 days of VCPL notifying the Client, in writing, of the occurrence of the default, this Agreement shall stand terminated on expiry of the aforesaid 30 day period; </li>
					<li>upon the disability, death, winding-up, bankruptcy, insolvency, liquidation or lack of legal capacity of the Client; </li>
					<li>if VCPL becomes aware that the Client has misrepresentedfacts at the time of entering into this Agreement or otherwise; or</li>
					<li>any proceedings or investigations involving the Client are initiated or ongoing. </li>
					<li>The Investment Advisor shall be entitled to terminate this Agreement, if it is prevented from performing the Services for any cause beyond the reasonable control of the Investment Advisor, including war, flood, earthquake, acts of God, change in law, any act of an authority, policy, legal changes which affect capital markets, policy change/ updates to technology / obsolescence of technology or any other cause beyond the control of the Investment Advisor which could not be foreseen or avoided by exercise of due diligence. </li>
					<li>Termination of this Agreement shall not affect any accrued rights and obligations of the parties, which shall continue to be performed in accordance with the terms of this Agreement, including the Client’s liability to pay Fees for the Services rendered until the termination date.</li>
				</ul>
				<h2>Confidentiality</h2>
				<ul>
					<li>The Investment Advisor shall treatall personal information provided by the Client to the Investment Advisor with utmost care and shall use the personal information for providing the Services to the Client. The Client agrees that VCPL may contact the Client either through calls, messages or otherwise on their phone number (landline or mobile) in connection with the Services to be provided by the Client and any such communications from VCPL shall not be treated as unsolicited communications. Notwithstanding the foregoing, VCPL may disclose the personal information of the Client to (a) the Broker, its agents, custodians, service providers engaged by VCPL to assist it in providing the Services and for marketing purposes; (b) its affiliates or group companies; and (c) if required by an appropriate government authority or by the Regulations, provided that where permissible applicable law, VCPL shall provide appropriate notice to the Client before doing making such disclosure. VCPL shall also be entitled to use the Client’s name in any client list or in relation to sales, marketing and reference purposes. The Client’s personal information will be stored, collected, handled and processed in accordance with our privacy policy which is available at [www.jarvisinvest.com].</li>
					<li>Each party agrees that any information obtained by such party (“Receiving Party”) which is, or would be reasonably perceived to be, proprietary to any other party hereto (“Designated Party”) or otherwise confidential, will not be disclosed without prior written consent of the Designated Party; provided that any information shall not be deemed proprietary or confidential if:
						<ol>
							<li>such information is or subsequently becomes generally known or available by publication, commercial use or otherwise, through no fault of the Receiving Party;</li>
							<li>such information was previously known by the Receiving Party at the time of disclosure from a source other than the Designated Party without violation of an obligation of confidentiality;</li>
							<li>such information is independently developed by the Receiving Party without the use of any confidential or proprietary information; or </li>
							<li>the Designated Party agrees in writing that such information may be disclosed by the Receiving Party. </li>
						</ol>
					</li>
					</ul>
					<h2>Risks </h2>
					<ul>
					<li>The Investment Advisor does not guarantee the future performance of any of the Securities purchased or any specific level of performance, the success of any investment decisions or strategy that the Investment Advisor may recommend. Any investment or trading decisions are made by the Client entirely at their own risk and expense. The Client expressly acknowledges and agrees that all investments in Securities are subject to market risks and there cannot be any assurance or guarantee that the objective of investments will be achieved, or that the returns shall always be accretive. The past performance of the Investment Advisor or the Product does not indicate or guarantee their/ its future performance. </li>
					<li>The investment advice given by VCPL may not always result in a profitable position for the Client, as market movements may be at variance with anticipated trends.</li>
					<li>The value of the Securities will react to the stock market movements. The Client could lose money due to fluctuations in the value of the Securities in response to factors such as economic and political developments, changes in interest rates, perceived trends in stock market movements, market downturns over short and/or longer periods.</li>
					<li>Trading in Securities on the market may be halted because of market conditions or where the market authorities or SEBI, consider that trading in a particular security is not advisable. In addition, trading in Securities is subject to trading suspensions caused by extraordinary market volatility and pursuant to the ‘circuit filters’ prescribed by the recognized stock exchange(s). There can be no assurance that the requirements of the market, necessary to maintain the listing of any Securities will continue to be met or will remain unchanged.</li>
					<li>Any changes in the trading regulations by the recognized stock exchange(s) or SEBI may prevent the investment in Securities from achieving stated objectives. </li>
					<li>Different types of Securities tend to go through cycles of out-performance and under-performance in comparison to the general securities markets.</li>
					<li>The Investment Advisor shall not be liable for any loss or damage caused by reason of failure or delay by the issuers of the Securities to deliver Securities of issuers purchased even though payment have been made for the same or failure or delay in making payment in respect of any units of Securities of issuers sold though they may have been delivered and the Client shall indemnify, keep indemnified and hold the Investment Advisor harmless and free from any claim in respect thereof.</li>
					<li>The Investment Advisor shall not be liable for any delay, failure or refusal of the issuers in registering or transferring of Securities to the Client’s name or for any interest, dividend or other Loss caused to the Client arising therefrom.</li>
					<li>Except as may otherwise be provided by law, the Investment Advisor will not be liable to Client for (a) any Loss that Client may suffer by reason of any investment decision made or other action taken or omitted in good faith by the Investment Advisor with that degree of care, skill, prudence, and diligence under the circumstance that a prudent person acting in a fiduciary capacity would use (b) any Loss arising from the Investment Advisor’s adherence to Client’s written or oral instructions; or (c) any act or failure to act by any  third party, including the Broker.</li>
					<li>The Client expressly agrees and acknowledges that investments could depreciate to an unpredictable extent and that risks may either be foreseen or unforeseen, including without limitation the following:
						<ol>
							<li>with any investment in Securities, the net  value of the Portfolio can go up or down depending upon the factors and forces affecting the capital market.</li>
							<li>The performance may be affected by changes in Government policies, general levels of interest rates and risk associated with trading volumes, liquidity and settlement systems in equity and debt markets.</li>
							<li>Investments in debt instruments are subject to default risk and interest rate. Interest rate risk results from changes in demand and supply for money and other macro-economic factors and creates price changes in the value of the debt instruments. Consequently, the net asset value of the Portfolio may be subject to fluctuation.</li>
							<li>Investments in debt instruments are subject to reinvestment risks as interest rates prevailing on interest or maturity due dates may differ from the original coupon of the board, which might result in the proceeds being invested at a lower rate.</li>
							<li>Use of derivatives instruments like index, futures, stock futures and options contracts, warrants, convertible, Securities, swap agreements or any other derivative instruments, including but not restricted to, for the purpose of hedging and Portfolio balancing, as permitted under the Regulations and guidelines will expose to certain risk inherent to such derivatives. The Client is aware that the derivatives are highly leveraged instruments and even a small price movement in the underlying security could have a large impact on their value.</li>
						</ol>
					</li>
					<li>VCPL has launched the Product on 30th Jan 2018 and thus neither VCPL nor the Product have any track record with regard to the Services.</li>
					<li>The Client agrees that the investments have been or will be made by the Client on his own volition and not under coercion or on the basis of promises of returns or any other guarantee whatsoever. VCPL shall not be liable for any loss on account of any investment decision taken by the Client. Moreover, VCPL does not guarantee 100% accuracy of any data or analysis offered to its Clients. </li>
					<li>The Services are regulated by SEBI under the Regulations. Any change in the regulatory position may result in any appropriate changes to the scope or nature of the Services, the manner in which the Services are provided and any of the Terms set out herein.</li>
					<li>The Client shall be responsible for reviewing any warnings, disclaimers in offering documents, advertising materials or any other documents or information which is issued by an issuer of Securities before making any investment decisions. </li>
					<li>The Client understands that the following specific risks may arise in the context of investment in Derivatives:
						<ol>
							<li>Investment in futures involves daily settlement of all positions. Every day the open positions are marked to market based on the closing level of the Index. The Index may move against the position that may have been assumed leading to Marked to Market Losses; sometimes these may be substantial.</li>
							<li>Under certain market conditions, it may be difficult or impossible to execute transactions. There may be insufficient liquidity owing to factors including insufficient bids or offers or suspension of trading owing to other reasons. The Client acknowledges this liquidity risk.</li>
							<li>Buying an option carries a risk of losing the entire premium that is paid upfront on it, if the market in the security moves in a contrary direction to the position assumed.</li>
							<li>The Exchange may impose restrictions and have absolute authority to restrict the exercise of options in specified circumstances in specified times. This reflects that there is liquidity risk involved in Investment in options.</li>
							<li>The Option writer who sells the options runs the risk of losing substantial amount if the underlying asset does not move in the anticipated direction.</li>
							<li>Investment in Derivatives for the purposes of hedging is subject to Basis risk. Basis risk is the risk that the Instrument of the hedge is not a perfect match for the Underlying. The Client acknowledges this Basis risk.</li>
							<li>The Client expressly acknowledges that the aforementioned risks are strictly indicative and that other risks may arise in the context of investment in derivatives, particularly when positions are assumed synthetically, including for the purposes of generating returns.</li>
							<li>The Client expressly agrees and undertakes not to hold the Investment Advisor liable, financially or otherwise, in respect of the aforesaid under any circumstances whatsoever.</li>
						</ol>
					</li>
				</ul>
				<h2>Liability of VCPL</h2>
				<ul>
					<li>The parties hereby agree that any and all risks and Losses incurred or suffered by the Client in pursuance of investment advice rendered by the Investment Advisor shall be borne solely and exclusively by the Client.</li>
					<li>The Client understands that the responsibility of the Investment Advisor does not extend beyond providing investment advice with respect to creation and management of the Portfolio and that any investment decision made by the Client, relying completely or in part, upon the advice rendered by the Investment Advisor shall be deemed to have been made voluntarily and independent of the Investment Advisor’s influence.</li>
					<li>The Client understands that the investment advice rendered by the Investment Advisor is based on the information provided by the Client to VCPL, is subjective and unique to the investment related needs and the financial situations of the Client and is designed in the light of market conditions prevailing at the time. Any advice rendered to a third party by the Investment Advisor and benefits thus accrued or the Losses incurred by the same shall have no bearing whatsoever upon the profits or Losses that may accrue to the Client.</li>
					<li>The Investment Advisor undertakes to render investment advice suited to the Client’s requirement with considerable diligence. It is further expressly understood by the Client that no representation or warranties are made by VCPL about the safety or soundness of the Investment Advice and all actions taken and acts done by the Client pursuant to the Investment Advice are done solely at the Client’s account and risk and VCPL shall not be held responsible in any manner whatsoever for making good any Loss sustained or suffered by the Client for any action taken or failure to act unless VCPL acts with misfeasance, fraud, malaise or gross negligence.</li>
					<li>The Client expressly understands and agrees that VCPL shall not be liable to the Client for any Losses resulting from: 
						<ol>
							<li>making investments or trading decisions based on the investment advice provided by the Investment Advisor, the use or the inability to use the Services and/ or the Product; </li>
							<li>unauthorized access to or alteration of the Client’s transmissions or data;</li>
							<li>failure of the Client to comply with applicable law; </li>
							<li>statements or conduct of any third party with respect to VCPL or the Services; </li>
							<li>acts or omissions of third parties or intermediaries, including without limitation acts or omissions of the Broker, service providers such as telecom companies, internet service providers; or </li>
							<li>any other matter relating to the Services and/ or the Products.</li>
						</ol>
					</li>
					<li>If VCPL is held liable for any Losses, its maximum liability to the Client shall not exceed the Annual Fee paid by the Client to VCPL for the relevant financial year in which the Loss or damage arose.</li>
				</ul>
				<h2>Conflict of Interests</h2>
				<ul>
					<li>The Client understands that the Investment Advisor may give advice or take action in performing their duties to other clients, or for their own accounts, that differ from advice given to or acts taken for the Client. The Investment Advisor is not obligated to buy, sell or recommend any security or other investment to the Client, that the Investment Advisor may buy, sell or recommend for any other client or for its own accounts. This Agreement does not limit or restrict in any way Investment Advisor from buying, selling or trading in any Security or other investments for their own accounts, subject to compliance with the Regulations. The Client acknowledges that subject to compliance with the Regulations, VCPL may have a commercial or other relationship with stock brokers, distributors, banks, companies, intermediaries with whom or through whom the Product is marketed. The Investment Advisor shall comply with the Regulations with respect to conflict of interests and shall act in a fiduciary capacity towards its clients. </li>
				</ul>
				<h2>Representations, Warranties and Declarations</h2>
				<ul>
					<li>The Client hereby represents, warrants, declares and undertakes to the Investment Advisor as under:
						<ol>
							<li>The Client has full legal capacity and authorizations to enter into this Agreement and upon the Client accepting these Terms, this Agreement shall form a legal, valid and binding obligation on the Client, enforceable against the Client in accordance with its terms.</li>
							<li>The execution, delivery and performance by the Client of this Agreement and the acts and transactions contemplated hereby do not and will not, with or without the giving of notice of lapse of time or both, violate, conflict with, require any consent under or result in a breach of or default under: (a) any law (including the Regulations) to which it is subject to; or (b) any order, judgment or decree applicable to it; or (c) any term, condition, covenant, undertaking, agreement or other instrument to which it is a party or by which it is bound.</li>
							<li>The Client has read this Agreement and is aware of all the risks associated with the nature of the Services and the transactions contemplated under this Agreement, whether set out in the Agreement or not, and shall not hold the Investment Advisor and/or any person appointed by it, responsible for the same.</li>
						</ol>
					</li>
				</ul>
				<h2>Non-Exclusivity:</h2>
				<ul>
					<li>VCPL shall provide the Services to the Client on a non-exclusive basis. The Client is free to obtain any legal, accounting, and any other financial services from any professional source to supplement and to implement the investment advice rendered by VCPL.</li>
				</ul>
				<h2>Indemnification</h2>
				<ul>
					<li>The Client shall indemnify, keep indemnified and hold VCPL and its subsidiaries, affiliates, officers, agents, employees, advertisers, licensors, suppliers or partners, (collectively the “Indemnified Parties”) harmless from and against any Losses suffered by VCPL either itself or through third party claims made against VCPL, arising from or in any way related to:
						<ol>
							<li>the Client’s use of Services;</li>
							<li>violation by the Client of these Terms or any other actions of the Client connected with use of the Services; </li>
							<li>unauthorized access, use of the Services or the Product. </li>
						</ol>
					</li>
				</ul>
				<h2>Assignment</h2>
				<ul>
					<li>The Client shall not assign this Agreement or parts thereof, without the express written consent of VCPL. VCPL shall be entitled to assign, transfer, novate this Agreement to any of its affiliates, successors in interest or to any person or entity who acquires a substantial part of its assets or business. VCPL shall give written intimation to the Client of any such assignment or transfer, within 3o days of the same having occurred.</li>
				</ul>
				<h2>Governing law and Jurisdiction</h2>
				<ul>
					<li>These Terms and the Agreement shall be governed by the laws of India. Subject to paragraph 18 below, the courts of Mumbai shall have exclusive jurisdiction in respect of any dispute arising out of or in connection with this Agreement. </li>
				</ul>
				<h2>Grievance redressal and Dispute Resolution</h2>
				<ul>
					<li>The Client should promptly notify any grievances to the Investment Advisor in writing, giving sufficient details to enable the Investment Advisor to take necessary steps. </li>
					<li>On receipt of any grievances, VCPL shall take prompt action to redress the same. If the grievance persists, all claims and disputes arising out of or in connection with this Agreement or its performance or any non-contractual claims arising between the parties shall be settled by arbitration by a sole arbitrator mutually acceptable to the parties. If the parties fail to agree on the appointment of a sole arbitrator within 30 days of the dispute being referred to arbitration, the sole arbitrator shall be appointed in accordance with the Arbitration & Conciliation Act, 1996 (as amended). The arbitration shall be governed by the provisions of the Arbitration & Conciliation Act, 1996 (as amended) and unless otherwise agreed by the parties, arbitration proceedings shall be held in Mumbai.</li>
				</ul>
				
				<h2>Miscellaneous</h2>
				<ul>
					<li>This Agreement represents the complete agreement of the parties with regard to the subject matter and supersedes any prior understanding or agreements, oral or written.</li>
					<li>No provision hereof or breach of any provision may be waived except by a written waiver, signed by the waiving Party. No waiver of any right under or breach of this Agreement shall be construed to be a waiver of any other right or breach.</li>
					<li>If any provision of this Agreement or the application thereof to any person or circumstance shall be invalid or unenforceable to any extent, the remainder of this Agreement and the application of such provision to persons or circumstances other than those as to which it is held invalid or unenforceable shall not be affected thereby, and each provision of this Agreement shall be valid and enforceable to the fullest extent permitted by the Applicable Law. Any invalid or unenforceable provision of this Agreement shall be replaced with a provision, which is valid and enforceable and most nearly reflects the original intent of the unenforceable provision.</li>
					<li>The Investment Advisor shall have the full liberty and absolute discretion to make necessary changes in the Agreement and/or do any act, deed, matter or thing necessary to comply with any law for the time being in force and the Investment Advisor shall not be held liable for the same. Further, the Investment Advisor reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Services and/ or the Product (or any part thereof) with or without notice. The Client agrees that VCPL shall not be liable to the Client or to any third party for any modification, suspension or discontinuance of the Services and/ or the Product during the subscription period. Except for the above, no amendment or modification of this Agreement and no waiver of any of these Terms shall be valid or binding, unless mutually agreed by the parties.</li>
					<li>None of the provisions of this Agreement shall be deemed to constitute a partnership between the parties and no party shall have any authority to bind the other Party otherwise than as contemplated under this Agreement.</li>
					<li>Notices: Any notice, demand or other communication to be made under or in connection with this Agreement shall be made in writing unless otherwise stated. Such notice, demand, request or other communication shall be deemed to have been duly given or made when it shall be (i) delivered personally; or (ii) sent by facsimile; or (iii) sent by registered mail with acknowledgement due, postage prepaid or courier; or (iv) sent by email (provided that the email is followed up with a copy by any of the aforesaid modes) to – in the case of VCPL at its registered office address, and in the case of the Client, to the last address provided by the Client to VCPL. A party may change their address with written intimation to the other party.</li>
					<li>Any questions about these Terms should be sent to us at compliance@monitree.in.</li>
				</ul>
			</article>
			<div class="clearfix"></div>
		</div>
			</div>
			<div class="col s12" style="margin-top:20px;">
				<a class="btn gradient" ng-click="$ctrl.submitPortfolio();">Accept</a>
				<a class="btn gradient" ng-click="$ctrl.closeModal();">Reject</a>
			</div>
		</div>
	</div>
</div>
<div data-loading> </div>
<ui-footer></ui-footer>