<user-navbar></user-navbar>
<style>
.table-bold td,th{font-weight:bold;}
.thumbnail ul{
	position:absolute;
	margin-left:110px;
	margin-top:20px;
	color:#fff;
}
.thumbnail ul li{
	padding:10px 10px;
}
.thumbnail ul li:nth-last-child(1){
	padding-top:20px;
}
</style>
<section class="col s12" id="dash-panel-1">
	<article class="container">
		<div class="row">
			<div class="col s12 m6">
				<div class="row">
					<div class="col s4 m3 profile-pic">
						<img src="{{nav.$rootScope.userinfo.profile_pic}}" alt="" class="responsive-img circle">
					</div>
					<div class="col s8 m9">
						<h1>{{nav.$rootScope.userinfo.name}}</h1>
						<h5>{{$ctrl.personal.address}}</h5>
						<p>Client ID : JARVIS-{{nav.$rootScope.userinfo.id}}</p>
					</div>
				</div>
			</div>
			<div class="col s12 m6" ng-show="$ctrl.badge">
				<div class="row">
					<div class="col s4 m3 offset-m2">
						<img src="./client/image/img-badge1.png" alt="" class="responsive-img">
					</div>
					<div class="col s8  m7 text-right">
						<h5>CONGRATULATIONS</h5>
						<p>Start qualifying for your badges &amp; start earning Rewards. Proceed with your forst investment to start the journey.</p>
					</div>
				</div>
			</div>
			<div class="col s12 text-center">
				<div class="switch1">
					<input type="radio" class="switch-input1" name="view" value="model" id="model" ng-click="$ctrl.moveTo('profile');">
					<label for="model" class="switch-label1 switch-label-off1"><i class="tiny material-icons">person</i> PROFILE</label>
					<input type="radio" class="switch-input1" name="view" value="custome"id="custome" ng-click="$ctrl.moveTo('dashboard');" checked>
					<label for="custome" class="switch-label1 switch-label-on1"><i class="tiny material-icons">dashboard</i> DASHBOARD</label>
					<span class="switch-selection1"></span>
				</div>
			</div>
		</div>
	</article>
</section>
<section class="col s12" id="dash-panel-2">
	<article class="container">
		<div class="row">
			<div class="col m3 s12">
				<div class="thumbnail text-right thumbnail-box padding-0">
					<h5>MARKET CAP</h5>
					<!-- <ul>
						<li>500000</li>
						<li>500000</li>
						<li>500000</li>
					</ul> -->
					<img src="./client/image/img-assets-allocation.png" class="responsive-img" alt="Lights" style="margin:0;padding:0;">
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col m9 s12 padding-0">
				<div class="col m3 s6">
					<div class="thumbnail thumbnail-box">
						<div class="col s12 padding-0 thumbnail-panel" style="background-color:#ffe189;">
							<img src="./client/image/ico-total-investment.png" class="responsive-img thumbnail-img" alt="Lights">
							<div class="clearfix"></div>
						</div>
						<div class="caption text-center">
							<h5><strong>TOTAL <br/>INVESTMENT</strong></h5>
							<h1>{{$ctrl.invest_amount | number}}</h1>
							<h5>RUPEES</h5>
							<!-- <h5 ng-if="$ctrl.invest_amount<1000"><strong>HUNDRED</strong></h5>
							<h5 ng-if="$ctrl.invest_amount>=100000"><strong>LAC</strong></h5>
							<h5 ng-if="$ctrl.invest_amount<100000 && $ctrl.invest_amount>=1000"><strong>THOUSAND</strong></h5> -->
							<!-- <h1 ng-if="$ctrl.invest_amount>=100000">{{$ctrl.invest_amount/100000 | number : 2}}<small>L</small></h1>
							<h1 ng-if="$ctrl.invest_amount<100000">{{$ctrl.invest_amount/1000 | number : 2}}<small>K</small></h1>
							<h5 ng-if="$ctrl.invest_amount>=100000"><strong>LAC</strong></h5>
							<h5 ng-if="$ctrl.invest_amount<100000"><strong>THOUSAND</strong></h5> -->
						</div>
					</div>
				</div>
				<div class="col m3 s6">
					<div class="thumbnail thumbnail-box">
						<div class="col s12 padding-0 thumbnail-panel" style="background-color:#fbbba6;">
							<img src="./client/image/ico-current-value.png" class="responsive-img thumbnail-img" alt="Lights">
							<div class="clearfix"></div>
						</div>
						<div class="caption text-center">
							<h5><strong>CURRENT <br/>VALUE</strong></h5>
							<h1>{{$ctrl.current_amount | number}}</h1>
							<h5>RUPEES</h5>
							<!-- <h5 ng-if="$ctrl.current_amount<1000"><strong>HUNDRED</strong></h5>
							<h5 ng-if="$ctrl.current_amount>=100000"><strong>LAC</strong></h5>
							<h5 ng-if="$ctrl.current_amount<100000 && $ctrl.current_amount>=1000"><strong>THOUSAND</strong></h5> -->
							<!-- <h1 ng-if="$ctrl.current_amount>=100000">{{$ctrl.current_amount/100000 | number : 2}}<small>L</small></h1>
							<h1 ng-if="$ctrl.current_amount<100000">{{$ctrl.current_amount/1000 | number : 2}}<small>K</small></h1>
							<h5 ng-if="$ctrl.current_amount>=100000"><strong>LAC</strong></h5>
							<h5 ng-if="$ctrl.current_amount<100000"><strong>THOUSAND</strong></h5> -->
						</div>
					</div>
				</div>
				<div class="col m3 s6">
					<div class="thumbnail thumbnail-box">
						<div class="col s12 padding-0 thumbnail-panel" style="background-color:#dcbfef;">
							<img src="./client/image/ico-gain-loss.png" class="responsive-img thumbnail-img" alt="Lights">
							<div class="clearfix"></div>
						</div>
						<div class="caption text-center">
							<h5><strong>GAIN / LOSS<br/>&nbsp;</strong></h5>
							<h1>{{($ctrl.current_amount-$ctrl.invest_amount) | number}}</h1>
							<h5>RUPEES</h5>
							<!-- <h5 ng-if="($ctrl.current_amount-$ctrl.invest_amount)<1000"><strong>HUNDRED</strong></h5>
							<h5 ng-if="($ctrl.current_amount-$ctrl.invest_amount)>=100000"><strong>LAC</strong></h5>
							<h5 ng-if="($ctrl.current_amount-$ctrl.invest_amount)<100000 && ($ctrl.current_amount-$ctrl.invest_amount)>=1000"><strong>THOUSAND</strong></h5> -->
						
							<!-- <h1 ng-if="($ctrl.current_amount-$ctrl.invest_amount)>=100000">{{($ctrl.current_amount-$ctrl.invest_amount)/100000 | number : 2}}<small>L</small></h1>
							<h1 ng-if="($ctrl.current_amount-$ctrl.invest_amount)<100000">{{($ctrl.current_amount-$ctrl.invest_amount)/1000 | number : 2}}<small>K</small></h1>
							<h5 ng-if="($ctrl.current_amount-$ctrl.invest_amount)>=100000"><strong>LAC</strong></h5>
							<h5 ng-if="($ctrl.current_amount-$ctrl.invest_amount)<100000"><strong>THOUSAND</strong></h5> -->
						</div>
					</div>
				</div>
				<div class="col m3 s6">
					<div class="thumbnail thumbnail-box">
						<div class="col s12 padding-0 thumbnail-panel" style="background-color:#80e1e5;">
							<img src="./client/image/ico-gain-loss2.png" class="responsive-img thumbnail-img" alt="Lights">
							<div class="clearfix"></div>
						</div>
						<div class="caption text-center">
							<h5><strong>GAIN / LOSS<br/>&nbsp;</strong></h5>
							<h1>{{(($ctrl.current_amount-$ctrl.invest_amount)*100)/$ctrl.invest_amount | number : 2}}<small>%</small></h1>
							<h5><strong>PERCENTAGE</strong></h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
<section class="col s12" id="dash-panel-3">
	<article class="container">
		<div class="row">
			<canvas id="canvas" height="400" class="padding-t-20"></canvas>
		</div>
	</article>
</section>
<section class="col s12" id="dash-panel-4">
	<article class="container">
		<div class="row">
			<div class="col s12">
				<h2>PORTFOLIO PERFORMANCE</h2>
				<table class="table responsive-table table-bold">
					<thead>
					<tr class="gradient">
						<th>Description</th>
						<th>Month of Date</th>
						<th>Quarter to Date</th>
						<th>Year to Date</th>
					</tr>
					</thead>
					<tr>
						<td>Portfolio</td>
						<td>{{$ctrl.per_monthly}}</td>
						<td>{{$ctrl.per_quarterly}}</td>
						<td>{{$ctrl.per_yearly}}</td>
					</tr>
					<tr>
						<td>BSE 200</td>
						<td>2.85%</td>
						<td>12.76%</td>
						<td>4.87%</td>
					</tr>
				</table>
				<h2>PORTFOLIO ALLOCATION</h2>
				<table class="table responsive-table table-bold">
					<thead>
					<tr class="gradient">
						<th>Scrip Name</th>
						<th>Quantity</th>
						<th>Buy Price</th>
						<th>Current Market Price</th>
						<th>Gain/Loss</th>
						<th>Allocation %</th>
					</tr>
					</thead>
					<tr ng-repeat="x in $ctrl.port_allocation">
						<td>{{x.symbol}}</td>
						<td>{{x.quantity}}</td>
						<td>{{x.quantity*x.trade_value | number:2}}</td>
						<td>{{x.quantity*x.last_trade_price | number:2}}</td>
						<td>{{(x.quantity*x.last_trade_price)-(x.quantity*x.trade_value) | number:2}}</td>
						<td>{{((x.quantity*x.last_trade_price)-(x.quantity*x.trade_value)*100)/$ctrl.invest_amount | number:2}}%</td>
					</tr>
					<tr ng-if="$ctrl.port_allocation.length<1">
						<td colspan="6" class="text-center">No record available</td>
					</tr>
				</table>
			</div>
		</div>
	</article>
</section>
<ui-footer></ui-footer>