<header>
	<div class="row m-b-3">
		<div class="container">
			<!-- For mobile view -->
			<div class="col s3 padding-0 hide-on-desk">
				<a id="toggle-nav"><i class="material-icons"  style="font-size:35px;">menu</i></a>
			</div>
			
			<div class="col m3 s5 padding-0 center1">
				<a ui-sref="/" ><img src="./client/image/logo.png" alt="Jarvis Logo"></a>
			</div>
			<div class="col s4 padding-0 hide-on-desk">
				<!-- <span class="showAuthBtn btn-nav navbar-btn pull-right gradient modal-trigger waves-effect waves-light" href="#modal1"><span>LOG IN</span></a> -->
				<div class="showLogBtn hide-on-desk text-right">
					<img src="{{nav.$rootScope.userinfo.profile_pic}}" alt="" class="circle responsive-img profile-img dropdown-trigger"  data-target='dropdown2'>
					<ul id='dropdown2' class='dropdown-content'>
						<li><a ui-sref="profile">PROFILE (JARVIS-{{nav.$rootScope.userinfo.id}})</a></li>
						<li><a ui-sref="dashboard">DASHBOARD</a></li>
						<li><a ng-click="nav.check_portfolio_exist();">PORTFOLIO</a></li>		
						<li><a ui-sref="logout">LOGOUT</a></li>
					</ul>
				</div>
			</div>
			<nav class="col m9 s12 hide-on-mob border-top" id="toggle-nav-body">
				<ul class="nav navbar-nav">
					<li><a class="panel-1" onclick="setLS('panel-1',0);">HOME</a></li>
					<li><a class="panel-9" onclick="setLS('panel-9',60);">HOW IT WORKS</a></li>
					<li><a class="panel-10" onclick="setLS('panel-10',65);">ABOUT US</a></li>
					<li><a ui-sref="price" onclick="scrolls('price_1',0);">PRICING</a></li>
					<li><a href="https://blog.jarvisinvest.com/" target="_blank">BLOGS</a></li>
					<li><a class="panel-11" onclick="setLS('panel-11',75);">CONTACT US</a></li>
				</ul>
			  
			</nav>
		</div>
	</div>
</header>
<section>
	<div class="row">
		<div class="col s12 padding-0" id="disclaimer">
			<article class="container">
				<h1>DISCLAIMER</h1>
				<p>The site, including any content or information contained with it or any site related service, or any
					product
					or service licensed or purchased through the site, is provided on an &quot; as is&quot; basis and
					without warranties of
					any kind, either express or implied, including, but not limited to warranties of title or
					non-infringement or
					implied or warranties of merchantability and fitness for a particular purpose, other than those
					warranties
					which are implied by and are cannot be excluded or restricted by applicable law.</p>
				<p>Ventugrow Consultants Pvt. Ltd. (hereinafter referred to as “VCPL”) does not warrant that your access
					to
					the site and/or related services will be uninterrupted or error-free, that defects will be
					corrected, or that
					this site or the server that makes it available is free of viruses or other harmful components. You
					assume
					total responsibility and risk for your use of this site and site-related services.</p>
				<p>While VCPL takes reasonable efforts to ensure that the information available on the site is accurate,
					VCPL
					does not make any guarantee as to the accuracy of the information. Neither VCPL nor its affiliates
					or
					employees shall be responsible and/or liable for any loss or damage that may arise to any person
					from any
					inadvertent error in the information contained on the site.</p>
				<p>Unless you subscribe to our product, Jarvis, we do not provide any investment advice to you. The
					information on our site is provided solely to provide information about Jarvis and does not
					constitute a
					recommendation to buy, sell or otherwise deal in investments.</p>
				<p>VCPL does not guarantee the future performance of any of the securities purchased by you or any
					specific
					level of performance, the success of any investment decisions or strategy that VCPL may recommend.
					Any
					investment or trading decisions are made by you entirely at your own risk and expense. You expressly
					acknowledge and agree that all investments in securities are subject to market risks and there
					cannot be
					any assurance or guarantee that the objective of investments will be achieved, or that the returns
					shall
					always be accretive. The past performance of VCPL or Jarvis does not indicate or guarantee their/
					its
					future performance. With any investment, your capital is at risk, as the value of investments may go
					up or
					down depending on market conditions. For more details regarding the terms and conditions and risks
					of
					using Jarvis, please see.</p>
				<p>In no event will we be liable for any loss or damage including without limitation, indirect or
					consequential
					loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out
					of, or in
					connection with, the use of this site.</p>
				<h2>Third Party Links</h2>
				<p>In connection with any links to third party websites provided by our site, VCPL does not make
					representations, warranties regarding the accuracy of information provided by third party sites nor
					does it
					recommend or support views expressed on third party sites. You should always verify the information
					obtained from linked sites before acting upon such information. VCPL is not an agent for linked
					third
					parties nor do we endorse or guarantee their performance. The information or advice offered by
					linked
					third parties may not be products of VCPL. Also, please be aware that the security and privacy
					policies on
					linked sites may be different from our policies, so please read third party privacy and security
					policies
					closely. If you have any questions or concerns about the products and services offered on linked
					third
					party sites, please contact the third party directly.</p>
				<h2>Governing Law</h2>
				<p>Indian law shall govern any transactions entered into between VCPL and you. The courts of Mumbai
					shall
					have exclusive jurisdiction in respect of any dispute arising out of or in connection with your
					transactions
					with VCPL.</p>
			</article>
			<div class="clearfix"></div>
		</div>
	</div>
</section>

<div class="arrow_up hide-on-mob hidden" ng-click="$ctrl.totop();"><i class="material-icons">chevron_right</i></div>
<div data-loading> </div>
<ui-footer></ui-footer>