<header>
	<div class="row m-b-3">
		<div class="container">
			<!-- For mobile view -->
			<div class="col s3 padding-0 hide-on-desk">
				<a id="toggle-nav"><i class="material-icons"  style="font-size:35px;">menu</i></a>
			</div>
			
			<div class="col m3 s5 padding-0 center1">
				<a ui-sref="/" ><img src="./client/image/logo.png" alt="Jarvis Logo"></a>
			</div>
			<div class="col s4 padding-0 hide-on-desk">
				<!-- <span class="showAuthBtn btn-nav navbar-btn pull-right gradient modal-trigger waves-effect waves-light" href="#modal1"><span>LOG IN</span></a> -->
				<div class="showLogBtn hide-on-desk text-right">
					<img src="{{nav.$rootScope.userinfo.profile_pic}}" alt="" class="circle responsive-img profile-img dropdown-trigger"  data-target='dropdown2'>
					<ul id='dropdown2' class='dropdown-content'>
						<li><a ui-sref="profile">PROFILE (JARVIS-{{nav.$rootScope.userinfo.id}})</a></li>
						<li><a ui-sref="dashboard">DASHBOARD</a></li>
						<li><a ng-click="nav.check_portfolio_exist();">PORTFOLIO</a></li>		
						<li><a ui-sref="logout">LOGOUT</a></li>
					</ul>
				</div>
			</div>
			<nav class="col m9 s12 hide-on-mob border-top" id="toggle-nav-body">
				<ul class="nav navbar-nav">
					<li><a class="panel-1" onclick="setLS('panel-1',0);">HOME</a></li>
					<li><a class="panel-9" onclick="setLS('panel-9',60);">HOW IT WORKS</a></li>
					<li><a class="panel-10" onclick="setLS('panel-10',65);">ABOUT US</a></li>
					<li><a ui-sref="price" onclick="scrolls('price_1',0);">PRICING</a></li>
					<li><a  href="https://blog.jarvisinvest.com/" target="_blank">BLOGS</a></li>
					<li><a class="panel-11" onclick="setLS('panel-11',75);">CONTACT US</a></li>
				</ul>
			  
			</nav>
		</div>
	</div>
</header>
<section>
	<div class="row">
		<div class="col s12 padding-0" id="faq">
            <div class="faqs">
                <div class="col s12 m8 l8  offset-m2 offset-l2 teal lighten-5 ml0">
                   <h6>Frequently Asked Questions.</h6>
                   <ul class="collapsible">
                        <li ng-repeat="todo in todos" ng-click="tg(this)">
                          <div  class="collapsible-header">
                              <div class="row">
                                  <div class="col s1" style="padding-left: 0;">
                              <i class="material-icons blue darken-1" style="color: white">Q</i>
                            </div>
                            <div class="col s9 m9 l10 offset-s1 offset-m1" style="cursor: pointer">
                             <h5 style="font-size: 14px; line-height: normal;line-break: auto;
                             font-weight: 700;" class="" title="{{todo.title}}">{{todo.title}}</h5>
                            </div>
                            <div class="col s1">
                              <a href="#!" class="secondary-content collasp">
                                  <i ng-show = "IsVisible"  class="material-icons">add</i>
                                  <i ng-show = "IsVisible2" class="material-icons">remove</i>
                                  
                                </a>
                            </div>
                                </div>
                            </div>
                          <div class="collapsible-body">
                                <div class="row">
                                        <div class="col s1" style="padding-left: 0;">
                                    <i class="material-icons blue lighten-2" style="color: white">A</i>
                                  </div>
                                  <div class="col s10 m9 l10 offset-s1 offset-m1">
                                        <p style="font-weight: 600">{{todo.description}}</p>
                                  </div>
                                      </div>
                        </div>
                        </li>
                      </ul>
                </div>
              </div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>

<div class="arrow_up hide-on-mob hidden" ng-click="$ctrl.totop();"><i class="material-icons">chevron_right</i></div>
<div data-loading> </div>
<ui-footer></ui-footer>