<navbar></navbar>
<section>
	<div class="row m-b-0">
		<div class="col s12 padding-0" id="panel-1">
			<article class="article">
				<img src="./client/image/jarvis-text.png"  alt="Jarvis Banner">
				<p>India’s first Artificial Intelligence based Equity Advisory Model
					with an embedded Risk Management System</p>
				<a href="https://play.google.com/store/apps/details?id=com.neolite.jarvis.monitree" class="hm-btn waves-effect waves-light gradient">Download App</a>
			</article>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<section>
	<div class="row m-b-0" >
		<div class="col m12 s12 padding-0" id="panel-2">
			<div class="container">
				<div class="arrow_down hide-on-mob" ng-click="$ctrl.down();"><i class="material-icons">chevron_right</i></div>
				<article class="col s12 m12 l6  article">
					<h2>The JARVIS Philosophy</h2>
					<p><i>“An investor’s worst enemy is not the stock <br>market but his own emotions”</i></p>
					<!-- <p style="margin-top:-20px;"><span class="subtitle">-	Benjamin Graham</span></p> -->
					<p>JARVIS is designed to eliminate this emotional aspect of
						investments. By using Artificial Intelligence we help you
						create your own personalized Equity Portfolio.</p>
					<div class="col s12 hide-on-desk">
						<img src="./client/image/our-philosphy - Copy.png" alt="Jarvis Philosophy" class="mback">
					</div>
					<div class="center1"><a href="https://play.google.com/store/apps/details?id=com.neolite.jarvis.monitree" class="hm-btn waves-effect waves-light gradient">INVEST NOW</a></div>
				</article>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
	</div>
</section>

<section>
	<div class="row m-b-0">
		<div class="col m12 s12 padding-0" id="panel-3">
			<div class="container">
				<article class="col s12 m12 l5 offset-l7 article">
					<h2> How JARVIS Works</h2>
					<p>With so many stocks listed on the exchange, it becomes a challenge to decide where to invest. This is where, the intelligence of JARVIS guides you…</p>
					<div class="col s12 hide-on-desk padding-0">
						<img src="/client/image/investment1.png" alt="Jarvis Philosophy" class="mback">
					</div>
					<p class="center1"><a href="https://play.google.com/store/apps/details?id=com.neolite.jarvis.monitree" class="hm-btn waves-effect waves-light gradient">Get Started Now</a></p>
				</article>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<section id="#panel-9">
	<div class="container">
	<h2 style="font-family: Calibri;
    font-weight: bold;
    color: #000;
    font-size: 2.7em;
	text-align:center;
    margin-bottom: 54px;"> Know what is JARVIS</h2>
	<div class="row justify-content-center text-center youtube_video">
		<iframe width="1024" height="450" src="https://www.youtube.com/embed/64Frd_Tenlk?start=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	</div>
	
</section>
<section>
	<div class="row m-b-0">
		<div class="col s12 m12 padding-0" id="panel-4">
			<div class="container">
				<article class="col s12 m12 article">
					<h2>JARVIS's Performance</h2>
				</article>
				<article class="chart-container">
					<canvas id="canvas" height="400" class="padding-t-20"></canvas>
				</article>
				<p class="center"> *Please refer the website disclaimer for further information</p>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<section>
	<div class="row m-b-0 hide-on-desk hide-on-mob" style="display: none;">
		<div class="col s12 padding-0" id="panel-5">
			<div class="container">
				<article class="article">
					<form>
						<h2>I want to invest Rs. <span><input type="text" name="price" id="numb" class="hide-focus" ng-model="$ctrl.amount"></span> for <span><input type="text" name="year" class="hide-focus" ng-model="$ctrl.year" ng-keyup="$ctrl.filterValue($event)"></span> Years</h2>
						<p><button class="hm-btn waves-effect waves-light gradient" ng-click="$ctrl.invest();">LET'S GO FOR IT</button><br/></p>
					</form>
					<div class="clearfix"></div>
				</article>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<section>
	<div class="row m-b-0">
		<div class="col m12 s12 padding-0" id="panel-6">
			<article class="container article">
				<div class="row">
					<div class="col m12 s12 text-center">
						<h2>Track Your Investment</h2>
					</div>
					<div class="col m6 s12">
						<p><strong>What do you get, how do you benefit…</strong></p>
						<p class="small">We have strived to create a user friendly, jargon  free report that provides a clear and concise view of your investment. This is available at the click of a button and you access it from anywhere in the world. </p><br/>
						<div class="col m6 s12 padding-0 hide-on-desk  mar-b-30">
						<img src="./client/image/img-laptop.png" alt="Jarvis Portfolio">
						</div>
						<p><a href="https://play.google.com/store/apps/details?id=com.neolite.jarvis.monitree" class="hm-btn waves-effect waves-light gradient" style="padding: 12px 27px;">Download App</a></p>
						<div class="clearfix"></div>
					</div>
					<div class="col m6 s12 padding-0 hide-on-mob">
						<img src="./client/image/img-laptop.png" alt="JARVIS Portfolio">
					</div>
					<div class="clearfix"></div>
				</div>
			</article>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<!-- <section>
	<div class="row m-b-0">
		<div class="col s12 padding-0" id="panel-7">
			<div class="container">
				<article class="col m5 offset-m1 s12 text-right">
					<div class="margin-t-10">
						<img src="./client/image/equity-2-percent.png" alt="">
					</div>
					<div class="margin-t-10">
						<a href="https://play.google.com/store/apps/details?id=com.neolite.jarvis.monitree" class="hm-btn waves-effect waves-light gradient bt-large">INVEST NOW</a>
					</div>
					<div class="margin-t-10" style="text-align:left;">
						<small class="text-white">Disclaimer : Please refer <a class="text-white" ui-sref="terms-and-conditions"><u>Terms &amp; Condition</u></a> for further details</small>
					</div>
				</article>
				<article class="col m4 offset-m1 s12">
					<ul class="collapsible">
						<li>
							<div class="collapsible-header cust-header">
								<strong>Lowest Cost</strong>
								<i class="large material-icons more">add_circle_outline</i>
								<i class="large material-icons less hidden">remove_circle_outline</i>
							</div>
							<div class="collapsible-body cust-body">
								<span>
									<ul>
										<li>No trading fees<sup>*</sup></li>
										<li>No Annual maintenance charges<sup>*</sup></li>
										<li>No performance fees</li>
									</ul>
								</span>
							</div>
						</li>
						<li>
							<div class="collapsible-header cust-header">
								<strong>Personalized Advice</strong>
								<i class="large material-icons more">add_circle_outline</i>
								<i class="large material-icons less hidden">remove_circle_outline</i>
							</div>
							<div class="collapsible-body cust-body">
								<span>
									<ul>
										<li>Unique portfolio for every client</li>
										<li>Most diversified portfolio</li>
										<li>Dedicated customer support</li>
									</ul>
								</span>
							</div>
						</li>
						<li>
							<div class="collapsible-header cust-header">
								<strong>Completely digital</strong>
								<i class="large material-icons more">add_circle_outline</i>
								<i class="large material-icons less hidden">remove_circle_outline</i>
							</div>
							<div class="collapsible-body cust-body">
								<span>
									<ul>
										<li>Intelligent investment process</li>
										<li>Automated rebalancing<sup>**</sup></li>
										<li>Real time reporting</li>
									</ul>
								</span>
							</div>
						</li>
					</ul>
				</article>
			</div>
		</div>
	</div>
</section> -->
<section>
	<div class="row m-b-0" >
		<div class="col s12 m12 padding-0" id="panel-8">
			<div class="container" >
				<h2>Risk Management Process</h2>
				<p>JARVIS tracks the Performance &amp; conducts Risk
					Management of every portfolio independently and
					generates alerts</p>
					<div class="row text-left">
							<div class="col s12 m6 l2 "><p class="tooltipped riskManagementProcess " data-position="bottom" data-tooltip="We will send you alerts when to book profits on your stocks.">Timely Profit<br> Booking</p></div>
							<div class="col s12 m6 l2"><p class=" tooltipped riskManagementProcess" data-position="bottom" data-tooltip="We will send you alerts when to exit your stocks."> Minimising <br>Losses</p></div>
							<div class="col s12 m6 l2"><p class=" tooltipped riskManagementProcess" data-position="bottom" data-tooltip="We help you to limit your exposure to certain stocks.">Managing <br> Allocation</p></div>
							<div class="col s12 m6 l2"><p class=" tooltipped riskManagementProcess" data-position="bottom" data-tooltip="We will periodically review your portfolio and will recommend changes, if any.">Periodic <br> Rebalancing</p></div>
							<div class="col s12 m6 l2"><p class=" tooltipped riskManagementProcess" data-position="bottom" data-tooltip="We will recommend changes in your portfolio under certain eventualities.">Portfolio<br>Reset</p></div>
						  </div>
				<!-- <div class="row">
					<div class="col m12 s12">
						<div class="riskManagementProcess">
							<ul>
								<li><a class=" tooltipped" data-position="right" data-tooltip="We will send you alerts when to book profits on your stocks."> - Timely Profit Booking</a></li>
								<li><a class=" tooltipped" data-position="right" data-tooltip="We will send you alerts when to exit your stocks."> - Minimising Losses</a></li>
								<li><a class=" tooltipped" data-position="right" data-tooltip="We help you to limit your exposure to certain stocks."> - Managing Allocation</a></li>
								<li><a class=" tooltipped" data-position="right" data-tooltip="We will periodically review your portfolio and will recommend changes, if any."> - Periodic Rebalancing</a></li>
								<li><a class=" tooltipped" data-position="right" data-tooltip="We will recommend changes in your portfolio under certain eventualities."> - Periodically review your portfolio and will recommend changes, if any
										- Portfolio</a></li>
							</ul>
						</div>
				</div>
			</div> -->
			</div>
		</div>
	</div>
</section>
<section>
	<div class="row m-b-0">
		<div class="col s12 m12 padding-0 hiw-bgcolor" id="panel-9">
			<div class="container">
				<h2>How it Works?</h2>
			</div>
				<article class="article">
					
							<img src="./client/image/How-it-works-2.png" class="how_works_img">
					<div class="clearfix"></div>
				</article>
				<div class="col s12 center" style="margin-bottom:40px;"><a href="https://play.google.com/store/apps/details?id=com.neolite.jarvis.monitree" class="hm-btn waves-effect waves-light gradient">INVEST NOW</a></div>
					
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</section>
<section class="row m-b-0">
	<div class="col s12 panel-8" id="panel-8" >
		<div class="container text-center" style="margin-bottom: 50px;">
			<h2> Our Partners</h2>
		</div>
		<div class='slider'>
			<div class="edge"></div>
		<ul class="slideContainer" id="money_start">
				<li class="slideItem" >
					<img src="./client/image/partners/Upstoxlogo.png">
				</li>
				<!-- <li class="slideItem d-none">
					<img src="./client/image/partners/Mastertrust.png">
				</li> -->
				<li class="slideItem">
					<img src="./client/image/partners/cubefund.jpg">
				</li>
				<li class="slideItem">
					<img src="./client/image/partners/zerodhalogo.png">
				</li>
		</ul>
		</div>
	
			<!-- <div class="tech-slideshow" style="margin-bottom: 50px;">
				<div class="mover-1">
				  <img src="./client/image/partners/Upstoxlogo.png" style="height:150px;margin-left:300px">
				  <img src="./client/image/partners/Mastertrust.png">
				  <img src="./client/image/partners/cubefund.jpg">
				  <img src="./client/image/partners/zerodhalogo.png">
				</div>
			  </div> -->
	</div>
</section>
<section class="row">
	<div class="col s12 panel-8" id="panel-8" >
		<!-- <div class="news">
			<div> <img src="./client/image/partners/zerodhalogo.png">
			</div>
			<div> <img src="./client/image/partners/Mastertrust.png"></div>
			<div> <img src="./client/image/partners/cubefund.jpg"></div>
		  </div> -->
		  <div class="container text-center">
			<h2>Media Coverage</h2>
		</div>
		  <div class="slider" id="slider" style="display:none">
			<div class="slide" id="slide">
				<div class="odiv">
					<img class="item" src="./client/image/partners/news_yourstory.png">
					<div class="overlay">
					  <div class="text"><a href="https://yourstory.com/2018/12/wealth-management-startup-monitrees-ai" target="_blank" class="hm-btn gradient">view</a></div>
					</div>
				  </div>
				  <!--  -->
				  <div class="odiv">
					<img class="item" src="./client/image/partners/news_nbt.png">
					<div class="overlay">
					  <div class="text"><a href="./client/image/The Navbharat Times - 9th April 2019 Page 7 - Sumit Chanda.pdf" target="_blank" class="hm-btn gradient">view</a></div>
					</div>
				  </div>
				  <!--  -->
				  <div class="odiv">
					<img class="item" src="./client/image/partners/news_aim.png">
					<div class="overlay">
					  <div class="text"><a href="./client/image/Analytics India Magazine.jpg" target="_blank" class="hm-btn gradient">view</a></div>
					</div>
				  </div>
				  <!--  -->
				  <div class="odiv">
					<img class="item" src="./client/image/partners/news_bs.png">
					<div class="overlay">
					  <div class="text"><a href="https://www.business-standard.com/article/news-ani/monitree-designated-at-the-mumbai-fintech-accelerator-programme-118120100506_1.html" target="_blank" class="hm-btn gradient">view</a></div>
					</div>
				  </div>
				  <!--  -->
				  <div class="odiv">
					<img class="item" src="./client/image/partners/news_dc.png">
					<div class="overlay">
					  <div class="text"><a href="./client/image/The Afternoon DC Coverage 5th December 2018 page 16.pdf" target="_blank" class="hm-btn gradient">view</a></div>
					</div>
				  </div>

			  <!-- <img class="item" src="http://via.placeholder.com/200x200?text=Product1">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product1">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product2">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product2">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product2">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product2">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product3">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product3">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product3">
			  <img class="item" src="http://via.placeholder.com/200x200?text=Product3"> -->
			</div>
			<button class="ctrl-btn pro-prev"><<</button>
			<button class="ctrl-btn pro-next">>></button>
		  </div>
		  <div class="row news">
		  <div class="col s6 m2">
			<div class="odiv">
				<img class="item" src="./client/image/partners/news_yourstory.png">
				<div class="overlay">
				  <div class="text"><a href="https://yourstory.com/2018/12/wealth-management-startup-monitrees-ai" target="_blank" class="hm-btn gradient">view</a></div>
				</div>
			  </div>
		  </div>
		  <div class="col s6 m2">
			<div class="odiv">
				<img class="item" src="./client/image/partners/news_nbt.png">
				<div class="overlay">
				  <div class="text"><a href="./client/image/The Navbharat Times - 9th April 2019 Page 7 - Sumit Chanda.pdf" target="_blank" class="hm-btn gradient">view</a></div>
				</div>
			  </div>
		  </div>
		  <div class="col s6 m2">
			<div class="odiv">
				<img class="item" src="./client/image/partners/news_aim.png">
				<div class="overlay">
				  <div class="text"><a href="./client/image/Analytics India Magazine.jpg" target="_blank" class="hm-btn gradient">view</a></div>
				</div>
			  </div>
		  </div>
		  <div class="col s6 m2">
		  <div class="odiv">
			<img class="item" src="./client/image/partners/news_bs.png">
			<div class="overlay">
			  <div class="text"><a href="https://www.business-standard.com/article/news-ani/monitree-designated-at-the-mumbai-fintech-accelerator-programme-118120100506_1.html" target="_blank" class="hm-btn gradient">view</a></div>
			</div>
		</div>
		  </div>
		  <div class="col s6 m2">
		  <div class="odiv">
			<img class="item" src="./client/image/partners/news_dc.png">
			<div class="overlay">
			  <div class="text"><a href="./client/image/The Afternoon DC Coverage 5th December 2018 page 16.pdf" target="_blank" class="hm-btn gradient">view</a></div>
			</div>
		</div>
		  </div>
		</div>

		</div>
	</section>
<section>
	<div class="row m-b-0">
		<div class="col s12 padding-0" id="panel-10">
			<div class="container">
				<article class="row">
					<div class="col s12">
						<h2>About Us</h2>
					</div>
					<div class="col m6 s12 image-panel" style="padding:0 10px 0  0;">
						<img src="./client/image/our-vision.png">
					</div>
					<div class="col m6 s12 article-panel">
						<h2>Our Vision</h2>
						<div class="hr gradient"></div>
						<p>“To make stock investments feasible to every household, improve its accessibility, provide unparalleled advisory, and offer technology as a delivery platform. We strive to become a medium for bringing about a change in the perception of the markets in the mind of the retail investor.”</p>
					</div>
					<div class="clearfix"></div>
				</article>
				<article class="row">
					<div class="col m6 s12 image-panel hide-on-desk" style="padding:0 0 0 10px;">
						<img src="./client/image/team-work.png">
					</div>
					<div class="col m6 s12 article-panel">
						<h2>Our Team</h2>
						<div class="hr gradient"></div>
						<p>Team MONITREE is a perfect blend of exuberant youth and experienced individuals. The team has performed various roles across the financial services industry and has the expertise and the know-how in the field of investments and technology which has been used to create a paradigm shifting, investment delivery platform.</p>
					</div>
					<div class="col m6 s12 image-panel hide-on-mob" style="padding:0 0 0 10px;">
						<img src="./client/image/team-work.png">
					</div>
					<div class="clearfix"></div>
				</article>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<button data-target="modal1" class="btn modal-trigger" id="mdopen" style="display:none">Modal</button>

  <!-- Modal Structure -->
  <div id="modal1" class="modal notification-modal">
    <div class="modal-content">
      <h6 class="text-center">Disclosure as per SEBI guidelines </h6>
	  <p><b>Company Name:</b> Ventugrow Consultants Private Limited <br><b>SEBI Registered Investment Advisor:</b> INA000013235 </p>
	  <p>Below is a disclosure of the complaint status on our homepage in order with SEBI guidelines. </p>
	  <div class="">
		  
		<table>
			<thead>
			  <tr>
				  <th>Complaint Status as on <span id="lastMonthPreDate"></span> </th>
				  <th>Number of complaints</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td> At the beginning of month</td>
				<td>0</td>
			  </tr>
			  <tr>
				<td>Received during the month </td>
				<td>0</td>
			  </tr>
			  <tr>
				<td>Resolved during the month</td>
				<td>0</td>
			  </tr>
			  <tr>
				<td>Pending at the ending of the month</td>
				<td>0</td>
			  </tr>
			  <tr>
				<td>Reason for pendency </td>
				<td>NA</td>
			  </tr>
			</tbody>
		  </table>

		  <div class="row text-center margin-t-30 m-b-0">
			<button class="modal-close waves-effect waves-light btn modal_close_btn" id="mdclose">Close</button>

			<p style="color:lightgray;text-transform: capitalize;">the window will close in <span id="counttext"></span> second</p>
		  </div>
	  </div>
    </div>
    <!-- <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> -->
  </div>


<div class="arrow_up hide-on-mob hidden" ng-click="$ctrl.totop();"><i class="material-icons">chevron_right</i></div>
<div data-loading> </div>
<ui-footer></ui-footer>
