<user-navbar></user-navbar>
<style>
#modal10{z-index:10000 !important;}
</style>
<div class="row">
	<div class="container bgcolor">
		<div class="col s11" style="margin-left:4.5%;">
			<!-- <div class="heading text-center" style="padding:5px 0;">
				<h6 style="line-height:25px;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</h6>
			</div> -->
			<div class="heading text-center">
				<h6 class="recommend_text">Your investment<br/>Recommendation Rs. {{$ctrl.investAmount | number:0}}</h6>
			</div>
		</div>
		<div class="col s11" style="margin-left:4.5%;margin-bottom:50px;">
			<div class="col s12 m7 offset-s1 text-right" style="margin-left:9.33%;width:55.733333%;margin-top:15px;">
				<canvas id="chart-area" height="300"></canvas>
			</div>
			<div class="col s12 m4">
				<div id="chartjs-legend" style="margin-top: 46px;"></div>
			</div>
		</div>
		<div class="col s11" style="margin-left:4.5%;margin-bottom:20px;">
			<div class="card my-card hide-on-mob">
				<div class="card-content padding-0">
					<div class="inner-content-div">
						<table class="table">
							<thead>
							<tr class="label-default">
								<th style="width:37%;">Company</th>
								<th style="width:50%;">Portfolio Allocation</th>
								<th style="width:20%;text-align:right;padding-right:30px;">Amount</th>
							</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in $ctrl.investFeed">
									<td><strong>{{x.company_name}}</strong></td>
									<td>
										<div class="my_progress">
											<div class="progress-bar" style="width:{{x.percentages*6.6}}%;" ng-class="((x.percentages*6.6)>33.33) ? 'normal':'ordinary'"></div>
											<span class="progress-title">{{x.percentages}}%</span>
										</div>
									</td>
									<td style="text-align:right;padding-right:30px;">
										<strong>{{($ctrl.investAmount*x.percentages)/100 | number:0}}</strong>
									</td>
								</tr>
								<tr ng-if="$ctrl.investFeed.length==0">
									<td class="text-center" colspan="3">NO RECORD AVAILABLE</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="col s12 hide-on-desk padding-0">
				<div class="card" ng-repeat="x1 in $ctrl.investFeed">
					<div class="card-content">
					<p class="card-title" style="font-size:20px;"><strong>Sector :</strong> {{x1.company_name | uppercase}}</p>
					<p class="card-title" style="font-size:20px;"><strong>Sector Allocation :</strong> {{x1.percentages}}</p>
					<p>
						<div class="my_progress">
							<div class="progress-bar normal" ng-class="x1.percentages>50 ? 'normal':'ordinary'" style="width:{{x1.percentages*6}}%;"></div>
							<span class="progress-title">{{x1.percentages}}%</span>
						</div>
					</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col s11" style="margin-left:4.5%;margin-bottom:20px;margin-top:20px;">
			<button class="pf-btn-blank">HISTORICAL PERFORMANCE</button>
		</div>
		<div class="col s11" style="margin-left:4.5%;margin-bottom:20px;">
			<div class="card my-card">
				<div class="card-content" style="padding:20px 5px  0px 5px;">
					<canvas id="canvas" height="350"></canvas>
				</div>
				<div ng-if="$ctrl.investFeed.length==0" class="card-content text-center" style="padding:10px 5px;">
					NO HISTORICAL PERFORMANCE AVAILABLE
				</div>
			</div>
		</div>
		<div class="col s11" style="margin-left:4.5%;margin-bottom:20px;text-align:center;">
			<button ng-show="$ctrl.showLoginBtn" class="pf-btn gradient" ng-click="$ctrl.loginToUpstox();">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOGIN TO INVEST&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>&nbsp;
			<span class='branded-btn'  ng-show="$ctrl.showTradeBtn"></span>
			<button ng-show="$ctrl.showCreditUpstoxBtn" class="pf-btn gradient" onclick="window.open('https://pro.upstox.com','_BLANK');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CREDIT TO UPSTOX&nbsp;&nbsp;&nbsp;&nbsp;</button>&nbsp;
			
			<button class="pf-btn gradient">INVEST NOW</button>
		</div>
		<div class="col s11" style="margin-left:4.5%;">
			<div class="heading text-center" style="padding:5px 0;">
				<p style="line-height:25px;">Disclaimer : *Past performance is not an indication for future returns.</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="modal5" class="modal marTop smallModal">
	<div class="modal-content">
		<div class="row m-b-0">
			<div class="col-md-12">
				<h5 class="text-center"></h5>
				<p style="text-align:justify;">You have insufficient balance to trade in UPSTOX.</p>
				<p><button class="btn-large moni-btn gradient" style="width:100%;" onclick="window.open('https://pro.upstox.com','_BLANK');$('#modal5').modal('close');">CREDIT TO UPSTOX</button></p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div id="modal10" class="modal marTop smallModal">
	<div class="modal-content">
		<div class="row m-b-0">
			<div class="col-md-12">
				<p class="text-center" id="xdscd"><strong>Please wait. Do not close the window...</strong></p>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<input type="hidden" id="_norm">
<div data-loading> </div>
<ui-footer></ui-footer>