<header>
        <div class="row m-b-3">
            <div class="navbar-custome-width">
                <!-- For mobile view -->
                <div class="col s3 padding-0 hide-on-desk">
                    <a id="toggle-nav"><i class="material-icons"  style="font-size:35px;">menu</i></a>
                </div>
                
                <div class="col m3 s5 padding-0 center1 text-center">
                    <a  ui-sref="/"><img src="./client/image/logo.png" alt="Jarvis Logo"></a>
                </div>
                <div class="col s4 padding-0 hide-on-desk">
                    <!-- <span class="showAuthBtn btn-nav navbar-btn pull-right gradient modal-trigger waves-effect waves-light" href="#modal1"><span>LOG IN</span></a> -->
                    <div class="showLogBtn hide-on-desk text-right">
                        <img src="{{nav.$rootScope.userinfo.profile_pic}}" alt="" class="circle responsive-img profile-img dropdown-trigger"  data-target='dropdown2'>
                        <ul id='dropdown2' class='dropdown-content'>
                            <li><a ui-sref="profile">PROFILE (JARVIS-{{nav.$rootScope.userinfo.id}})</a></li>
                            <li><a ui-sref="dashboard">DASHBOARD</a></li>
                            <li><a ng-click="nav.check_portfolio_exist();">PORTFOLIO</a></li>		
                            <li><a ui-sref="logout" style="    color: white;
                                padding-left: 19px !important;
                                border-radius: 3px;
                                background-color: #5283e3;">LOGOUT</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="col m9 s12 hide-on-mob border-top" id="toggle-nav-body">
                    <ul class="nav navbar-nav">
                        <li><a class="panel-1" onclick="setLS('panel-1',0);">HOME</a></li>
                        <li><a class="panel-9" onclick="setLS('panel-9',60);">HOW IT WORKS</a></li>
                        <li><a class="panel-10" onclick="setLS('panel-10',65);">ABOUT US</a></li>
                        <li><a ui-sref="price" onclick="scrolls('price_1',0);" class="active">FEATURES</a></li>
                        <li><a  href="https://blog.jarvisinvest.com/" target="_blank">BLOGS</a></li>
					    <li><a href="https://partner.jarvisinvest.com/" target="_blank">BECOME A PARTNER</a></li>
                        <li><a class="panel-11" onclick="setLS('panel-11',75);">CONTACT US</a></li>
                        <li><a class="" href="http://web.jarvisinvest.com/">LOGIN</a></li>

                    </ul>
                  
                </nav>
            </div>
        </div>
    </header>
<section id="price_1">
    <div class="row m-b-0  bgcolor-price pr header-image" style="position: relative">
    <img src="./client/image/bg-pricing-img.png" width="100%">
    <h2>Smart Investments With Smart Features </h2>
</div>
</section>
<section >
	<div class="row m-b-0">
		<div class="col m12 s12 padding-0 bgcolor-price" id="panel-6" style="display:none">
			<article class="container article price">
				<div class="row" >
					<div class="col m12 s12 mb70 text-center">
                        <h2> Invest more with low fixed subscription pricing</h2>
                        <p class="sub-header">Don't let expenses eat away your profits </p>
                    </div>
                    <div class="col s12 m12 l6 padding-0 hide-on-mob" id="i1">
						<img src="./client/image/img-pricing-structure.png" alt="Jarvis Portfolio">
					</div>
					<div class="col s12 m12 l5 offset-l1 mt40 fs12">
                            <ul class="collection item-con-align">
                                    <li class="collection-item active text-center"><div>YOUR SUBSCRIPTION INCLUDES</div></li>
                                    <li class="collection-item"><div class="truncate">Risk Profiling <span class="secondary-content"></a></div></li>
                                    <li class="collection-item"><div>  Custom Portfolio Creation<span class="secondary-content" ></a></div></li>
                                    <li class="collection-item"><div style="position: relative">  Portfolio Execution With<br> Choice Of Broker<span class="secondary-content" style="position: absolute;top:0;right:0;" >Zerodha / Upstox</a></div></li>
                                        <li class="collection-item"><div>  profits Booking Alerts<span class="secondary-content"  > Unlimited</a></div></li>
                                            <li class="collection-item"><div>  Minimizing Loss Alerts<span class="secondary-content"  >Unlimited</a></div></li>
                                                <li class="collection-item"><div>  Position Sizing Alerts<span class="secondary-content"  >Unlimited</a></div></li>
                                                    <li class="collection-item"><div>  Timely Rebalancing Alerts<span class="secondary-content"  >Unlimited</a></div></li>
                                                    <li class="collection-item"><div>  Portfolio  Reset Alert<span class="secondary-content"  >Unlimited</a></div></li>



                                    <!-- <li class="collection-item"><div>₹ 2500000 & Above <span class="secondary-content"  style="padding-right: 55px">₹ 999</span><br><span><p class="tax_apli" style="font-size: 12px;color: #b5afaf; font-weight: 600;"><sup>*</sup>Taxes Applicable</p></span><p></p> -->
                        </div></li>
                                  
                                </ul>

					<div class="clearfix"></div>
					</div>
				
					<div class="clearfix"></div>
				</div>
			</article>
			<div class="clearfix"></div>
		</div>
    </div>
    <div class="row m-b-0">
		<div class="col m12 s12 padding-0 bgcolor-price" id="panel-6">
			<article class="container article of">
				<div class="row">
                    	<div class="col s12 m12 l6 push-l6 offset-l1  padding-0 hide-on-mob" id="i2">
                                <img src="./client/image/img-jarvis-help-with-u.png" alt="Jarvis Portfolio">
                            </div>
					<div class="col s12 m12 l5 pull-l6  fs12">
                            <ul class="collection">
                                    <li class="collection-item active text-center"><div>YOUR SUBSCRIPTION INCLUDES</div></li>
                                    <li class="collection-item tooltip"><div>Risk Profiling</div><span class="tooltiptext">Determine your risk profile using your risk profiling engine.</span></li>
                                    <li class="collection-item tooltip"><div>Custom Portfolio Creation</div><span class="tooltiptext">Personalize your portfolio on the basis of your preferences. </span></li>
                                    <li class="collection-item tooltip"><div style="position: relative">Online Portfolio Execution <br> With Choice Of Broker<a href="#!" class="secondary-content" style="position: absolute;top:0;right:0;">Zerodha / Upstox/ Mastertrust </a></div><span class="tooltiptext">We have partnered with Upstox & Zerodha for efficient execution.</span></li>
                                    <li class="collection-item tooltip"><div>Profit Booking Alerts<a href="#!" class="secondary-content">Unlimited</a></div><span class="tooltiptext">We will send you alerts when to book profits on your stocks. </span></li>
                                    <li class="collection-item tooltip"><div>Minimizing Loss Alerts<a href="#!" class="secondary-content">Unlimited</a></div><span class="tooltiptext">We will send you alerts when to exit your stocks. </span></li>
                                    <li class="collection-item tooltip"><div>Position Sizing Alerts<a href="#!" class="secondary-content">Unlimited</a></div><span class="tooltiptext">We help you to limit your exposure to certain stocks. </span></li>
                                    <li class="collection-item tooltip"><div>Timely Rebalancing Alerts <a href="#!" class="secondary-content">Unlimited</a></div><span class="tooltiptext">We will periodically review your portfolio and will recommend changes, if any. </span></li>
                                    <li class="collection-item tooltip"><div>Portfolio Reset Alerts <a href="#!" class="secondary-content">Unlimited</a></div><span class="tooltiptext">We will recommend changes in your portfolio under certain eventualities. </span></li>
                                      
                                </ul>
					</div>
				
					<div class="clearfix"></div>
				</div>
			</article>
			<div class="clearfix"></div>
		</div>
    </div>
    <div class="row m-b-0">
            <div class="col m12 s12 padding-0 bgcolor-price" id="panel-6">
                <article class="container article ">
                    <div class="row">    
                            <div class="col s12 m12 l5 padding-0 hide-on-mob" id="i3">
                                    <img src="./client/image/img-no-hidden-charge.png" alt="Jarvis Portfolio">
                                </div>                      
                        <div class="col s12 m12 l6  offset-l1 mt40 fs12">
                                <ul class="collection">
                                        <li class="collection-item active text-center"><div>NO HIDDEN CHARGES</div></li>
                                        <!-- <li class="collection-item"><div>Brokerage <a href="#!" class="secondary-content">Nil</a></div></li> -->
                                        <li class="collection-item"><div>Fund Management Charges<a href="#!" class="secondary-content">Nil</a></div></li>
                                        <li class="collection-item"><div>Exit Load <a href="#!" class="secondary-content">Nil</a></div></li>
                                        <li class="collection-item"><div>Withdrawal Charges<a href="#!" class="secondary-content">Nil</a></div></li>
                                        <li class="collection-item"><div>Performance Fees<a href="#!" class="secondary-content">Nil</a></div></li>
                                        <li class="collection-item"><div>Account Opening <a href="#!" class="secondary-content">Free</a></div></li>
                                      </ul>
                                      <div class="clearfix"></div>
                        </div>
                       
                    
                        <div class="clearfix"></div>
                    </div>
                </article>
                <div class="clearfix"></div>
            </div>
        </div>
</section>
<div class="arrow_up hide-on-mob hidden" ng-click="$ctrl.totop();"><i class="material-icons">chevron_right</i></div>
<div data-loading> </div>
<ui-footer></ui-footer>