<header>
	<div class="row m-b-3">
		<div class="container">
			<!-- For mobile view -->
			<div class="col s3 padding-0 hide-on-desk">
				<a id="toggle-nav"><i class="material-icons"  style="font-size:35px;">menu</i></a>
			</div>
			
			<div class="col m3 s5 padding-0 center1">
				<a ui-sref="/"><img src="./client/image/logo.png" alt="Jarvis Logo"></a>
			</div>
			<div class="col s4 padding-0 hide-on-desk">
				<!-- <span class="showAuthBtn btn-nav navbar-btn pull-right gradient modal-trigger waves-effect waves-light" href="#modal1"><span>LOG IN</span></a> -->
				<div class="showLogBtn hide-on-desk text-right">
					<img src="{{nav.$rootScope.userinfo.profile_pic}}" alt="" class="circle responsive-img profile-img dropdown-trigger"  data-target='dropdown2'>
					<ul id='dropdown2' class='dropdown-content'>
						<li><a ui-sref="profile">PROFILE (JARVIS-{{nav.$rootScope.userinfo.id}})</a></li>
						<li><a ui-sref="dashboard">DASHBOARD</a></li>
						<li><a ng-click="nav.check_portfolio_exist();">PORTFOLIO</a></li>		
						<li><a ui-sref="logout">LOGOUT</a></li>
					</ul>
				</div>
			</div>
			<nav class="col m9 s12 hide-on-mob border-top" id="toggle-nav-body">
				<ul class="nav navbar-nav">
					<li><a class="panel-1" onclick="setLS('panel-1',0);">HOME</a></li>
					<li><a class="panel-9" onclick="setLS('panel-9',60);">HOW IT WORKS</a></li>
					<li><a class="panel-10" onclick="setLS('panel-10',65);">ABOUT US</a></li>
					<li><a ui-sref="price" onclick="scrolls('price_1',0);">PRICING</a></li>
					<li><a  href="https://blog.jarvisinvest.com/" target="_blank">BLOGS</a></li>
					<li><a class="panel-11" onclick="setLS('panel-11',75);">CONTACT US</a></li>
				</ul>
			  
			</nav>
		</div>
	</div>
</header>
<section>
	<div class="row">
		<div class="col s12 padding-0" id="privacy">
			<article class="container">
				<h1>Privacy policy</h1>
				<p>Ventugrow Consultants Private Limited (“VCPL” or “We”) is committed to protecting and respecting your
					privacy.</p>
				<p>This policy (together with our terms of useand any other documents referred to on it) sets out the
					basis on which any personal data we collect from you, or that you provide to us, will be processed
					by us. Please read the following carefully to understand our views and practices regarding your
					personal data and how we will treat it. By visiting https://www.jarvisinvest.com, downloading our
					mobile applicationormaking investments using our artificial intelligence based product Jarvis
					(“Product”)you are accepting and consenting to the practices described in this policy.</p>
				<h2>INFORMATION WE COLLECT FROM YOU</h2>
				<p>We will collect and process the following data about you:</p>
				<ul>
					<li>Information you give us. This is information about you that you give us by registering via our
						site, Product,by making investments using our Product, such as your name, user name, mobile
						numberuser content (such as, Facebook / social media credentials, public profile stored on
						social media, ) date of birth, annual income, designation, qualifications, bank details, family
						details (name, date of birth& relation), PAN Number, marital status,email address,
						correspondence detailsand information relating to creation of passwords.</li>
					<li>Information we collect about you. With regard to each of your visits to our site, Product we
						will automatically collect the following information:
						<ol>
							<li>technical information, including the Internet protocol (IP) address used to connect your
								computer to the Internet, your login information,browser type and version,time zone
								setting,browser plug-in types and versions,operating system and platform,mobile APP;
							</li>
							<li>information about your visit, including the full Uniform Resource Locators (URL),
								clickstream to, through and from our site (including date and time), page response
								times, download errors, length of visits to certain pages, page interaction information
								(such as scrolling, clicks, and mouse-overs), methods used to browse away from the page.
							</li>
						</ol>
					</li>
					<li>Information we receive from other sources. We are or may in the future work closely with third
						parties (including, for example, business partners, brokers, distributors, sub-contractors in
						technical, payment and delivery services, advertising networks, analytics providers, search
						information providers, credit reference agencies). We may use such information relating to you,
						provided/ shared by such sources,in order to provide services to you.</li>
				</ul>
				<h2>CONSENT</h2>
				<p>By using our site, our mobile applicationand/or the Product, you agree that the terms set out in this
					privacy policy are reasonable. This privacy policy describes the type of personal information we may
					collect from you and what we intend to do with the information. If you choose not to provide the
					information we request or withdraw the consent you previously provided to collection of your
					personal information, you can still visit the site, but we may suspend or terminate any services
					being provided to you and you may therefore be unable to use the Product or avail of our investment
					advisory services. You fully and completely understand the contents herein and agree to the same.
					You are acting on your free will and consent to the contents herein.</p>
				<h2>COOKIES</h2>
				<p>Our website uses cookies to distinguish you from other users of our website. This helps us to provide
					you with a good experience when you browse our website and also allows us to improve our site.</p>
				<h2>USES MADE OF THE INFORMATION</h2>
				<p>We use information held about you in the following ways:</p>
				<ul>
					<li>Information you give to us. We will use this information:
						<ol>
							<li>To provide services to you; </li>
							<li>To create and manage your portfolio through the Product;</li>
							<li>To notify you about changes to our service or the Product;</li>
							<li>to ensure that content from our site or Product is presented in the most effective
								manner for you and for your computer; </li>
							<li>For marketing our products and / or services to you, as relevant from time to time</li>
						</ol>
					</li>
					<li>Information we collect about you. We will use this information:
						<ol>
							<li>to administer and improve our site or Product;</li>
							<li>to improve our site or Productto ensure that content is presented in the most effective
								manner for you and for your computer;</li>
							<li>as part of our efforts to keep our site safe and secure;</li>
							<li>for marketing our products and services to you, as relevant from time to time. </li>
						</ol>
					</li>
					<li>Information we receive from other sources. We will combine this information with information you
						give to us and information we collect about you. We will use this information and the combined
						information for the purposes set out above (depending on the types of information we receive).
					</li>
				</ul>
				<h2>DISCLOSURE OF YOUR INFORMATION</h2>
				<p>You agree that we have the right to share your personal information with:</p>
				<ul>
					<li>Selected third parties only if they are working on our behalf or if we are working with them in
						relation to our business.</li>
				</ul>
				<p>We will disclose your personal information to third parties:</p>
				<ul>
					<li>In the event that we sell or buy any business or assets, in which case we will disclose your
						personal data to the prospective seller or buyer of such business or assets.</li>
					<li>If VCPL or substantially all of its assets are acquired by a third party, in which case personal
						data held by it about its customers, employees, business partners will be one of the transferred
						assets.</li>
					<li>If we are under a duty or legal obligation to disclose or share your personal data in order to
						comply with any legal obligation, or in order to enforce or apply our terms of useand other
						agreements; or to protect the rights, property, or safety of VCPL, our customers, or others.
						This includes exchanging information with other companies and organizations for the purposes of
						fraud protection and credit risk reduction.</li>
				</ul>
				<p>Other than as stated above we will not share your personal data with anyone without your prior
					consent – if you do not provide consent, your data will not be shared. </p>
				<h2>WHERE WE STORE YOUR PERSONAL DATA</h2>
				<p>The data that we collect from you will be transferred toand stored in India by us. Your data will be
					stored by us until you subscribe for our services and for such period thereafter as we may be
					required to retain the data in accordance with applicable law. </p>
				<p>Where we have given you (or where you have chosen) a password which enables you to access certain
					parts of our site or mobile application, you are responsible for keeping this password confidential.
					We ask you not to share a password with anyone.</p>
				<p>Unfortunately, the transmission of information via the internet is not completely secure. Although we
					will do our best to protect your personal data, we cannot guarantee the security of your data
					transmitted to our site or mobile application; any transmission is at your own risk. Once we have
					received your information, we will use strict procedures and security features to try to prevent
					unauthorised access.</p>
				<h2>THIRD PARTY LINKS</h2>
				<p>Our site, the Product, our mobile application, may, from time to time, contain links to and from the
					websites of our partner networks, advertisers and affiliates. If you follow a link to any of these
					websites, please note that these websites have their own privacy policies and that we do not accept
					any responsibility or liability for these policies. Please check these policies before you submit
					any personal data to these websites.</p>
				<h2>ACCESS TO INFORMATION </h2>
				<p>Any personal information that you provide to us will usually be accessible from your Jarvis profile
					page, except where such information is provided / acquired by us through your Facebook or other
					social media credentials.</p>
				<h2>CHANGES TO OUR PRIVACY POLICY</h2>
				<p>Any changes we make to our privacy policy in the future will be posted on this page and, where
					appropriate, notified to you by e-mail. Please check back frequently to see any updates or changes
					to our privacy policy.</p>
				<h2>CONTACT</h2>
				<p>Questions, comments and requests regarding this privacy policy are welcomed and should be addressed
					to the Grievance Officer, whose details are below:</p>
				<p><b>Jagannathan Ramanan, Phone: (022) 2583 5005</b></p>
				<p><b>compliance@monitree.in</b></p>
			</article>
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<div class="arrow_up hide-on-mob hidden" ng-click="$ctrl.totop();"><i class="material-icons">chevron_right</i></div>
<div data-loading> </div>
<ui-footer></ui-footer>