<user-navbar></user-navbar>
<section class="col s12" id="dash-panel-1">
	<article class="container">
		<div class="row">
			<div class="col s12 m6">
				<div class="row">
					<div class="col s4 m3">
						<div class="profile-pic circle">
							<img src="{{$ctrl.$rootScope.userinfo.profile_pic}}" alt="" class="responsive-img circle"><input type="file" id="file" class="hidden">
							<span id="pro_upload"><i class="material-icons">attachment</i></span>
						</div>
					</div>
					<div class="col s8 m9">
						<h1>{{$ctrl.$rootScope.userinfo.name}}</h1>
						<h5>{{$ctrl.personal.address}}</h5>
						<p>Client ID : JARVIS-{{$ctrl.$rootScope.userinfo.id}}</p>
					</div>
				</div>
			</div>
			<div class="col s12 m6">
				<div class="row">
					<div class="col s4 m3 offset-m2">
						<img src="./client/image/img-badge1.png" alt="" class="responsive-img">
					</div>
					<div class="col s8  m7 text-right">
						<h5>CONGRATULATIONS</h5>
						<p>Start qualifying for your badges &amp; start earning Rewards. Proceed with your forst investment to start the journey.</p>
					</div>
				</div>
			</div>
			<div class="col s12 text-center">
				<div class="switch1">
					<input type="radio" class="switch-input1" name="view" value="model" id="model" ng-click="$ctrl.moveTo('profile');" checked>
					<label for="model" class="switch-label1 switch-label-off1"><i class="tiny material-icons">person</i> PROFILE</label>
					<input type="radio" class="switch-input1" name="view" value="custome"id="custome" ng-click="$ctrl.moveTo('dashboard');">
					<label for="custome" class="switch-label1 switch-label-on1"><i class="tiny material-icons">dashboard</i> DASHBOARD</label>
					<span class="switch-selection1"></span>
				</div>
			</div>
		</div>
	</article>
</section>
<section class="col s12" id="dash-panel-2">
	<article class="container">
		<div class="row">
			<form name="frmProfile" ng-submit="$ctrl.submitProfile();">
			<div class="col s12 m4">
				<div class="panel panel-default">
					<div class="panel-heading gradient"><i class="material-icons">info</i> PERSONAL INFORMATION</div>
					<div class="panel-body">
						<br/>
						<div class="input-field input-type">
							<input id="name" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.name" name="name" autocomplete="off" disabled required>
							<label for="name">Name</label>
						</div>
						<div class="input-field input-type">
							<input id="email" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.email" name="email" autocomplete="off" disabled required>
							<label for="name">Email</label>
						</div>
						<div class="input-field input-type">
							<input id="mobile" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.mobile" name="mobile" autocomplete="off" disabled required>
							<label for="mobile">Mobile</label>
						</div>
						<div class="input-field input-type">
							<input id="income" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.income" name="income" autocomplete="off" required>
							<label for="income">Annual Income</label>
						</div>
						<div class="input-field input-type">
							<textarea class="validate materialize-textarea" autocomplete="off" ng-model="$ctrl.personal.address" name="address" autocomplete="off" required></textarea>
							<label for="address">Address</label>
						</div>
						<div>
						<label>Designation</label>
						<select ng-model="$ctrl.personal.designation" class="browser-default">
							<option value="" disabled>Select</option>
							<option value="Service">Service</option>
							<option value="Self-employed">Self-employed</option>
							<option value="Work from home">Work from home</option>
							<option value="Homemaker">Homemaker</option>
							<option value="Student">Student</option>
							<option value="Retired">Retired</option>
						</select>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
			<div class="col s12 m4">
				<div class="panel panel-default">
					<div class="panel-heading gradient"><i class="material-icons">school</i> EDUCATION INFORMATION</div>
					<div class="panel-body">
						<label>Qualification</label>
						<select ng-model="$ctrl.personal.education" class="browser-default">
						<option value="" disabled selected>Select</option>
						<option value="SSC">SSC</option>
						<option value="HSC/Diploma">HSC/Diploma</option>
						<option value="Graduate">Graduate</option>
						<option value="Post Graduate">Post Graduate</option>
						<option value="PHd &amp; Equivalent">PHd &amp; Equivalent</option>
						</select>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading gradient"><i class="material-icons">store</i> REGISTERED BANK DETAILS</div>
					<div class="panel-body">
						<br/>
						<div class="input-field input-type">
							<input id="bank_name" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.bank_name" name="bank_name" autocomplete="off" required>
							<label for="bank_name">Bank Name</label>
						</div>
						<div class="input-field input-type">
							<input id="account" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.account" name="account" autocomplete="off" required>
							<label for="account">Saving account number</label>
						</div>
					</div>
				</div> 
			</div>
			<div class="col s12 m4">
				<div class="panel panel-default">
					<div class="panel-heading gradient"><i class="material-icons">person</i> FAMILY DETAILS</div>
					<div class="panel-body" slim-scroll height="460">
						<div class="panel panel-default">
							<div class="panel-body gradient-top-border">
								<div class="input-field input-type">
									<input id="father" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.father" name="father" autocomplete="off">
									<label for="father">Father Name</label>
								</div>
								<div class="input-field input-type col s6 padding-0">
									<input id="father_age" type="text" class="validate datepicker" autocomplete="off" ng-model="$ctrl.personal.father_age" name="father_age" autocomplete="off" ng-change="$ctrl.calculateAge(1,0);">
									<label for="father_age">Date Of Birth</label>
								</div>
								<div class="col s2"><i class="material-icons">today</i></div>
								<div class="col s3 age_text">{{$ctrl.father_year}} <small>Yrs</small></div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body gradient-top-border">
								<div class="input-field input-type">
									<input id="mother" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.mother" name="father" autocomplete="off">
									<label for="mother">Mother Name</label>
								</div>
								<div class="input-field input-type col s6 padding-0">
									<input id="mother_age" type="text" class="validate datepicker" autocomplete="off" ng-model="$ctrl.personal.mother_age" name="mother_age" autocomplete="off" ng-change="$ctrl.calculateAge(2,0);">
									<label for="mother_age">Date Of Birth</label>
								</div>
								<div class="col s2"><i class="material-icons">today</i></div>
								<div class="col s3 age_text">{{$ctrl.mother_year}} <small>Yrs</small></div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-body gradient-top-border">
								<div class="input-field input-type">
									<input id="spouse" type="text" class="validate" autocomplete="off" ng-model="$ctrl.personal.spouse" name="spouse" autocomplete="off">
									<label for="spouse">Spouse Name</label>
								</div>
								<div class="input-field input-type col s6 padding-0">
									<input id="spouse_age" type="text" class="validate datepicker" autocomplete="off" ng-model="$ctrl.personal.spouse_age" name="spouse_age" autocomplete="off" ng-change="$ctrl.calculateAge(3,0);">
									<label for="spouse_age">Date Of Birth</label>
								</div>
								<div class="col s2"><i class="material-icons">today</i></div>
								<div class="col s3 age_text">{{$ctrl.spouse_year}} <small>Yrs</small></div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="panel panel-default" ng-repeat="c in $ctrl.personal.childs">
							<span style="position:absolute;margin-top:9px;margin-left:245px;cursor:pointer;" ng-click="$ctrl.childClose($index);">X</span>
							<div class="panel-body gradient-top-border"  ng-init="$ctrl.initilizeDatePicker();$ctrl.calculateAge(4,$index);">
								<div class="input-field input-type">
									<input id="child{{$index}}" type="text" class="validate" autocomplete="off" ng-model="c.child" name="child{{$index}}" autocomplete="off">
									<label for="child{{$index}}">Child Name</label>
								</div>
								<div class="input-field input-type col s6 padding-0">
									<input id="child_age{{$index}}" type="text" class="validate datepicker" autocomplete="off" ng-model="c.child_age" name="child_age{{$index}}" autocomplete="off" ng-change="$ctrl.calculateAge(4,$index);">
									<label for="child_age{{$index}}">Date Of Birth</label>
								</div>
								<div class="col s2"><i class="material-icons">today</i></div>
								<div class="col s3 age_text">{{$ctrl.child_year[$index]}}  <small>Yrs</small></div>
								<div class="clearfix"></div>
							</div>
						</div>
						<a class="btn gradient" ng-click="$ctrl.addChild();">Add Child</a>
					</div>
				</div>
			</div>
			<div class="col s12 text-center">
				<button class="hm-btn waves-effect waves-light gradient">Save Details</button>
			</div>
			</form>
		</div>
		<div class="row">
			<div class="col s12 m12">
				<div class="panel panel-default">
					<div class="panel-heading gradient"><span class="material-icons">grade</span> BADGES</div>
					<div class="panel-body">
						<div class="col m1 s4 badgeMar tooltipped" data-position="top" data-tooltip="Level 1"><img src="./client/image/img-badge1.png" alt="" style="width:79px"></div>
						<div class="col m1 s4 badgeMar tooltipped" data-position="top" data-tooltip="Level 2"><img src="./client/image/img-badge2.png" alt="" style="width:79px"></div>
						<div class="col m1 s4 badgeMar tooltipped" data-position="top" data-tooltip="Level 3"><img src="./client/image/img-badge3.png" alt="" style="width:79px"></div>
						<div class="col m1 s4 badgeMar tooltipped" data-position="top" data-tooltip="Level 4"><img src="./client/image/img-badge4.png" alt="" style="width:79px"></div>
						<div class="col m1 s4 badgeMar tooltipped" data-position="top" data-tooltip="Level 5"><img src="./client/image/img-badge5.png" alt="" style="width:79px"></div>
						<div class="col m1 s4 badgeMar tooltipped" data-position="top" data-tooltip="Level 6"><img src="./client/image/img-badge6.png" alt="" style="width:79px"></div>
						<div class="col m1 s4 badgeMar tooltipped" data-position="top" data-tooltip="Level 7"><img src="./client/image/img-badge7.png" alt="" style="width:79px"></div>
						<div class="col m1 s4 badgeMar tooltipped" data-position="top" data-tooltip="Level 8"><img src="./client/image/img-badge8.png" alt="" style="width:79px"></div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
<ui-footer></ui-footer>