<div class="row m-b-3">
	<header>
		<div class="container">
			<!-- For mobile view -->
			<div class="col s3 padding-0 hide-on-desk">
				<a id="toggle-nav"><i class="material-icons"  style="font-size:35px;">menu</i></a>
			</div>
			
			<div class="col m3 s5 padding-0 center1">
				<a ui-sref="/"><img src="./client/image/logo.png" alt="Jarvis Logo"></a>
			</div>
			<!-- <div class="col s4 padding-0 hide-on-desk">
				<div class="hide-on-desk text-right">
					<img src="{{nav.$rootScope.userinfo.profile_pic}}" alt="" class="circle responsive-img profile-img dropdown-trigger" data-target='dropdown2'>
					<ul id='dropdown2' class='dropdown-content'>
						<li><a ui-sref="profile">PROFILE (JARVIS-{{nav.$rootScope.userinfo.id}})</a></li>
						<li><a ui-sref="dashboard">DASHBOARD</a></li>
						<li><a ng-click="nav.check_portfolio_exist();">PORTFOLIO</a></li>		
						<li><a ui-sref="logout">LOGOUT</a></li>
					</ul>
				</div>
			</div> -->
			<nav class="col m9 s12 hide-on-mob border-top" id="toggle-nav-body">
				<ul class="nav navbar-nav">
					<li><a class="panel-1" onclick="setLS('panel-1',0);">HOME</a></li>
                        <li><a class="panel-9" onclick="setLS('panel-9',0);">HOW IT WORKS</a></li>
                        <li><a class="panel-10" onclick="setLS('panel-10',0);">ABOUT US</a></li>
                        <li><a ui-sref="price" onclick="scrolls('price_1',0);" >FEATURES</a></li>
						<li><a href="https://blog.jarvisinvest.com/" target="_blank" class="active">BLOGS</a></li>
						<li><a href="https://partner.jarvisinvest.com/" target="_blank">BECOME A PARTNER</a></li>
                        <li><a class="panel-11" onclick="setLS('panel-11',75);">CONTACT US</a></li>
				</ul>
				<!-- <div class="text-right">
					<div class="hide-on-mob">
						<ul class="nav navbar-nav pull-right" style="margin-left:25px;">
							<li class="dropdown-trigger" data-target='dropdown1'><b>Welcome {{nav.$rootScope.userinfo.name}}</b> <img src="./client/image/arrow-down.png" style="height:auto;"></li>
						</ul>
						<img src="{{nav.$rootScope.userinfo.profile_pic}}" alt="" class="circle responsive-img profile-img">
						<ul id='dropdown1' class='dropdown-content'>
							<li><a ui-sref="profile">PROFILE (JARVIS-{{nav.$rootScope.userinfo.id}})</a></li>
							<li><a ui-sref="dashboard">DASHBOARD</a></li>
							<li><a ng-click="nav.check_portfolio_exist();">PORTFOLIO</a></li>			
							<li><a ui-sref="logout">LOGOUT</a></li>
						</ul>
					</div>
				</div> -->
			</nav>
		</div>
	</header>	
</div>