<footer id="panel-11">
	<div class="row m-b-0">
		<div class="container">
			<div class="col s12 m6 l4 pad">
				<ul>
					<h4>HEAD OFFICE</h4>
					<li>144/145 Road No. 23,<br>
						Wagle Station, Nr. Wagle Circle,<br>
						Thane - (West), Pin code - 400604</li>
					<li>Phone : ( 022) 2583 5005</li>
						<li>Email : customersupport@monitree.in</li>
				</ul>
			</div>
			<div class="col s12 m4 pad">
				<ul>
					<h4>INFORMATION</h4>
					<li><a class="panel-10" onclick="setLS('panel-10',65);">About Us</a></li>
					<li><a ui-sref="terms-and-conditions" onclick="scrolls('terms',0);">Terms &amp; Conditions</a></li>
					<li><a ui-sref="privacy" onclick="scrolls('privacy',0);">Privacy Policy</a></li>
					<li><a ui-sref="disclaimer" onclick="scrolls('disclaimer',0);">Disclaimer</a></li>
					<li><a ui-sref="faq" onclick="scrolls('faq',0);">FAQs</a></li>
				</ul>
			</div>
			<!-- <div class="col m3 s12 pad">
				<ul>
				<h4>CATEGORIES</h4>
				<li><a href=""></a><a href="">Markets</a></li>
				<li><a href=""></a><a href="">Business</a></li>
				<li><a href=""></a><a href="">Personal Finance</a></li>
				<li><a href=""></a><a href="">Retirement</a></li>
				</ul>
			</div> -->
			<div class="col s12 m4 pad">
				<ul>
					<h4>SUBSCRIBE OUR NEWSLETTER</h4>
					<form name="newletterForm" ng-submit="foot.submitNewletter(newletterForm);">
						<div class="input-group">
							<div class="input-group-area"><input type="text" class="form-control"
									ng-model="foot.newemail" name="newemail" placeholder="Email" required></div>
							<div class="input-group-icon"><button class="btn-default2" style="border: none;">Go</button>
							</div>
						</div>
					</form>
				</ul>
				<br>
				<ul class="social-list">
					<h4>CONNECT WITH US</h4>
					<li><a href="https://www.facebook.com/JarvisInvest/" target="_blank"><img
								src="./client/image/shares/facebook.png" height="30"></a></li>
					<li><a href="https://www.youtube.com/channel/UCGzPTaRnKZHAgnJxZ1Qb_9Q?view_as=public"
							target="_blank"><img src="./client/image/shares/youtube.png" height="30"></a></li>
					<li><a href="https://twitter.com/JarvisInvest" target="_blank"><img
								src="./client/image/shares/twitter.png" height="30"></a></li>
					<li><a href="https://www.linkedin.com/company/jarvisinvest/" target="_blank"><img
								src="./client/image/shares/linkedin.png" height="30"></a></li>
					<li><a href="https://www.instagram.com/jarvisinvest/" target="_blank"><img
								src="./client/image/shares/instagram.png" height="30"></a></li>
								<li><a href="https://pin.it/46krUWe " target="_blank"><img
									src="./client/image/shares/Telegram.png" height="30"></a></li>
									<li><a href="https://t.me/jarvisinvest" target="_blank"><img
										src="./client/image/shares/Pinterest.png" height="30"></a></li>
				</ul>
			</div>
			<div class="col s12 padding-0" >
				<div class="col s12 article">
					<h2>Connect with us</h2>
				</div>
				<form action="contact.php" method="post" ng-submit="foot.submitContact(contactForm);">
					<div class="col m5 s12" style="padding-left:0px;">
						<div class="form-group">
							<input type="text" ng-model="foot.contact.name" name="name" class="form-control"
								placeholder="Name" required>
						</div>
						<div class="form-group">
							<input type="email" ng-model="foot.contact.email" name="email" class="form-control"
								placeholder="Email" required>
						</div>
						<div class="form-group">
							<input type="text" ng-model="foot.contact.mobile" name="mobile" class="form-control"
								placeholder="Contact Number" required>
						</div>
						<div class="form-group">
							<input type="text" ng-model="foot.contact.subject" name="subject" class="form-control"
								placeholder="Subject">
						</div>
					</div>
					<div class="col m7 s12 pull-right con-text padding-r-0">
						<div class="form-group text-group white">
							<textarea class="textarea form-control" ng-model="foot.contact.message" name="message"
								placeholder="Message"></textarea>
							<button class="hm-btn gradient bt-large">SUBMIT YOUR ENQUIRY</button>
						</div>
					</div>
				</form>
				<div class="clearfix"></div>
			</div>
		</div>
		<!-- <div class="col s12" id="copyright">
			<small>Copyright 2018 @ Ventugrow Consultants Pvt Ltd. All rights reserved.</small>
			<small class="pull-right">Designed By - <a href="#" class="text-white">Monconnect Pvt. Ltd</a></small>
		</div> -->
	</div>
</footer>